<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="혈전을 녹이는 음식"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>혈전을 녹이는 음식</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_9A_111 information-type type-a">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            혈전을 녹이는 음식
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-1">
    <div class="top-area">
        <article class="pb-70">
            <div>
                <span class="tag mb-10 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            start-ms:'300',
                                            transition-props:'[opacity]',
                                            transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">몸속 시한폭탄 혈전,</div>
                    <div class="fs-22 fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            혈전 녹이는 음식이 있다?!
                    </div>
                </div>
                <div class="opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-400%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'900',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            혈관 속에서 피가 굳어져서 생기는 혈전은<br>
                                            다양한 질환을 유발합니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img//9A_111/9A_111_01.png" class="width-100" alt="7,000,000/6,500,000/6,000,000/0, 2019년 6,252,022명/2020년 6,451,152명/2021년 6,748,986명">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            고혈압 진료 환자 추이
                        </h3>
                        <p class="mt-10 fs-14">
                            혈전과 밀접한 질환인 고혈압은<br>
                            매년 증가하고 있습니다.<br>
                            <span class="fs-12">[출처 : 건강보험심사평가원]</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700">
                    그렇다면,<br>
                    혈전을 녹일 수 있는 음식을<br>
                    알아볼게요.
                </div>
                <div class="animation-vertical-box mt-20"
                        style="height:0"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #27809e',
                                    style-af-ani: 'background-color: #23738e',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">1</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        혈관 건강에 좋은 음식은?
                </div>
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    혈전을 녹이는 음식뿐 아니라 혈관에 콜레스테롤이 쌓이는 것을 막아주는 음식도 혈관을 건강하게 만들어 줍니다.
            </div>
            <div class="bull-list-chk mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                <p class="fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        카레
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        카레의 주재료로 알려진 강황에는 혈관 콜레스테롤을 낮춰 주는 커큐민이라는 성분이 있습니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        강황과 후추를 같이 섭취하면 효과가 더 오래 지속됩니다.
                </p>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/9A_111/9A_111_02.png" width="200" alt="카레 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="bull-list-chk mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                <p class="fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        고등어구이
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        생선에 많은 오메가-3는 심혈관 질환 예방 효과가 탁월합니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        또한 포화지방산 걱정 없이 양질의 동물성 단백질을 충분히 섭취할 수 있습니다.
                </p>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/9A_111/9A_111_03.png" width="200" alt="고등어구이 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="bull-list-chk mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                <p class="fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        낫토
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        낫토와 청국장에 많이 들어 있는 나토키나아제가 바로 혈전 용해 효소입니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        나토키나아제는 콩을 발효시킬 때 낫토균이 만들어 냅니다.
                </p>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/9A_111/9A_111_04.png" width="200" alt="닛토 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #23738e',
                                    style-af-ani: 'background-color: #1f667e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        혈관 건강에 해로운 음식은?
                </div>
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    혈관에 콜레스테롤을 많이 쌓이도록 하는 음식은 혈관 건강에 해로운 음식입니다.
            </div>
            <div class="bull-list-chk mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                <p class="fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        기름기가 많거나 기름에 튀긴 음식
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        삼겹살, 감자칩 및 튀김, 베이컨, 소시지, 핫도그 등입니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        대부분 포화지방, 트랜스지방이 많은 음식입니다.
                </p>
            </div>
            <div class="mt-20 text-align-left">
                <img src="../../../resources/v1/img/9A_111/9A_111_05.png" width="200" alt="기름기가 많거나 기름에 튀긴 음식 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="bull-list-chk mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                <p class="fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        콜레스테롤이 많은 음식
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        간, 창자, 내장, 마른오징어, 젓갈입니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        특히 젓갈은 짜기까지 하므로 혈관 건강에 매우 안 좋습니다.
                </p>
            </div>
            <div class="mt-20 text-align-left">
                <img src="../../../resources/v1/img/9A_111/9A_111_06.png" width="200" alt="콜레스테롤이 많은 음식 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="bull-list-chk mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                <p class="fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        인스턴트 식품 및 단 음식
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        공장에서 만든 과자, 달콤한 음식에는 포화지방, 트랜스지방이 많은 경우가 흔합니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                                        그 외에도 술과 콜라는 혈관에 콜레스테롤을 쌓이게 하는 역할을 합니다.
                </p>
            </div>
            <div class="mt-20 text-align-left">
                <img src="../../../resources/v1/img/9A_111/9A_111_07.png" width="200" alt="인스턴트 식품 및 단 음식 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1f667e',
                                    style-af-ani: 'background-color: #1b596e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        왜 혈관 건강을 관리해야 할까요?
                </div>
            </div>
            <div class="mt-5"  
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    건강하지 못한 혈관은 고혈압, 동맥경화의 원인이 되고 심근경색, 뇌졸중의 씨앗이 되기도 합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    혈전이나 동맥경화증과 같은 혈관 관련 질병이 발생하면 빠른 치료가 필요합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    증세가 심하지 않다면 약물을 통해 혈전을 녹이거나 혈관에 쌓인 콜레스테롤을 제거합니다.
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/9A_111/9A_111_08.png" width="200" alt="혈관 건강 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    하지만 증세가 심해진다면 시술이나 수술을 통해 직접 원인을 제거해야 합니다.
            </div>
            <div class="mt-5 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    풍선을 사용하는 혈관 성형술, 스텐트 삽입술, 동맥 내막 절제술, 동맥 우회로 수술 등이 있습니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    혈관 건강을 좌우하는 가장 근본적인 원인은 식생활입니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    그러므로 음식을 주의해야 합니다.
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/9A_111/9A_111_09.png" width="200" alt="음식을 주의해야 합니다. 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    개인연금 중에서도 세금 걱정 없는 연금도 있으니,
                </div>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    꼼꼼히 검토해 보시기 바랍니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #154656;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- 상품영역 -->
        <div id="ins_view" class="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>