<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/v1/css/import_pc.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link_pc.js"></script>

    <title>pc 공통영역</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body>
    <!-- [S] skip-nav -->
    <div class="skip_nav">
        <a href="#container">본문 바로가기</a>
    </div>
    <!-- [E] skip-nav -->

    <div class="wrap type_a">
        <!-- s: header -->
        <header id="header">
            <div class="header_inner">
                <div class="logo"><a href="#">KYOBO 교보문고</a></div>
                <!-- <h1 class="hidden">회사소개</h1>
                <ul class="company_gnb">
                    <li class="section">
                        <div class="title"><a href="#">교보문고</a></div>
                        <div class="layer">
                            <ul>
                                <li><a href="#">CEO인사말</a></li>
                                <li><a href="#">교보문고비전</a></li>
                                <li><a href="#">연혁</a></li>
                                <li><a href="#">NEWS</a></li>
                                <li><a href="#">교보문고 CI</a></li>
                                <li><a href="#">윤리경영/공정거래</a></li>
                                <li><a href="#">오시는길</a></li>
                            </ul>
                        </div>
                    </li>
                </ul> -->
                <ul class="company_snb clear">
                    <li class="fl"><a id="link_home" target="_blank">인터넷교보문고</a></li>
                    <li class="fl"><a id="link_store" target="_blank">매장안내</a></li>
                    <li class="fl"><a id="link_join" target="_blank">회원가입</a></li>
                    <li class="fl"><a id="link_login" target="_blank">로그인</a></li>
                    <!-- user 상태 로그인인 경우 로그아웃 버튼 노출 -->
                    <!-- <li class="fl"><a href="javascript:void(0);">로그아웃</a></li> -->
                </ul>
            </div>
        </header>
        <!-- e: header -->

        <!-- s: container -->
        <div id="container">
            <div class="content">
                <ul>
                    <li class="first">
                        <section class="section">
                            <div class="con opacity-0"
                                data-animation-type="onload"
                                data-animation-infos="remove-class-nm: 'opacity-0',
                                                    start-ms:'300',
                                                    transition-props:'[opacity]',
                                                    transition-duration:'0.7s'">
                                <div class="frag">
                                    <span>질병</span>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- e: container -->

        <!-- s: footer -->
        <footer id="footer">
            <div class="footer_inner">
                <ul class="footer_top">
                    <li><a id="link_provision" target="_blank">이용약관</a></li>
                    <li><a id="link_privacy" target="_blank"><strong>개인정보처리방침</strong></a></li>
                    <li><a id="link_youth" target="_blank" href="">청소년보호정책</a></li>
                    <li><a id="link_suggest" target="_blank" href="">제휴·제안</a></li>
                    <li><a id="link_csCenter" target="_blank">고객센터</a></li>
                    <li><a id="link_store" target="_blank">매장안내</a></li>
                </ul>

                <div class="footer_btm">
                    <div class="logo_area">
                        <img src="../../../resources/v1/img_pc/icon/logo.png" alt="KYOBO 교보문고">
                    </div>
                    <div class="info_area">
                        <address>
                            ㈜ 교보문고 &nbsp; 서울시 종로구 종로 1 &nbsp; 대표이사 : 안병현 &nbsp; 사업자등록번호 : 102-81-11670<br>
                            대표전화 : 1544-1900 (발신자 부담전화)  &nbsp;  팩스 : 0502-987-5711 (지역번호공통)<br />
                            서울특별시 통신판매업신고번호 : 제 653호  ▶<a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1028111670" target="_blank" title="새 창 열림">사업자정보확인</a><br />
                            <div class="copy">COPYRIGHT(C) <strong>KYOBO BOOK CENTRE</strong> ALL RIGHTS RESERVED.</div>
                        </address>
                    </div>
                </div>
            </div>
        </footer>
        <!-- e: footer -->
    </div>

    <script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="../../../resources/v1/js/open_Customer-Journey.js"></script>
    <script>
        //애니메이션 설정 로딩
        AnimationManager.loadElementsToAnimate();
    </script>
</body>
</html>