<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/swiper-bundle.min.css">
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>당뇨환자가 마실 수 있는 음료는?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_13C_031 type-b bg-10">
<!--gnb(헤더 - 뒤로가기)-->
    <nav class="bg-white fc-1">
        <a href="javascript:history.back()" class="go-back-btn">
            <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg">
        </a>
        <div>
            당뇨환자가 마실 수 있는 음료는?
        </div>
        <div></div>
    </nav>
    <!--서버로부터 전달받는 변수영역-->
    <input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
    <input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
    <header>
        <article class="fc-white">
            <span class="tag opacity-0"
                          data-animation-type="onload"
                          data-animation-infos="remove-class-nm: 'opacity-0',
                                               start-ms:'300',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">당뇨</span>
            <div class="mt-10">
                <h1 class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                                   style-bf-ani: 'transform:translateY(-100%);',
                                                   style-af-ani: 'transform:',
                                                   start-ms:'500',
                                                   transition-props:'[opacity,transform]',
                                                   transition-duration:'0.8s'">당뇨환자,</h1>
                <h1 class="strong-underline opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                                   style-bf-ani: 'transform:translateY(-250%);',
                                                   style-af-ani: 'transform:',
                                                   start-ms:'700',
                                                   transition-props:'[opacity,transform]',
                                                   transition-duration:'0.8s'">
                    음료 하나 고르는 것도 쉽지 않아요!
                </h1>
            </div>
            <div class="mt-10 opacity-0 mb-30"
                 data-animation-type="onload"
                 data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-400%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'900',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                        <span>
                        당뇨는 철저한 식단 관리가<br>중요한 생활습관병입니다.
                        </span>
            </div>
            <div id="swiper-container" class="swiper-container opacity-0"
                 data-animation-type="onload"
                 data-animation-infos="remove-class-nm: 'opacity-0',
                                       style-bf-ani: 'transform:translateX(100%);',
                                       style-af-ani: 'transform:',
                                       start-ms:'300',
                                       transition-duration:'0.7s',
                                       transition-props:'[transform]'">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-banner-wrapper first-slide">
                            <img src="../../../resources/v1/img/13C_031-img-01.gif" width="315px">
                            <div class="title" >
                                <div class="half-line bg-black"></div>
                                <div class="title-msg bg-white">
                                    <h3 class="fw-700 fc-2">‘매일 마시는 커피’,<br>
                                        ‘청량감을 주는 탄산수’<br>
                                        먹어도 괜찮을까요?
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/13C_031-img-02.gif" width="160px">
                            <h3 class="mt-0 mb-0 section-no fw-700">01</h3>
                            <h3 class="fw-700 fc-2">커피! 괜찮습니다.<br>
                                설탕만 조심해서 맛있게 드세요!
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <h3 class="fw-700 mb-20">당뇨와 하루 커피 실험</h3>
                            <img class="mt-20" src="../../../resources/v1/img/13C_031-img-03.png" width="100%">
                            <p class="mt-5 fs-8 fc-4">(출처: 강원대 연구팀)</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img class="mt-20" src="../../../resources/v1/img/13C_031-img-04.svg" width="160px">
                            <p class="mt-5 fs-7">커피 속 항산화물질인 클로로겐산이<br>
                                인슐린 저항성을 낮추는 작용을 합니다.<br>
                                <span class="fw-700">단, 설탕과 크림은 혈당을 높이므로 주의하세요.</span>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/13C_031-img-05.gif" width="160px">
                            <h3 class="mt-0 mb-0 section-no fw-700">02</h3>
                            <h3 class="fw-700 fc-2">탄산수! 괜찮습니다.<br>
                                탄산음료 대신 시원하게 드세요!
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img class="mt-20" src="../../../resources/v1/img/13C_031-img-06.svg" width="160px">
                            <h3 class="fw-700">열량 0Kcal, 당류 0g인 탄산수</h3>
                            <p class="mt-5 fs-7">1. 천연적으로 탄산가스를 함유한 물<br>
                                2. 물에 탄산가스를 주입한 것<br>
                                <span class="fw-700">과도하게 마시지 않는다면 건강에 문제가 없어요!</span>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img class="mt-20" src="../../../resources/v1/img/13C_031-img-07.svg" width="160px">
                            <h3 class="fw-700">당함량이 많은 탄산음료는 혈당을 높여요.</h3>
                            <p class="mt-5 fs-7">- 탄산음료 1회 제공량(250ml)의 당 함유량<br>
                                : 평균 24g(식품의약안전처)<br>
                                - WHO 권장 1일 당 섭취량 50g의 절반 수준
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img class="mt-20" src="../../../resources/v1/img/13C_031-img-08.svg" width="160px">
                            <h3 class="fw-700">당뇨가 있는데<br>
                                탄산음료가 정말 마시고 싶다면<br>
                                탄산수가 답입니다.
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper transparent-hide">
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination mt-10"></div>
            </div>

            <div class="display-none" id="nextDiv">
                <div class="mb-30">
                    <img class="mt-30 transition-all"
                         src="../../../resources/v1/img/check-bg-white.svg" width="50px" id="animation01">
                    <p class="mt-5 mb-5 transition-all" id="animation02">
                        대한민국 ‘국민병’이라는 당뇨,
                    </p>
                    <h1 class="fw-700 transition-all" id="animation03">
                        어느 날 갑자기<br>
                        발병하는 것이 아닙니다.
                    </h1>
                </div>

                <div class="animation-vertical-box"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'height: 0px',
                                       style-af-ani: 'height: 150px',
                                       scroll-duration: 100',
                                       trigger-hook: '0.7'">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </header>
    <section class="display-none"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color:#6a50c2;', style-af-ani: 'background-color:#5043A0;'">
        <article class="text-align-center fc-white">
            <p class="fs-3 mt-25"
               data-animation-type="onscroll"
               data-animation-infos="style-bf-ani: 'transform:translateX(40px); opacity:0',
                                           style-af-ani: 'transform:translateX(0px); opacity:1'">
                지금 당장 혈당이 낮다고 안심은 금물!<br>
                당뇨병이 보내는 작은 신호, 무시해서는 안됩니다.
            </p>
            <img class="mt-30"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'transform:translateX(40px); opacity:0',
                                           style-af-ani: 'transform:translateX(0px); opacity:1'"
                 src="../../../resources/v1/img/13C_031-img-09.png" width="100%">
            <div class="mt-30">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50px"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                      style-af-ani: 'opacity:1'">
                    당뇨도 보험으로<br>
                    보장받을 수 있습니다.
                </h1>
            </div>
        </article>
    </section>
    <!--콘텐츠 평가영역-->
    <section id="feedback-area" class="bg-14 display-none">
        <article class="text-align-center fc-white">
            <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
            <div class="feedback-btn-box mt-10 text-align-center">
                <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                <label class="feedback-btn" for="feedback-radio-01">
                    <img src="../../../resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                    <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                </label>
                <div class="vertical-line mb-15"></div>
                <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                <label class="feedback-btn" for="feedback-radio-02">
                    <img src="../../../resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                    <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                </label>
            </div>
        </article>
    </section>

    <!--로딩스크린-->
    <div class="text-align-center loading-screen" data-is-playing-loading="false">
        <lottie-player src="../../../resources/v1/img/loading-animation.json"
                       background="transparent"
                       style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
        </lottie-player>
        <div class="fc-2 fs-6 fw-500">
            고객님에게 맞는 <b>교보생명</b> 상품으로<br>
            이동중이에요!
        </div>
    </div>
    <script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
    <script src="../../../resources/v1/js/Customer-Journey.js"></script>
    <script>
        const swiper = new Swiper(".swiper-container",{
            loop: false,
            pagination:{
                el: '.swiper-pagination',
                type: 'bullets',
                bulletClass: 'swiper-my-bullet',
                bulletActiveClass: 'active',
            }
        });

        EventProcessor.setUserInLastPage(false);
        swiper.on('slideChange',swiper=>{
            //마지막 슬라이드 도착 시
            if(swiper.realIndex === swiper.slides.length-1) {
                document.querySelector('#nextDiv').style.marginTop=`-${document.querySelector('.swiper-wrapper').clientHeight}px`;
                [...document.querySelectorAll('.display-none')].forEach(elem => {
                    elem.classList.add('displayed');
                    elem.classList.remove('display-none');
                });
                document.querySelector('.swiper-pagination').classList.add('display-none');
                window.setTimeout(()=> {
                    document.querySelector('#animation01').style.opacity='1';
                    document.querySelector('#animation01').style.transform='';
                }, 100);
                window.setTimeout(()=> {
                    document.querySelector('#animation02').style.opacity='1';
                    document.querySelector('#animation02').style.transform='';
                }, 400);
                window.setTimeout(()=> {
                    document.querySelector('#animation03').style.opacity='1';
                    document.querySelector('#animation03').style.transform='';
                }, 600);
                EventProcessor.setUserInLastPage(true);
                customerJourney.setElemsAniOnScroll();
            }
            else{
                [...document.querySelectorAll('.displayed')].forEach(elem => {
                    elem.classList.add('display-none');
                });
                document.querySelector('.swiper-pagination').classList.remove('display-none');
                document.querySelector('#animation01').style.opacity='0';
                document.querySelector('#animation01').style.transform='scale(3.3)';
                document.querySelector('#animation02').style.opacity='0';
                document.querySelector('#animation02').style.transform='translateY(-40px)';
                document.querySelector('#animation03').style.opacity='0';
                document.querySelector('#animation03').style.transform='translateY(-80px)';
                EventProcessor.setUserInLastPage(true);
            }
        })

        customerJourney.setElemsAniOnLoad();

        //컴포넌트 이벤트 및 기본설정
        EventProcessor.initSetting({
            contentsId : '13C_031',  //콘텐츠id
            linkInfoForInsurance : {
                //상품 링크 url
                url : 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000881&evcode=DCJ_MO',
                //상품명
                name : '(무)교보내맘쏙건강보험(DM)',
                //상품 이미지 url
                imgUrl : '/resources/v1//img/img-product-svg-health-life.svg',
                //상품 설명
                explain : '부족한 보장을 꽉 채운 건강보험',
                //심의필
                certificationMsg : '생명보험협회 심의필 제 2022-05466호 (2022-12-27 ~ 2023-12-26)'
            },
            linkInfoForService : {
                //부가서비스 링크 url
                url : 'https://www.kyobo.com/dgt/web/product/healthBasic-service',
                //부가서비스명
                name : '교보헬스케어서비스Basic II',
                //부가서비스 이미지 url
                imgUrl : '/resources/v1/img/img-service-svg-healthcare-basic.svg',
                //부가서비스 설명
                explain : '꼭 필요한 것만 담은 똑똑한 건강가이드'
            }
        });
    </script>
</body>
</html>