<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/swiper-bundle.min.css">
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>어떤 대출을 받아야 할까요?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_2B_039 information-type type-a bg-9 fc-white">
<!--gnb헤더 영역-->
<nav class="bg-white">
    <a href="javascript:history.back()" class="go-back-btn">
        <img src="/resources/v1/img/ico-kyobobook-gnb-back.svg">
    </a>
    <div class="fc-1">
        어떤 대출을 받아야 할까요?
    </div>
    <div></div>
</nav>
    <!--서버로부터 전달받는 변수영역-->
    <input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
    <input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
    <header>
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            start-ms:'300',
                                            transition-props:'[opacity]',
                                            transition-duration:'0.7s'">질병</span>
                <div>
                    <h1 class="fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">요즘 유난히 뱃살이 나와서</h1>
                    <h1 class="fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">운동을 시작했어요.</h1>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-400%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'900',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            근데 뱃살이 빠질 생각을 안 하네요.<br>
                                            도대체 뭐가 문제일까요?
                </div>
            </div>
            <div class="main-banner-wrapper mt-30 mb-5 opacity-0"
                 data-animation-type="onload"
                 data-animation-infos="remove-class-nm: 'opacity-0',
                                       style-bf-ani: 'transform:translateX(100vw);',
                                       style-af-ani: 'transform:',
                                       start-ms:'300',
                                       transition-duration:'0.7s',
                                       transition-props:'[transform]'">
                <img src="/resources/v1/img/17B_020_img-01.svg" class="width-100">
                <div class="mt-20">
                    <h3 class="fw-700">뱃살이 나오는 원인</h3>
                    <p class="mb-0 mt-10">과식, 폭식을 하거나 운동 부족인 경우, 유전적인 경우,<br>
                        식사 후 바로 앉아서 일하는 경우</p>
                </div>
            </div>

            <div class="mt-40">
                <h2 class="fw-700 mb-20">그런데 여성의 경우 뱃살은<br>
                    단순 운동 부족이나 과식 때문이<br>
                    아닐 수도 있습니다.</h2>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </header>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                style-af-ani: 'background-color: #c34c4c',
                                scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">범인은 바로 자궁근종!
                </h1>
            </div>
            <div>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        자궁근종으로 인해 아랫배가 볼록하게 나오는 경우도 있기 때문이죠.
                </p>
                <div class="text-align-right mt-20">
                    <img src="/resources/v1/img/17B_020_img-02.svg" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                            style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
            </div>

            <div class="mt-25">
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        그런데 대부분은 질환이 아닌 단순한 복부비만 인줄 알고 근종을 방치하여 병을 키우는 사례가 늘고 있다고 해요.
                </p>
                <div class="mt-20">
                        <img src="/resources/v1/img/17B_020_img-03.svg"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                                    style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #ad4444',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">자궁근종은 자궁의 물혹이라고 합니다.</h1>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">자궁근종은 근육에 생기는 양성종양 으로 가임기 여성 25~35%에서 발견 되는 흔한 질환이에요.</p>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                <div class="text-align-center mt-20">
                    <img src="/resources/v1/img/17B_020_img-04.png" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-30 mb-0 fs-5">유전적 원인, 에스트로겐와 프로게스테론 등 여성 호르몬적 원인, 환경적 요인 등에 영향을 받는다고 알려져 있어요.</p>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                <div class="text-align-center mt-20">
                    <img src="/resources/v1/img/17B_020_img-05.svg" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        30~40세 여성 2명 중 1명에게<br>
                                        발생합니다.
                </h1>
            </div>
            <!-- <p class="mt-5 mb-0 fs-5">문제는 발생률이 높지만 대부분 초기 증상이 없기 때문에 병을 키울수있어요.</p> -->
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">문제는 발생률이 높지만 대부분 초기 증상이 없기 때문에 병을 키울수있어요.</p>
            </div>
            <div class="mt-20">
                <img src="/resources/v1/img/17B_020_img-06.png" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                            style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
            <div class="mt-30">
                <p class="mt-0 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    당연히 별일 없겠지만 자궁 나팔관 연결부위를 막는 등 위치가 나쁘면 불임의 원인이 될 수 있거든요.
                </p>
                <div class="text-align-right mt-20">
                    <img src="/resources/v1/img/17B_020_img-07.svg" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
            </div>
            <div class="mt-30">
                <p class="mt-0 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    자궁근종이 빠르게 자라거나 증상을 유발하는 경우에는 치료를 받아야해요.<br>
                    일반적으로 수술치료와 약물치료를 받게 됩니다.
                </p>
                <div class="text-align-left mt-20">
                    <img src="/resources/v1/img/17B_020_img-08.svg" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                    style-af-ani: 'background-color: #823333',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0;',
                                        style-af-ani: 'margin-left:0px; opacity:1;'">자궁근종 자가 체크리스트</h1>
            </div>
            <div class="mt-20">
                <div class="bull-list-chk" 
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">생리를 조금씩 오래한다.</p>
                </div>
                <div class="bull-list-chk" 
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">생리양이 많고 덩어리가 많이 나온다.</p>
                </div>
                <div class="bull-list-chk" 
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">생리 기간이 아닌데 부정기적인 출혈이 있다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">생리 전후 피부 트러블이 심하다.</p>
                </div>
                <div class="bull-list-chk" 
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">손톱, 발톱이 얇아지고 잘 부러진다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">생리 기간이 아닌데 허리, 골반통증을 느낀다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">쉽게 숨이 찬다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">평소보다 머리카락이 많이 빠진다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">어깨 통증이 잦고 몸이 자주 쑤신다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">피로를 잘 느끼고 쉽게 짜증이 난다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">하복부에 딱딱한 혹이 만져진다.</p>
                </div>
                <div class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                    <p class="mt-5 mb-0 fs-5">아랫배가 나오고 가스가 잘 찬다.</p>
                </div>
            </div>
            <div>
                <p class="mt-20 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    5개 이상 체크되면 전문상담을 추천합니다.</p>
                <p class="mt-5 mb-0 fs-8"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    (출처 : 건국대학교 공식포스트)</p>
                <div class="mt-25 text-align-center">
                    <img src="/resources/v1/img/17B_020_img-09.svg"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                </div>
            </div>

            <div class="mt-30 text-align-center fc-white">
                <img src="/resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">

                <h1 class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    <span class="fw-700">평소와 다른 증상을 느꼈다면<br>병원에서 정확한 진단을 받아야겠죠?</span>
                    <br>
                </h1>
                <p class="mt-10 text-align-center fs-4 mb0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    그리고 내 보험에 여성질환 담보가<br>
                    잘 가입되어 있는지 살펴보시면 더 좋겠어요.
                </p>
            </div>
        </article>
    </section>

<!--콘텐츠 평가영역-->
<section id="feedback-area">
    <article class="text-align-center fc-white">
        <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
        <div class="feedback-btn-box mt-10 text-align-center">
            <div class="feedback-btn-box-inner">
                <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                <label class="feedback-btn" for="feedback-radio-01">
                    <img src="/resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                    <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                </label>
            </div>
            <div class="vertical-line mb-15"></div>
            <div class="feedback-btn-box-inner">
                <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                <label class="feedback-btn" for="feedback-radio-02">
                    <img src="/resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                    <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                </label>
            </div>
        </div>
    </article>
</section>

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="/resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

    <script src="/resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
    <script src="/resources/v1/js/Customer-Journey.js"></script>
    <script>
        try {
            //애니메이션 설정 로딩
            AnimationManager.loadElementsToAnimate();

            //컴포넌트 이벤트 및 기본설정
            EventProcessor.initSetting({
                contentsId: '2B_039',  //콘텐츠id
                linkInfoForInsurance: {
                    //상품 링크 url
                    url: 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000938&evcode=DCJ_MO',
                    //상품명
                    name: '(무)교보시작해요저축보험',
                    //상품 이미지 url
                    imgUrl: '/resources/v1/img/img-product-svg-saving.svg',
                    //상품 설명
                    explain: '소액으로 차근차근 오늘부터 시작해요',
                    //심의필
                    certificationMsg: '생명보험협회 심의필 제 2022-05463호 (2022-12-27 ~ 2023-12-26)'
                },
                linkInfoForService: {
                    //부가서비스 링크 url
                    url: 'https://www.kyobo.com/dgt/web/customer/service/assets-management',
                    //부가서비스명
                    name: '자산관리서비스',
                    //부가서비스 이미지 url
                    imgUrl: '/resources/v1/img/img-service-svg-finance-manage.svg',
                    //부가서비스 설명
                    explain: '소중한 자산을 든든하게 관리해주는 서비스'
                }
            });
        }
        catch(error){
            alert(error);
            alert(error.stack);
        }
    </script>
</body>
</html>