<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper-bundle.min.css">
    <link href="../img/favicon.ico" rel="shrtcut icon">
    <link href="../img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>뉴스형-헤어진연인</title>
</head>
<body class="information-type type-a bg-9">
    <header>
        <article>
            <div>
                <span class="tag mb-15 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                           start-ms:'300',
                                           transition-props:'[opacity]',
                                           transition-duration:'0.7s'">자산관리</span>
                <div>
                    <h1 class="fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                           style-bf-ani: 'transform:translateY(-100%);',
                                           style-af-ani: 'transform:',
                                           start-ms:'500',
                                           transition-props:'[opacity,transform]',
                                           transition-duration:'0.8s'">당신의 처방을 말해 주세요!</h1>
                    <h1 class="fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                           style-bf-ani: 'transform:translateY(-250%);',
                                           style-af-ani: 'transform:',
                                           start-ms:'700',
                                           transition-props:'[opacity,transform]',
                                           transition-duration:'0.8s'">
                        오늘의 사연은?
                    </h1>
                </div>
            </div>
            <div class="main-banner-wrapper mt-25 mb-5 position-relative"
                 data-animation-type="onload"
                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                       style-af-ani: 'transform:',
                                       start-ms:'300',
                                       transition-duration:'0.7s',
                                       transition-props:'[transform]'">
                <img src="../img/20221024/type-information-2-img-01.png" width="315">
                <div class="mt-10">
                    <h3 class="fw-700">친한 친구가 연인과 헤어지고 난 후<br>
                        6개월 동안 매일 눈물바람에<br>
                        아무 일도 못 하고 있어요</h3>
                    <div class="fs-6 mt-10 fc-4"><span>정신을 차릴 수 있도록 따끔한 조언 부탁드려요!</span></div>
                </div>
            </div>

            <div class="mt-40 pd-bt-20">
                <h2 class="fw-700">지금부터</h2>
                <h2 class="fw-700">베스트 처방에 대해서</h2>
                <h2 class="fw-700">알아볼게요</h2>
            </div>
            <div class="animation-vertical-box"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'height: 0px',
                                   style-af-ani: 'height: 100px',
                                   scroll-duration: 100">
                <div class="animation-vertical"></div>
            </div>
        </article>
    </header>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #D95555',
                                   style-af-ani: 'background-color: #C34C4C',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">1</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >오늘의 베스트 처방 </h1>
            <div data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">대출을 풀로 받아서 주식을 하세요^^</p>
            </div>

            <div class="mt-25">
                <img src="../img/20221024/type-information-2-img-02.png" width="200"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
            <div class="mt-30"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                <span class="fw-700">[베스트 처방 효과]</span><br>
                <span>매일 차트 보고, 뉴스 보느라 금방 잊을 수 있습니다.</span>
                <div class="text-align-right mt-25">
                    <img src="../img/20221024/type-information-2-img-03.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                          style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
            </div>
            <div class="mt-30"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                <span class="fw-700">[베스트 처방 효과]</span><br>
                <span>애인도 잃고 돈도 잃을 수 있습니다.</span>
                <div class="text-align-left mt-25">
                    <img src="../img/20221024/type-information-2-img-04.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
            </div>
            <div class="text-align-center mt-30">
                <img id="pic08" src="../img/20221024/check.png" width="50"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    분명히 부작용도 말했어요!
                </h1>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #C34C4C',
                                   style-af-ani: 'background-color: #ad4444',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">2</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >그래도 효과가 없다면... </h1>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">그땐 코인을 하세요!</p>
                </div>

                <div class="text-align-right mt-25">
                    <img src="../img/20221024/type-information-2-img-05.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                          style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>

                <div class="mt-30"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    <span class="fw-700">[처방 효과]</span><br>
                    <span>24시간 거래가 가능해 잠 잘 시간도 없습니다.</span>
                    <div class="text-align-left mt-25">
                        <img src="../img/20221024/type-information-2-img-06.png" width="200"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                    </div>
                </div>

                <div class="mt-30"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    <span class="fw-700">[처방 부작용]</span><br>
                    <span>1억 원을 만들 수 있음!!!<br>
                    단, 2억 원을 투자해야 합니다.</span>
                    <div class="text-align-right mt-25">
                        <img src="../img/20221024/type-information-2-img-07.png" width="200"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                          style-af-ani: 'margin-right: 0px; opacity:1'">
                    </div>
                </div>
                <div class="text-align-center mt-30">
                    <img src="../img/20221024/check.png" width="50"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                    <h1 class="fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        걱정을 더 큰 걱정으로
                    </h1>
                </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                   style-af-ani: 'background-color: #983B3B',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">3</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >코로나19도, 우크라이나 전쟁도,</h1>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">전혀 예측하지 못한 일이 일어나는 것이<br>
                        투자의 세계입니다.</p>
                </div>

                <div class="text-align-right mt-25">
                    <img src="../img/20221024/type-information-2-img-08.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                          style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>

                <div class="text-align-center mt-30">
                    <img src="../img/20221024/check.png" width="50"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                    <h1 class="fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        그래서 분산, 분산하는군하!<br>
                        우리 인생도 그렇습니다.
                    </h1>
                </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #983B3B',
                                   style-af-ani: 'background-color: #823333',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">4</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >어제까지 아프지 않았다고</h1>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >내일도 건강한 것은 아닙니다,</h1>
                <div class="text-align-right mt-25">
                    <img src="../img/20221024/type-information-2-img-09.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                          style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>

                <div class="mt-30"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    <span>아프면 애인이 문제가 아니라 모든 인생계획이 망가집니다..</span>
                    <div class="text-align-left mt-25">
                        <img src="../img/20221024/type-information-2-img-10.png" width="200"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                    </div>
                </div>

                <div class="text-align-center mt-30">
                    <img src="../img/20221024/check.png" width="50"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                    <h1 class="fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        건강부터 먼저 챙기세요~
                    </h1>
                </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #823333',
                                   style-af-ani: 'background-color: #6C2A2A'">
        <article class="text-align-center"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
            <h3 class="fw-700 text-align-left">잠깐! 확인 한 번 해보세요!</h3>
            <div class="footer-banner-zone mt-15 text-align-center">
                <img src="../img/20221024/type-information-2-img-11.png" width="80">
                <div class="mt-15">
                    <h4 class="fw-700">(무)교보미니저축보험</h4>
                    <div class="mt-5 mb-15"><small>매달 3만원부터, 지금 시작해도 늦지 않아요.</small></div>
                </div>
<!--                <div class="banner-box mt-20 mb-20">-->
<!--                    <div id="pic09" class="img-content testing-box">-->
<!--                        <h4  class="mt-5 mb-5">IMG Area<br>-</h4>-->
<!--                        <span>이미지 노출영역<br>(1:1 비율로 노출)</span>-->
<!--                    </div>-->
<!--                    <div class="text-align-left">-->
<!--                        <div class="fw-500">일이삼사오육칠팔구십</div>-->
<!--                        <div class="mt-5">-->
<!--                            <small>일이삼사오육칠팔구십일이<br>-->
<!--                                일이삼사오육칠팔</small>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="footer-banner-link">
                    <a class="fw-700" href="#">더 알아보기</a>
                    <div class="link-img"></div>
                </div>
            </div>
            <div class="text-align-center mt-30">
                <h4 class="fw-500">
                    이 콘텐츠가 도움이 되었나요?
                </h4>
                <div id="star-points-box" class="mt-10">
                    <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                    <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                    <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                    <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                    <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                    <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                    <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                    <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                    <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                    <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                    <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                    <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                    <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                    <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                    <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                </div>
            </div>
            <form class="visibility-hidden">
                <textarea id="userComment" class="mt-15" placeholder="위염에 대한 유익한 정보 감사합니다!"></textarea>
                <button class="mt-30 mb-30" type="submit" disabled>제출하기</button>
            </form>
        </article>
    </section>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/Customer-Journey.js"></script>
    <script>
        const swiper = new Swiper(".swiper-container",{
            loop: true,
            pagination:{
                el: '.swiper-pagination',
                type: 'bullets',
                bulletClass: 'swiper-my-bullet',
                bulletActiveClass: 'active'
            }
        });
        document.documentElement.style.setProperty('--vscrollwidth', `${window.innerWidth-document.documentElement.clientWidth}px`);
        document.documentElement.style.setProperty('--1vw', `${Math.round(document.documentElement.clientWidth/100*10)/10}px`);
        document.documentElement.style.setProperty('--1vh', `${Math.round(document.documentElement.clientHeight/100*10)/10}px`);

        customerJourney.loadElementsToAnimate();
        customerJourney.addEventToStars();
        customerJourney.addEventToTextArea();
    </script>
</body>
</html>