<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/swiper-bundle.min.css">
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>10년 후 부자는?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_2D_015 survey-type bg-6">
<!--gnb헤더 영역-->
<nav class="bg-white">
    <a href="javascript:history.back()" class="go-back-btn">
        <img src="/resources/v1/img/ico-kyobobook-gnb-back.svg">
    </a>
    <div>
        10년 후 부자는?
    </div>
    <div></div>
</nav>
    <!--서버로부터 전달받는 변수영역-->
    <input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
    <input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

    <div class="main-wrapper">
        <header>
            <div id="survey-area">
                <article class="fc-white">
                    <span class="tag opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                               start-ms:'300',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">자산관리</span>
                    <p class="mt-10">
                        <h1 class="opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-100%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'500',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">10년 후 누가</h1>
                        <h1 class="strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-250%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'700',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                            더 많은 돈을 모았을까요?
                        </h1>
                    </p>
                    <div class="opacity-0"
                         data-animation-type="onload"
                         data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-400%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'900',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                        <span>
                        두 명의 친구가 같은 시기에<br>1억 원을 투자했습니다.
                        </span>
                    </div>
                </article>

                <form class="survey-form">
                    <ul class="vertical-ul">
                        <li class="fs-0"
                            data-animation-type="onresult"
                            data-animation-infos="style-af-ani:'transform:translateX(-50%);',
                                                  start-ms:'0'">
                            <div class="li-item opacity-0"
                                 data-animation-type="onload"
                                 data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1000',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey" value="1" id="answer-01">
                                <label for="answer-01">
                                    <div class="radio-btn bdc-5"></div>
                                    <div class="fs-5 contents">
                                        <small class="fc-4">매년 10%씩 꾸준히</small>
                                        <div class="mt-5">수익률을 올린 친구 A</div>
                                    </div>
                                    <img src="/resources/v1/img/2D_015_img-01.png" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small class="fc-4">매년 10%씩 꾸준히</small>
                                    <div>수익률을 올린 친구 A</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block result-ratio">-</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li class="fs-0"
                            data-animation-type="onresult"
                            data-animation-infos="style-af-ani:'transform:translateX(-50%);',
                                                  start-ms:'300'">
                            <div class="li-item opacity-0"
                                 data-animation-type="onload"
                                 data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1500',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey" value="2" id="answer-02">
                                <label for="answer-02">
                                    <div class="radio-btn bdc-5"></div>
                                    <div class="fs-5 contents">
                                        <small class="fc-4">한해는 +40%, 한해는 -20%</small>
                                        <div class="mt-5 contents">수익률을 반복한 친구 B</div>
                                    </div>
                                    <img src="/resources/v1/img/2D_015_img-02.svg" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small class="fc-4">한해는 +40%, 한해는 -20%</small>
                                    <div>수익률을 반복한 친구 B</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block result-ratio">-</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                    </ul>
                </form>
                <div class="footer-area pd-bt-35">
                    <button type="submit" id="goNextBtn" class="bg-11 fs-4 fw-700" data-is-not-result-page="true" disabled>설문 확인하기</button>
                    <div class="text-align-center" data-is-not-result-page="false">
                        <img src="/resources/v1/img/2D_015_img-03.gif" width="300px" class=""
                             data-animation-type="onresult"
                             data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                                   style-af-ani: 'transform:translateX(0px); opacity:1',
                                                   start-ms: '600'">
                        <h2 class="fw-700 mt-20 mb-0 fc-1"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                                   style-af-ani: 'transform:translateX(0px); opacity:1',
                                                   start-ms: '900'">
                            <span class="fc-12">꾸준히 수익률을 올린 친구</span>가<br>
                            더 많은 돈을 모으게 됩니다.
                        </h2>
                    </div>
                    <div data-is-not-result-page="false" class="text-align-center">
                        <div class="chart-img-explain-box mt-20">
<!--                            <div class="title-area active">-->
<!--                                <div class="bg-12 fc-white">-->
<!--                                    <h2 class="fw-700">A</h2>-->
<!--                                    <small>친구</small>-->
<!--                                </div>-->
<!--                                <div class="explain">-->
<!--                                    <div class="fs-8">매년 10% 수익률이 올랐다면?</div>-->
<!--                                    <div class="fc-12 fs-5 fw-700">1억 → 10년 후 2억 5,937만원</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="text-align-right">-->
<!--                                <small>단위 : 만원</small>-->
<!--                            </div>-->
                            <img src="/resources/v1/img/2D_015_img-04.png" width="300px"
                                 data-animation-type="onscroll"
                                 data-animation-infos="style-bf-ani: 'opacity: 0',
                                                       style-af-ani: 'opacity: 1'">
                        </div>
                        <div class="chart-img-explain-box mt-20 mb-25">
<!--                            <div class="title-area active">-->
<!--                                <div class="bg-16 fc-white">-->
<!--                                    <h2 class="fw-700">A</h2>-->
<!--                                    <small>친구</small>-->
<!--                                </div>-->
<!--                                <div class="explain">-->
<!--                                    <div class="fs-8">연 40% 수익률, 연 -20% 수익률이 반복되었다면?</div>-->
<!--                                    <div class="fs-5 fw-700">1억 → 10년 후 1억 7,623만원</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="text-align-right">-->
<!--                                <small>단위 : 만원</small>-->
<!--                            </div>-->
                            <img src="/resources/v1/img/2D_015_img-05.png" width="300px"
                                 data-animation-type="onscroll"
                                 data-animation-infos="style-bf-ani: 'opacity: 0',
                                                       style-af-ani: 'opacity: 1'">
                        </div>
                        <div class="animation-vertical-box"
                             style="height: 0"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'height: 0px',
                                       style-af-ani: 'height: 100px',
                                       scroll-duration: 100">
                            <div class="animation-vertical"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section data-is-not-result-page="false"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'background-color: #f4f4f4',
                                   style-af-ani: 'background-color: #E9ECF0',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
            <article class="text-align-center fc-1">
                <div class="title-msg mt-10">
                <div class="section-no center-style fw-700 fc-5"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:0.5'">-1-</div>
                    <h1 class="fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                    >실질 수익률 분석 해볼까요?</h1>
                </div>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5 fc-16">40%와 -20%가 반복되면 연평균 10% 수익을<br>
                        달성한 것처럼 보입니다.</p>
                </div>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5 fc-12">하지만 실질 수익률은 연 5.8%에 불과합니다.</p>
                </div>

                <div class="mt-20">
                    <img src="/resources/v1/img/2D_015_img-06.png" width="300"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
                <div class="mt-20">
                    <img src="/resources/v1/img/check-blue.png" width="50"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                    <p class="mt-5 mb-0 fs-5 fc-1"
                       data-animation-type="onscroll"
                       data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                        연 40%의 고수익을 얻어도,<br>
                        다음 해에 마이너스 수익률이 발생한다면<br>
                        <span class="fc-12 fw-700">10년간 연평균 수익률은<br>
                        연 10%에 미치지 못하는 것</span>입니다.</p>
                </div>
            </article>
        </section>

        <section data-is-not-result-page="false"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'background-color: #E9ECF0',
                                   style-af-ani: 'background-color: #E1E6EE',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
            <article class="text-align-center fc-1">
                <div class="title-msg mt-10">
                    <div class="section-no center-style fw-700 fc-5"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'transform:translateX(-80px); opacity:0',
                                       style-af-ani: 'transform:translateX(0px); opacity:0.5'">-2-</div>
                    <h1 class="fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                       style-af-ani: 'transform:translateX(0px); opacity:1'"
                    >자산관리에서 가장 중요한 단어 중<br>
                        하나는 복리 효과 입니다.</h1>
                </div>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                       style-af-ani: 'transform:translateX(0px); opacity:1'">
                    <p class="mt-5 mb-0 fs-5 fc-16">복리 효과란 발생한 이자가 재투자 되어<br>다시 이자가
                        부리되는 효과를 말합니다.</p>
                </div>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                       style-af-ani: 'transform:translateX(0px); opacity:1'">
                    <p class="mt-5 mb-0 fs-5 fc-16">복리 효과의 핵심은 높은 수익률서을 내는 것보다, <br>마이너스 수익률을 내지 않는 것입니다.</p>
                </div>

                <div class="mt-20">
                    <img src="/resources/v1/img/2D_015_img-07.png" width="300"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                           style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
                <div class="mt-20">
                    <img src="/resources/v1/img/check-blue.png" width="50"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                    <p class="mt-5 mb-0 fs-5 fc-1"
                       data-animation-type="onscroll"
                       data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                        <span class="fc-12 fw-700">천천히 확실히 부자가 되는 방법</span><br>
                        주택, 교육, 결혼, 은퇴 등 미래를 위한 필수자금일수록<br>
                        자금의 일부분은 안전한 수단으로 오랫동안 운영하세요.
                    </p>
                </div>
            </article>
        </section>
        <!--콘텐츠 평가영역-->
        <section id="feedback-area" data-is-not-result-page="false" class="bg-15">
            <article class="text-align-center fc-white">
                <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
                <div class="feedback-btn-box mt-10 text-align-center">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="/resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                            <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                        </label>
                    </div>
                    <div class="vertical-line mb-15"></div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="/resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                            <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                        </label>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="header-bg-panel-wrapper">
        <div class="header-bg-panel bg-5"></div>
    </div>

    <!--돌아가기 버튼-->
    <div class="bottom-fixed-area" data-is-not-result-page="false">
        <button class="bg-white fc-5 fs-4 fw-700 bdc-5" id="goFirstBtn">다시 선택하기</button>
    </div>

    <!--로딩스크린-->
    <div class="text-align-center loading-screen" data-is-playing-loading="false">
        <lottie-player src="/resources/v1/img/loading-animation.json"
                       background="transparent"
                       style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
        </lottie-player>
        <div class="fc-2 fs-6 fw-500">
            고객님에게 맞는 <b>교보생명</b> 상품으로<br>
            이동중이에요!
        </div>
    </div>

    <script src="/resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
    <script src="/resources/v1/js/Customer-Journey.js"></script>
    <script>
        try {
            // animation setting
            AnimationManager.loadElementsToAnimate();

            //컴포넌트 이벤트 및 기본설정
            EventProcessor.initSetting({
                contentsId: '2D_015',  //콘텐츠id
                linkInfoForInsurance: {
                    //상품 링크 url
                    url: 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000938&evcode=DCJ_MO',
                    //상품명
                    name: '(무)교보시작해요저축보험',
                    //상품 이미지 url
                    imgUrl: '/resources/v1/img/img-product-svg-saving.svg',
                    //상품 설명
                    explain: '소액으로 차근차근 오늘부터 시작해요',
                    //심의필
                    certificationMsg: '생명보험협회 심의필 제 2022-05463호 (2022-12-27 ~ 2023-12-26)'
                },
                linkInfoForService: {
                    //부가서비스 링크 url
                    url: 'https://www.kyobo.com/dgt/web/customer/service/assets-management',
                    //부가서비스명
                    name: '자산관리서비스',
                    //부가서비스 이미지 url
                    imgUrl: '/resources/v1/img/img-service-svg-finance-manage.svg',
                    //부가서비스 설명
                    explain: '소중한 자산을 든든하게 관리해주는 서비스'
                }
            });
        }
        catch(error){
            alert(error);
            alert(error.stack);
        }
    </script>
</body>
</html>