<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/swiper-bundle.min.css">
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>이 돈으로 무엇을 하라고 전하고 싶나요?</title>
</head>
<body class="survey-type bg-6">
    <div class="main-wrapper">
        <header>
            <div id="survey-area">
                <article class="fc-white">
                    <span class="tag mt-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                               start-ms:'300',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">자기개발</span>
                    <p class="mt-10">
                        <h1 class="opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-100%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'500',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">이 돈으로 무엇을 하라고</h1>
                        <h1 class="strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-250%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'700',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                            전하고 싶습니까?
                        </h1>
                    </p>
                    <div class="opacity-0"
                         data-animation-type="onload"
                         data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-400%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'900',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                        <span>
                        친한 친구의 동생이 사업을 시작해 단기간에<br>
                        30억을 벌었다고 합니다.
                        </span>
                    </div>
                </article>

                <form class="survey-form">
                    <ul>
                        <li>
                            <div class="li-item"
                                 data-animation-type="onload"
                                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1000',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.5s'">
                                <label>
                                    <input type="radio" class="bdc-5" name="kyobolife-survey" value="01">
                                    <div>
                                        <small class="fc-4">여기서 멈출 수 없지!</small>
                                        <div class="mt-5">계속 사업을 확장하라고 조언한다.</div>
                                    </div>
                                    <img src="/resources/v1/img/2D_013_img-01.png" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small class="fc-4">여기서 멈출 수 없지!</small>
                                    <div>계속 사업을 확장하라고 조언한다.</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block">72</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li>
                            <div class="li-item"
                                 data-animation-type="onload"
                                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1500',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.5s'">
                                <label>
                                    <input type="radio" class="bdc-5" name="kyobolife-survey" value="02">
                                    <div>
                                        <small class="fc-4">부동산처럼 안정적인 투자처가 어딨어!</small>
                                        <div class="mt-5">번 돈으로 부동산 매입하라고 한다.</div>
                                    </div>
                                    <img src="/resources/v1/img/2D_013_img-02.png" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small class="fc-4">부동산처럼 안정적인 투자처가 어딨어!</small>
                                    <div>번 돈으로 부동산 매입하라고 한다.</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block">28</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                    </ul>
                </form>
                <div class="footer-area">
                    <button type="submit" class="bg-11 fs-4 fw-700" disabled>설문 확인하기</button>
                    <div class="display-none text-align-center fc-3 pd-bt-20 opacity-0 transition-opacity">
                        <h2 class="fw-700 fc-1 mt-0 mb-0">사업의 경험이 많을수록<br>
                            <span class="fc-12">안전한 자산을 선택하는 경향</span>이 높습니다.
                        </h2>
                        <p class="mt-5 mb-0">
                            앞으로도 계속 잘 될 것 같지만,<br>
                            언젠가 어려운 시기 가 온다는 것을 경험으로<br>
                            알고 있기 때문입니다.
                        </p>
                        <div class="animation-vertical-box"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'height: 0px',
                                   style-af-ani: 'height: 100px',
                                   scroll-duration: 100">
                            <div class="animation-vertical"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="display-none">
            <div class="card-section"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'background-color:#f4f4f4;', style-af-ani: 'background-color:#ffffff;'">
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-5"
                              data-animation-type="onscroll"
                              data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                               style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                        <h1 class="fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'"
                        >대장에서 용종이<br>발견되어 떼어 냈어요 </h1>
                    </div>
                        <div class="fc-3"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'">
                            <p class="mt-5 mb-0 fs-5">조직검사비용과 용종제거비용을 실손보험에서 받을 수 있습니다.</p>
                            <p class="mt-5 mb-0 fs-5">수술비특약에 가입되어 있으면 수술보험금을 받을수 있습니다.</p>
                            <p class="mt-5 mb-0 fs-5">보험금청구시효는 3년이며, 4년 전에 떼어 냈다면 아쉽지만 청구하지 못합니다.</p>
                        </div>

                        <div class="mt-25 text-align-center">
                            <img src="/resources/v1/img/7D_003_img-04.png" width="200"
                                 data-animation-type="onscroll"
                                 data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-5"
                              data-animation-type="onscroll"
                              data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                               style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                        <h1 class="fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'"
                        >혈액검사 결과<br>당뇨로 진단받았어요</h1>
                    </div>
                        <div class="fc-3"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'">
                            <p class="mt-5 mb-0 fs-5">당뇨진단보험 지급기준은 공복혈당이 아니라 당화혈색소입니다.</p>
                            <p class="mt-5 mb-0 fs-5">당화혈색소 수치가 6.5% 이상이면 당뇨진단 보험금을 받을 수 있습니다.</p>
                        </div>

                        <div class="mt-25 text-align-center">
                            <img src="/resources/v1/img/7D_003_img-05.png" width="200"
                                 data-animation-type="onscroll"
                                 data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-5"
                              data-animation-type="onscroll"
                              data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                               style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                        <h1 class="fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'"
                        >MRA검사에서<br>뇌동맥류가 발견되었어요</h1>
                    </div>
                    <div class="fc-3"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="mt-5 mb-0 fs-5">크기가 작은 경우 수술을 하지 않는 경우도 있습니다.</p>
                        <p class="mt-5 mb-0 fs-5">수술을 하지 않아도 발견한 것만으로도 보험금이 지급됩니다.</p>
                    </div>

                    <div class="mt-25 text-align-center">
                        <img src="/resources/v1/img/7D_003_img-06.png" width="200"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-5"
                              data-animation-type="onscroll"
                              data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                               style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                        <h1 class="fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'"
                        >초음파검사를 하다가<br>갑상선암을 발견했어요</h1>
                    </div>
                    <div class="fc-3"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                           style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="mt-5 mb-0 fs-5">조직검사가 필요하여 시행한 경우 실손보험에서 받을 수 있습니다.</p>
                        <p class="mt-5 mb-0 fs-5">초기 암의 경우 보험상품을 가입한 시기 및 약관내용에 따라 유사암보험금, 소액 암보험금, 일반암보험금을 받을 수도 있습니다.</p>
                    </div>
                    <div class="mt-25 text-align-center">
                        <img src="/resources/v1/img/7D_003_img-07.png" width="200"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                </article>
            </div>
        </section>
        <section class="display-none">
            <div class="mt-30 pd-bt-30 text-align-center">
                <img src="/resources/v1/img/check-blue.png" width="50"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                      style-af-ani: 'transform: scale(1); opacity:1'">
                <p class="fs-4 mt-0 mb-0"
                   data-animation-type="onscroll"
                   data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    잊지 마세요. 혹시 내 건강이 걱정된다면...
                </p>
                <h1 class="fc-5 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    건강검진 받기 전 보험증권 확인!
                </h1>
            </div>
        </section>

        <section id="recommend-area"
                 class="display-none"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'background-color: #F4F4F4',
                                   style-af-ani: 'background-color: #be4872',
                                   scroll-duration: 400,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
            <article class="text-align-center fc-white"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'opacity:0.3', style-af-ani: 'opacity:1'">
                <h3 class="fw-700 text-align-left">잠깐! 확인 한 번 해보세요!</h3>
                <div class="footer-banner-zone mt-15 text-align-center">
                    <img src="/resources/v1/img/type-survey-img-07.png" width="80">
                    <div class="mt-15">
                        <h4 class="fw-700">(무)교보암케어보험(서비스선택형)(DM)</h4>
                        <div class="mt-5 mb-15"><small>암치료부터 회복까지 케어</small></div>
                    </div>
                    <!--                <div class="banner-box mt-20 mb-20">-->
                    <!--                    <div id="pic09" class="img-content testing-box">-->
                    <!--                        <h4  class="mt-5 mb-5">IMG Area<br>-</h4>-->
                    <!--                        <span>이미지 노출영역<br>(1:1 비율로 노출)</span>-->
                    <!--                    </div>-->
                    <!--                    <div class="text-align-left">-->
                    <!--                        <div class="fw-500">일이삼사오육칠팔구십</div>-->
                    <!--                        <div class="mt-5">-->
                    <!--                            <small>일이삼사오육칠팔구십일이<br>-->
                    <!--                                일이삼사오육칠팔</small>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <div class="footer-banner-link">
                        <a class="fw-700" href="#">더 알아보기</a>
                        <div class="link-img"></div>
                    </div>
                </div>
                <div class="text-align-center mt-30">
                    <h4 class="fw-500">
                        이 콘텐츠가 도움이 되었나요?
                    </h4>
                    <div id="star-points-box" class="mt-10">
                        <img class="empty-star" src="/resources/v1/img/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="/resources/v1/img/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="/resources/v1/img/star-filled.png" width="34">
                        <img class="empty-star" src="/resources/v1/img/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="/resources/v1/img/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="/resources/v1/img/star-filled.png" width="34">
                        <img class="empty-star" src="/resources/v1/img/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="/resources/v1/img/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="/resources/v1/img/star-filled.png" width="34">
                        <img class="empty-star" src="/resources/v1/img/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="/resources/v1/img/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="/resources/v1/img/star-filled.png" width="34">
                        <img class="empty-star" src="/resources/v1/img/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="/resources/v1/img/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="/resources/v1/img/star-filled.png" width="34">
                    </div>
                </div>
                <form class="visibility-hidden">
                    <textarea id="userComment" class="mt-15" placeholder="위염에 대한 유익한 정보 감사합니다!"></textarea>
                    <button class="mt-30 mb-30" type="submit" disabled>제출하기</button>
                </form>
            </article>
        </section>
    </div>
    <div class="header-bg-panel-wrapper">
        <div class="header-bg-panel bg-5"></div>
    </div>

    <!--로딩스크린-->
    <div class="text-align-center loading-screen" data-is-playing-loading="false">
        <lottie-player src="/resources/v1/img/loading-animation.json"
                       background="transparent"
                       style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
        </lottie-player>
        <div class="fc-2 fs-6 fw-500">
            고객님에게 맞는 <b>교보생명</b> 상품으로<br>
            이동중이에요!
        </div>
    </div>

    <script src="/resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
    <script src="/resources/v1/js/Customer-Journey.js"></script>
    <script>
        const swiper = new Swiper(".swiper-container",{
            loop: true,
            pagination:{
                el: '.swiper-pagination',
                type: 'bullets',
                bulletClass: 'swiper-my-bullet',
                bulletActiveClass: 'active'
            }
        });
        document.documentElement.style.setProperty('--vscrollwidth', `${window.innerWidth-document.documentElement.clientWidth}px`);
        document.documentElement.style.setProperty('--1vw', `${Math.round(document.documentElement.clientWidth/100*10)/10}px`);

        // customerJourney.createImageSlides('.image-slide-inner-zone');
        // customerJourney.loadElementsToAnimate();
        AnimationManager.setElemsAniOnLoad();

        document.querySelectorAll('.painted-bar')[0].style.width='24%';
        document.querySelectorAll('.painted-bar')[1].style.width='16%';

        [...document.querySelectorAll('.survey-form input[type="radio"]')].forEach(elem=>
            elem.addEventListener('change', e=>document.querySelector('.footer-area button:disabled').disabled = false)
        );

        document.querySelector('.footer-area button').addEventListener('click', e=>{
            e.preventDefault();
            const index = [...document.querySelectorAll('.survey-form input[type="radio"]')]
                .findIndex(item=>item===document.querySelector('.survey-form input[type="radio"]:checked'));
            document.querySelectorAll('.li-item-result')[index].classList.add('active');
            document.querySelectorAll('.li-item-result')[index].querySelector('small').classList.remove('fc-4');

            const list = document.querySelectorAll('.survey-form li');
            window.setTimeout(()=>list[0].style.transform='translateX(-50%)', 0);
            window.setTimeout(()=>list[1].style.transform='translateX(-50%)', 300);

            window.setTimeout(()=>{
                document.querySelector('.footer-area').classList.add('after');
                [...document.querySelectorAll('.footer-area>*')].forEach(e=>e.classList.toggle('display-none'));
                [...document.querySelectorAll('section.display-none')].forEach(e=>e.classList.toggle('display-none'));

                AnimationManager.createImageSlides('.image-slide-inner-zone');
                AnimationManager.setElemsAniOnScroll();
            }, 600);
            window.setTimeout(()=>document.querySelector('.footer-area .opacity-0').classList.toggle('opacity-0'), 600);
        })
    </script>
</body>
</html>