<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/swiper-bundle.min.css">
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>SNS에 올리는 우리 아이 사진 괜찮을까?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_3A_004 information-type type-a bg-1">
<!--gnb헤더 영역-->
<nav class="bg-white">
    <a href="javascript:history.back()" class="go-back-btn">
        <img src="/resources/v1/img/ico-kyobobook-gnb-back.svg">
    </a>
    <div class="fc-1">
        아이 일상을 올려도 될까?
    </div>
    <div></div>
</nav>
    <!--서버로부터 전달받는 변수영역-->
    <input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
    <input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
    <header>
        <article>
            <div>
                <span class="tag mb-15 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                           start-ms:'300',
                                           transition-props:'[opacity]',
                                           transition-duration:'0.7s'">자녀</span>
                <div>
                    <h1 class="fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                           style-bf-ani: 'transform:translateY(-100%);',
                                           style-af-ani: 'transform:',
                                           start-ms:'500',
                                           transition-props:'[opacity,transform]',
                                           transition-duration:'0.8s'">귀엽고 사랑스러운 우리 아이</h1>
                    <h1 class="fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                           style-bf-ani: 'transform:translateY(-250%);',
                                           style-af-ani: 'transform:',
                                           start-ms:'700',
                                           transition-props:'[opacity,transform]',
                                           transition-duration:'0.8s'">
                        사진, 영상을 SNS에 올리고 있나요?
                    </h1>
                </div>
                <div class="opacity-0"
                     data-animation-type="onload"
                     data-animation-infos="remove-class-nm: 'opacity-0',
                                           style-bf-ani: 'transform:translateY(-400%);',
                                           style-af-ani: 'transform:',
                                           start-ms:'900',
                                           transition-props:'[opacity,transform]',
                                           transition-duration:'0.8s'">
                    사람들에게 자랑하고 싶은 우리 아이 사진,<br>
                    과연 문제는 없을까?
                </div>
            </div>
            <div class="main-banner-wrapper mt-25 mb-5 position-relative opacity-0"
                 data-animation-type="onload"
                 data-animation-infos="remove-class-nm: 'opacity-0',
                                       style-bf-ani: 'transform:translateX(100vw);',
                                       style-af-ani: 'transform:',
                                       start-ms:'300',
                                       transition-duration:'0.7s',
                                       transition-props:'[transform]'">
                <div class="bar-chart-area-box mb-15">
                    <div class="bar-chart-area">
                        <div class="bar-chart">
                            <div class="bar-chart-grid gradient">
                                <div class="grid-row"><span></span></div>
                                <div class="grid-row"><span></span></div>
                                <div class="grid-row"><span></span></div>
                                <div class="grid-row"><span></span></div>
                                <div class="fc-4 bar-area">
                                    <div class="bar green-bar" style="height: calc(0.9%)">
                                        <span class="bar-label">0.9%</span>
                                        <span class="bar-nm">후기이벤트<br>참여 등</span>
                                    </div>
                                    <div class="bar green-bar" style="height: calc(10.6%)">
                                        <span class="bar-label">10.6%</span>
                                        <span class="bar-nm">친인척<br>지인 공유</span>
                                    </div>
                                    <div class="bar green-bar" style="height: calc(24.6%)">
                                        <span class="bar-label">24.6%</span>
                                        <span class="bar-nm">자랑하기<br>위해서</span>
                                    </div>
                                    <div class="bar yellow-bar"
                                         data-animation-type="onload"
                                         data-animation-infos="style-bf-ani: 'height: 0',
                                                               style-af-ani: 'height: 63.9%',
                                                               start-ms:'1500',
                                                               transition-duration:'0.7s'">
                                        <span class="bar-label">63.9%</span>
                                        <span class="fw-700 bar-nm strong">아이들의<br>성장기록</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-25">
                    <h3 class="fw-700">부모들이 SNS에 자녀사진을<br>
                        올리는 이유 TOP 4</h3>
                    <div class="mt-10 fc-4"><span>출처 : 세이브더칠드런 2021.02월</span></div>
                </div>
                <img class="bg-image" src="/resources/v1/img/3A_004_img-01.png" width="150">
            </div>

            <div class="mt-40">
                <h2 class="fw-700">셰어런팅을 아시나요?</h2>
                <p class="mt-10 mb-20 fs-5 fw-400">
                    셰어런팅은 공유를 뜻하는<br>
                    셰어(Share)와 육아(Parenting)의 합성으로<br>
                    부모들이 자녀의 일상을 SNS에 공유하는 것을 말해요.
                </p>
                <div class="animation-vertical-box"
                     style="height:0"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'height: 0px',
                                   style-af-ani: 'height: 100px',
                                   scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </header>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #27809e',
                                   style-af-ani: 'background-color: #23738e',
                                   scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >우리 아이에게도<br>이런일이 일어날 수 있어요 🤔 </h1>
            </div>
            <div data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">엄마와 잠시 떨어져 혼자 놀고 있는 아이에게 낯선 사람이 접근한다.</p>
                <p class="mt-5 mb-0 fs-5">이 사람은 엄마의 SNS에서 가족의 일상사진을 보고 아이에 대한 여러 정보를 알고 있다.</p>
                <p class="mt-5 mb-0 fs-5">"안녕, 엄마랑 친한 이모야. 지난주에 한강에서 강아지랑 놀았지?"</p>
                <p class="mt-5 mb-0 fs-5">친밀감을 느끼게 된 아이는 처음 보는 사람이지만 아이스크림을 사 주겠다는 말을 듣고 따라간다.</p>
                <p class="mt-5 mb-0 fs-8 text-align-right">[EBS 다큐시선 모의실험 인용]</p>
            </div>

            <div class="mt-25">
                <img src="/resources/v1/img/3A_004_img-02.png" width="200"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #23738e',
                                   style-af-ani: 'background-color: #1f667e',
                                   scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >엄마·아빠 10명 중<br>8명이 셰어런팅을 하고 있어요 🤭</h1>
            </div>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">
                        만 11세 이하의 자녀를 둔 부모 1,000명을 대상으로 조사한 결과,
                        86.1%가 자녀의 사진이나 영상을 SNS에 올린 경험이 있어요.
                    </p>
                </div>
                <div class="text-align-right mt-25">
                    <img id="pic01" src="/resources/v1/img/3A_004_img-03.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                      style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
                <div class="mt-30">
                    <p class="mt-0"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        42.7%는 일주일에 1회 이상 사진이나 영상을 올리고 있어요.
                    </p>
                    <img class="mt-25" src="/resources/v1/img/3A_004_img-04.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
                <div class="mt-30">
                    <p class="mt-0 mb-0"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        부모들이 SNS에 사진을 올리는 이유는 이런 거래요.
                    </p>
                    <div class="mb-0"
                       data-animation-type="onscroll"
                       data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        <p class="mt-5 mb-0">· 아이들의 성징기록 : 63.9%</p>
                        <p class="mt-5 mb-0">· 자랑하기 위해서 : 24.6%</p>
                        <p class="mt-5 mb-0">· 친인척 지인공유 : 10.6%</p>
                        <p class="mt-5 mb-0">· 후기이벤트 참여 등 : 0.9%</p>
                    </div>
                    <div class="text-align-right mt-25">
                        <img src="/resources/v1/img/3A_004_img-05.png" width="200"
                             data-animation-type="onscroll"
                             data-animation-infos="style-bf-ani: 'margin-right: getOffsetLeftFromParent(px); opacity:0',
                                      style-af-ani: 'margin-right: 0px; opacity:1'">
                    </div>
                </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'background-color: #1f667e',
                                   style-af-ani: 'background-color: #1b596e',
                                   scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'"
                >아직은 취약한<br>우리아이 함께 보호해 주세요 😘</h1>
            </div>
                <div data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                       style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">보호.01 : 충분히 ‘싫다’라고 말할 기회를 주세요.</p>
                    <p class="mt-5 mb-0 fs-5"> 보호.02 : 이름, 자주 가는 곳 등 개인정보가 노출되지 않도록 주의해주세요.</p>
                    <p class="mt-5 mb-0 fs-5"> 보호.03 : 사고로부터 잘 보호되고 있는지 자녀보험을 점검해 주세요.</p>
                </div>
                <div class="mt-25">
                    <img src="/resources/v1/img/3A_004_img-06.png" width="200"
                         data-animation-type="onscroll"
                         data-animation-infos="style-bf-ani: 'margin-left: getOffsetRightFromParent(px); opacity:0',
                                           style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
        </article>
    </section>
<!--콘텐츠 평가영역-->
<section id="feedback-area" class="bg-17">
    <article class="text-align-center fc-white">
        <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
        <div class="feedback-btn-box mt-10 text-align-center">
            <div class="feedback-btn-box-inner">
                <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                <label class="feedback-btn" for="feedback-radio-01">
                    <img src="/resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                    <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                </label>
            </div>
            <div class="vertical-line mb-15"></div>
            <div class="feedback-btn-box-inner">
                <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                <label class="feedback-btn" for="feedback-radio-02">
                    <img src="/resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                    <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                </label>
            </div>
        </div>
    </article>
</section>

    <!--로딩스크린-->
    <div class="text-align-center loading-screen" data-is-playing-loading="false">
        <lottie-player src="/resources/v1/img/loading-animation.json"
                       background="transparent"
                       style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
        </lottie-player>
        <div class="fc-2 fs-6 fw-500">
            고객님에게 맞는 <b>교보생명</b> 상품으로<br>
            이동중이에요!
        </div>
    </div>
    <script src="/resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
    <script src="/resources/v1/js/Customer-Journey.js"></script>
    <script>
        try {
            //애니메이션 설정 로딩
            AnimationManager.loadElementsToAnimate();

            //컴포넌트 이벤트 및 기본설정
            EventProcessor.initSetting({
                contentsId: '3A_004',  //콘텐츠id
                linkInfoForInsurance: {
                    //상품 링크 url
                    url: 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000948&evcode=DCJ_MO',
                    //상품명
                    name: '(무)교보금쪽같은내아이보험(갱신형)Ⅱ[DM]',
                    //상품 이미지 url
                    imgUrl: '/resources/v1//img/img-product-svg-child-care.svg',
                    //상품 설명
                    explain: '내 아이를 위한 금쪽같은 어린이보험',
                    //심의필
                    certificationMsg: '생명보험협회 심의필 제 2022-05464호 (2022-12-27 ~ 2023-12-26)'
                },
                linkInfoForService: {
                    //부가서비스 링크 url
                    url: 'https://www.kyobo.com/dgt/web/product/eduCare-service',
                    //부가서비스명
                    name: '교보에듀케어서비스',
                    //부가서비스 이미지 url
                    imgUrl: '/resources/v1/img/img-service-svg-edu-care.svg',
                    //부가서비스 설명
                    explain: '우리 아이 바른 성장 지킴이'
                }
            });
        }
        catch(error){
            alert(error);
            alert(error.stack);
        }
    </script>
</body>
</html>