<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper-bundle.min.css">
    <link href="../img/favicon.ico" rel="shrtcut icon">
    <link href="../img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>유형체크-건강냉장고</title>
</head>
<body class="survey-type bg-6">
    <div class="main-wrapper">
        <header>
            <div id="survey-area">
                <article class="fc-white">
                    <span class="tag mt-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                               start-ms:'300',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">건강관리</span>
                    <p class="mt-10">
                        <h1 class="opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-100%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'500',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">우리집 냉장고는 삼성,LG 말고</h1>
                        <h1 class="strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-250%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'700',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                            어떤 냉장고인가요?
                        </h1>
                    </p>
                    <div class="opacity-0"
                         data-animation-type="onload"
                         data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-400%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'900',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                        <span>
                        냉장고에 가장 많이 있는 음식을<br>
                        골라 보세요!
                        </span>
                    </div>
                    <div></div>
                </article>

                <form class="survey-form">
                    <ul>
                        <li>
                            <div class="li-item"
                                 data-animation-type="onload"
                                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1000',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">
                                <label>
                                    <input type="radio" name="kyobolife-survey" value="01">
                                    <div>
                                        <small class="fc-4">입 안 가득 풍미 넘치는!</small>
                                        <div class="mt-5">고기, 버터, 베이컨</div>
                                    </div>
                                    <img src="../img/20221024/type-survey-img-01.png" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small class="fc-4">8시간 이상 금식 후 측정</small>
                                    <div>공복혈당 132</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block">24</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li>
                            <div class="li-item"
                                 data-animation-type="onload"
                                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1500',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">
                                <label>
                                    <input type="radio" name="kyobolife-survey" value="02">
                                    <div>
                                        <small class="fc-4">우리집 밥도둑!</small>
                                        <div class="mt-5">젓갈, 장아찌, 절인 생선</div>
                                    </div>
                                    <img src="../img/20221024/type-survey-img-02.png" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small class="fc-4">75g 포도당 섭취, 2시간 후 측정</small>
                                    <div>식후혈당 240</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block">16</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li>
                            <div class="li-item"
                                 data-animation-type="onload"
                                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'2000',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">
                                <label>
                                    <input type="radio" name="kyobolife-survey" value="03">
                                    <div>
                                        <small class="fc-4">체중관리의 정석!</small>
                                        <div class="mt-5">채소, 과일, 두부, 콩</div>
                                    </div>
                                    <img src="../img/20221024/type-survey-img-03.png" width="60px">
                                </label>
                            </div><div class="li-item-result-wrapper">
                            <div class="li-item-result">
                                <div>
                                    <small>포도당의 일부가 혈색소에 결합한 상태</small>
                                    <div>당화혈색소 6.7</div>
                                    <div class="progress-bar mt-10">
                                        <div class="painted-bar"></div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <h1 class="display-inline-block">42</h1>
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        </li>
                    </ul>
                </form>
                <div class="footer-area">
                    <button type="submit" class="bg-8 fs-4 fw-700" disabled>내 유형체크 확인하기</button>
    <!--                <div class="display-none">-->
    <!--                    <h3 class="fw-700">정답은 '당화혈색소 6.7'</h3>-->
    <!--                    <h3 class="fw-400">당화혈색소 수치가 6.5이상이면,</h3>-->
    <!--                    <h3 class="fw-400">보험금을 받을 수 있습니다.</h3>-->
    <!--                    <div class="animation-vertical-box"-->
    <!--                         data-animation-type="onscroll"-->
    <!--                         data-animation-infos="style-bf-ani: 'height: 20px; padding: 10px;',-->
    <!--                                   style-af-ani: 'height: 80px; padding: 10px;',-->
    <!--                                   scroll-duration: 100">-->
    <!--                        <div class="animation-vertical"></div>-->
    <!--                    </div>-->
    <!--                </div>-->
                </div>
            </div>
            <article id="result-area" class="text-align-center display-none">
                <div class="result-01 display-none">
                    <div class="fc-white mt-10 mb-25">
                        <h1>당신의 냉장고 이름은</h1>
                        <h1 class="fw-700">대장암ᆞ심장병 냉장고입니다</h1>
                    </div>
                    <img src="../img/20221024/type-survey-img-04.png" width="300">
                    <h1 class="mt-20 fc-7 fw-700">고기, 버터, 베이컨을 좋아하는군요!</h1>
                    <div class="mt-5"><span>한국 사람은 특히 대장암에 취약해요.</span></div>
                </div>
                <div class="result-02 display-none">
                    <div class="fc-white mt-10 mb-25">
                        <h1>당신의 냉장고 이름은</h1>
                        <h1 class="fw-700">위암ᆞ고혈압 냉장고입니다</h1>
                    </div>
                    <img src="../img/20221024/type-survey-img-05.png" width="300">
                    <h1 class="mt-20 fc-7 fw-700">젓갈, 장아찌, 절인 생선을 좋아하는군요!</h1>
                    <div class="mt-5"><span>외식을 많이 한다면 더 위험해요.</span></div>
                </div>
                <div class="result-03 display-none">
                    <div class="fc-white mt-10 mb-25">
                        <h1>당신의 냉장고 이름은</h1>
                        <h1 class="fw-700">항암 냉장고입니다</h1>
                    </div>
                    <img src="../img/20221024/type-survey-img-06.png" width="300">
                    <h1 class="mt-20 fc-7 fw-700">채소, 과일, 두부, 콩을 좋아하는군요!</h1>
                    <div class="mt-5"><span>좋은 식습관 오래오래 유지하세요.</span></div>
                </div>
                <div class="explanation-box mt-30">
                    <div>
                        <h4 class="fw-700 fc-2">한번씩 점검해 주세요.</h4>
                        <p class="mt-5 mb-0">
                            <span class="fs-6 fc-3">
                            1. 음식물의 보관상태가 적절한지<br>
                            2. 유효기간이 지난 음식은 아닌지<br>
                            3. 가족 구성원들의 건강상태에 맞는 음식인지
                            </span>
                        </p>
                    </div>
                    <div class="mt-20">
                        <h4 class="fw-700 fc-2">하루 3끼면 1년에 1,095번<br>
                            3년이면 3,258번의 식사를 합니다.</h4>
                        <p class="mt-5 mb-0">
                        <span class="fs-6 fc-3">생활 식습관을 관리하면 내 몸의 미래를 알 수 있습니다.</span>
                        </p>
                    </div>
                </div>
            </article>
        </header>

        <section id="recommend-area"
                 class="display-none"
                 data-animation-type="onscroll"
                 data-animation-infos="style-bf-ani: 'background-color: #F4F4F4',
                                   style-af-ani: 'background-color: #be4872',
                                   scroll-duration: 400,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
            <article class="text-align-center fc-white"
                     data-animation-type="onscroll"
                     data-animation-infos="style-bf-ani: 'opacity:0.3', style-af-ani: 'opacity:1'">
                <h3 class="fw-700 text-align-left">잠깐! 확인 한 번 해보세요!</h3>
                <div class="footer-banner-zone mt-15 text-align-center">
                    <img src="../img/20221024/type-survey-img-07.png" width="80">
                    <div class="mt-15">
                        <h4 class="fw-700">(무)교보암케어보험(서비스선택형)(DM)</h4>
                        <div class="mt-5 mb-15"><small>암치료부터 회복까지 케어</small></div>
                    </div>
                    <!--                <div class="banner-box mt-20 mb-20">-->
                    <!--                    <div id="pic09" class="img-content testing-box">-->
                    <!--                        <h4  class="mt-5 mb-5">IMG Area<br>-</h4>-->
                    <!--                        <span>이미지 노출영역<br>(1:1 비율로 노출)</span>-->
                    <!--                    </div>-->
                    <!--                    <div class="text-align-left">-->
                    <!--                        <div class="fw-500">일이삼사오육칠팔구십</div>-->
                    <!--                        <div class="mt-5">-->
                    <!--                            <small>일이삼사오육칠팔구십일이<br>-->
                    <!--                                일이삼사오육칠팔</small>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <div class="footer-banner-link">
                        <a class="fw-700" href="#">더 알아보기</a>
                        <div class="link-img"></div>
                    </div>
                </div>
                <div class="text-align-center mt-30">
                    <h4 class="fw-500">
                        이 콘텐츠가 도움이 되었나요?
                    </h4>
                    <div id="star-points-box" class="mt-10">
                        <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                        <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                        <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                        <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                        <img class="empty-star" src="../img/20221024/star-empty.png" width="34">
                        <img class="half-filled-star display-none" src="../img/20221024/star-half-filled.png" width="34">
                        <img class="filled-star display-none" src="../img/20221024/star-filled.png" width="34">
                    </div>
                </div>
                <form class="visibility-hidden">
                    <textarea id="userComment" class="mt-15" placeholder="위염에 대한 유익한 정보 감사합니다!"></textarea>
                    <button class="mt-30 mb-30" type="submit" disabled>제출하기</button>
                </form>
            </article>
        </section>
    </div>
    <div class="header-bg-panel-wrapper">
        <div class="header-bg-panel bg-7"></div>
    </div>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/Customer-Journey.js"></script>
    <script>
        const swiper = new Swiper(".swiper-container",{
            loop: true,
            pagination:{
                el: '.swiper-pagination',
                type: 'bullets',
                bulletClass: 'swiper-my-bullet',
                bulletActiveClass: 'active'
            }
        });
        document.documentElement.style.setProperty('--vscrollwidth', `${window.innerWidth-document.documentElement.clientWidth}px`);
        document.documentElement.style.setProperty('--1vw', `${Math.round(document.documentElement.clientWidth/100*10)/10}px`);

        // customerJourney.createImageSlides('.image-slide-inner-zone');
        // customerJourney.loadElementsToAnimate();
        AnimationManager.setElemsAniOnLoad();

        document.querySelectorAll('.painted-bar')[0].style.width='24%';
        document.querySelectorAll('.painted-bar')[1].style.width='16%';
        document.querySelectorAll('.painted-bar')[2].style.width='42%';

        [...document.querySelectorAll('.survey-form input[type="radio"]')].forEach(elem=>
            elem.addEventListener('change', e=>document.querySelector('.footer-area button:disabled').disabled = false)
        );

        document.querySelector('.footer-area button').addEventListener('click', e=>{
            e.preventDefault();
            document.querySelector('#survey-area').classList.add('display-none');

            document.querySelector('#result-area').classList.remove('display-none');
            document.querySelector('header').style.minHeight='initial';

            const value = document.querySelector('.survey-form input[type="radio"]:checked').value;
            document.querySelector('.result-'+value).classList.remove('display-none');

            document.querySelector('#recommend-area').classList.remove('display-none');
            AnimationManager.setElemsAniOnScroll();
            AnimationManager.addEventToStars();
            AnimationManager.addEventToTextArea();
        })
    </script>
</body>
</html>