<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/swiper-bundle.min.css">
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>임신 중 검진 꿀팁</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_13G_029 survey-type bg-6">
    <!--gnb(헤더 - 뒤로가기)-->
    <nav class="bg-white">
        <a href="javascript:history.back()" class="go-back-btn">
            <img src="/resources/v1/img/ico-kyobobook-gnb-back.svg">
        </a>
        <div>
            임신 중 검진 꿀팁
        </div>
        <div></div>
    </nav>
    <!--서버로부터 전달받는 변수영역-->
    <input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
    <input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<div class="main-wrapper">
    <header>
        <div id="survey-area" data-is-not-result-page="true">
            <article class="fc-white">
                    <span class="tag fc-13 opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                start-ms:'300',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.7s'">자녀</span>
                <p class="mt-10">
                <h1 class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-100%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'500',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">임신 중 유산확률이</h1>
                <h1 class="strong-underline opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-250%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'700',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                    높은 주수는 언제일까요?
                </h1>
                </p>
                <div class="opacity-0 mt-10"
                     data-animation-type="onload"
                     data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-400%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'900',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                        <span class="sub-tit">
                            유산은 임신 20주 이내의 태아사망을 말하고,<br>
                            그 이후는 사산이라고 합니다.
                        </span>
                </div>
            </article>

            <!-- <form class="survey-form"> -->
            <form class="survey-form survey-form2">
                <div class="horizontal-box">
                    <ul>
                        <li>
                            <div class="inner" style="width: 0;"
                                data-animation-type="onload"
                                data-animation-infos="style-bf-ani: 'width:0;',
                                                        style-af-ani: 'width:100%',
                                                        start-ms:'1100', transition-duration:'0.7s'">
                                <input type="radio" name="kyobolife-survey" value="01" id="answer-01">
                                <label for="answer-01"
                                        data-animation-type="onload"
                                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                style-af-ani: 'opacity:1;',
                                                                start-ms:'1400', transition-duration:'0.4s'">
                                    <div class="box">
                                        <dl>
                                            <dt class="fs-13 fc-4">입덧이 시작되는</dt>
                                            <dd class="mt5 fs-15 fw-700">임신 12주 이전</dd>
                                        </dl>
                                        <div class="img-box">
                                            <img src="/resources/v1/img/6G_054_img-01.gif" alt="">
                                        </div>
                                        <div class="radio-btn"></div>
                                    </div>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="inner" style="width: 0;"
                                data-animation-type="onload"
                                data-animation-infos="style-bf-ani: 'width:0;',
                                                        style-af-ani: 'width:100%',
                                                        start-ms:'1400', transition-duration:'0.7s'">
                                <input type="radio" name="kyobolife-survey" value="01" id="answer-02">
                                <label for="answer-02"
                                        data-animation-type="onload"
                                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                style-af-ani: 'opacity:1',
                                                                start-ms:'1600', transition-duration:'0.4s'">
                                    <div class="box">
                                        <dl>
                                            <dt class="fs-13 fc-4">교감이 가능한</dt>
                                            <dd class="mt5 fs-15 fw-700">임신 13~20주</dd>
                                        </dl>
                                        <div class="img-box">
                                            <img src="/resources/v1/img/6G_054_img-02.gif" alt="">
                                        </div>
                                        <div class="radio-btn"></div>
                                    </div>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

            </form>
            <div class="footer-area">
                <button type="submit" id="goNextBtn" class="bg-7 fs-4 fw-700" disabled>정답 확인하기</button>
            </div>
        </div>
        <article id="result-area" class="text-align-center pb-30" data-is-not-result-page="false">
            <div>
                <div class="fc-white mt-5"
                    data-animation-type="onresult"
                    data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity:0;',
                                            style-af-ani: 'transform:translateY(0%); opacity:1;',
                                            start-ms: '300',
                                            transition-duration: '0.5s'">
                    <h1 class="fw-700">정답은 ‘임신 12주 이전’ 입니다.</h1>
                </div>
                <p class="mt-10 mb-20 fc-white"
                    data-animation-type="onresult"
                    data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                            style-af-ani: 'transform:translateY(0%); opacity:1;',
                                            start-ms: '500',
                                            transition-duration: '0.5s'">
                                            태아는 중추 신경계, 심장과 같은  중요한 기관부터 발달되며,<br>
                                            이때 염색체 이상이나 선천적 결함으로 인해 유산의 85%가 '임신 12주 이전'에 발생하게 됩니다.
                </p>
                <img src="/resources/v1/img/6G_054_img-03.gif" width="300"
                    data-animation-type="onresult"
                    data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity:0;',
                                        style-af-ani: 'transform:translateX(0vw); opacity:1;',
                                        start-ms: '700',
                                        transition-duration: '0.7s'">
                <div class="mt-20 fc-3"
                data-animation-type="onresult"
                data-animation-infos="style-bf-ani: 'opacity:0;',
                                        style-af-ani: 'opacity:1;',
                                        start-ms: '500',
                                        transition-duration: '0.8s'">
                    <p>
                        유산의 위험을 증가시키는 요인으로는<br>
                        음주, 과도한 카페인 복용, 흡연, 코카인 중독,<br>
                        조절이 안 되는 당뇨, 갑상선 질환 등이 있습니다.
                    </p>
                </div>
                <div class="mt-5 fc-3"
                data-animation-type="onresult"
                data-animation-infos="style-bf-ani: 'opacity:0;',
                                        style-af-ani: 'opacity:1;',
                                        start-ms: '500',
                                        transition-duration: '0.8s'">
                    <p>
                        특히 질환에 대한 적절한 의료 서비스를 받지 못할 경우<br>
                        더욱 발생 확률이 높아집니다.
                    </p>
                </div>
                <div class="mt-30 fc-1 fs-20 fw-700"
                data-animation-type="onresult"
                data-animation-infos="style-bf-ani: 'opacity:0;',
                                        style-af-ani: 'opacity:1;',
                                        start-ms: '700',
                                        transition-duration: '0.8s'">
                    <p>
                        그렇다면<br>
                        ‘임산부가 알아야 할 임신 주수별 검진’에<br>
                        대해 살펴볼까요?
                    </p>
                </div>
                <img src="/resources/v1/img/6G_054_img-04.png" width="300" class="mt-20"
                alt="임신 11주~13주:1차 기형아 검진, 임신 15주~20주:2차 기형아 검진, 임신 24주~28주:임신성당뇨검사, 임신 전 기간:혈압검사"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;',
                                    style-af-ani: 'opacity:1;',
                                    start-ms: '700',
                                    transition-duration: '0.8s'">
            </div>
        </article>
    </header>

    <section data-is-not-result-page="false">
        <div class="card-section"
            data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color:#f4f4f4;', style-af-ani: 'background-color:#ffffff;'">
            <article class="text-align-left">
                <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                              id="animation04"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(80px); opacity:0;',
                                           style-af-ani: 'transform:translateX(0px); opacity:0.2;',
                                           start-ms: '1000',
                                           transition-duration: '0.5s'">1</span>
                    <h1 class="fw-700 fc-1" id="animation05"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'transform:translateX(80px); opacity:0;',
                                            style-af-ani: 'transform:translateX(0px); opacity:1;',
                                            start-ms: '1100',
                                            transition-duration: '0.5s'">
                        임신 11주~13주에는<br>
                        1차 기형아 검진을 받아야 합니다.
                    </h1>
                </div>
                <div class="fc-3"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">1차 기형아 검진은 태아의 목덜미 투명대를 측정하며, 목덜미 투명대가 3mm 이상인 경우 염색체 이상을 의심할 수 있습니다.</p>
                </div>

                <div class="mt-25 text-align-center">
                    <img src="/resources/v1/img/6G_054_img-05.png" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>
            </article>
            <article class="text-align-left">
                <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                    style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                    <h1 class="fw-700 fc-1"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                        임신 15주~20주에는<br>
                        2차 기형아 검진을 받아야 합니다.
                    </h1>
                </div>
                <div class="fc-3"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">2차 기형아 검진은 통합 선별 검사(integrated test)라고 부르며, 1차 검진에서 채취한 혈액 검사와 2차 검진에서 채취한 혈액 검사를 종합적으로 분석하여 염색체 이상을 선별합니다.</p>
                </div>
                <div class="mt-20 text-align-center">
                    <img src="/resources/v1/img/6G_054_img-06.png" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>
            </article>
            <article class="text-align-left">
                <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                    style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                    <h1 class="fw-700 fc-1"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                        임신 24주~28주에는<br>
                        임신성 당뇨 검사를 받아야 합니다.
                    </h1>
                </div>
                <div class="fc-3"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">임신성 당뇨검사는 포도당을 섭취하여 혈당이 증가했을 때 신체가 얼마나 잘 대처하는가를 확인하는 검사법으로, 경구 당부하 검사라고도 부릅니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">임신성 당뇨 판정을 받은 경우, 몸무게가 4,000g 이상인 거대아가 태어날 가능성이 높습니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">난산의 위험도 증가하고, 분만 후에도 당뇨병이 생길 가 능성이 높습니다.</p>
                </div>
                <div class="mt-20 text-align-center">
                    <img src="/resources/v1/img/6G_054_img-07.png" width="200"
                        alt=""
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>
            </article>
            <article class="text-align-left">
                <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                    style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                    <h1 class="fw-700 fc-1"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                        임신 전 기간에는<br>
                        임신성 고혈압 검사를 받아야 합니다.
                    </h1>
                </div>
                <div class="fc-3"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">임신성 고혈압은 임신 20주 이후에 혈압 검사를 하였을 때, 수축기 혈압이 140mmHg 이상 또는 이완기 혈압이 90mmHg 이상인 경우를 의미합니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">임신성 고혈압이 위험한 이유는 단백뇨가 발생하면서 '자간전증(임신중독증)'으로 발전하기 때문입니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">자간전증은 전체 산모 사망의 15% 정도를 차지하며, 갑작스러운 태아사망의 원인이 되기도 하는 심각한 질환입니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">또한, 자간전증을 치료하는 근본적인 방법은 분만이기에 조산으로 이어질 수도 있습니다.</p>
                </div>
                <div class="mt-20 text-align-center">
                    <img src="/resources/v1/img/6G_054_img-08.png" width="200"
                        alt=""
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>
                <div class="fc-3"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">임신성 고혈합과 임신성 당뇨는 미리 예방하기는 어렵습니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">무엇보다 정기적으로 산전 검사를 받고, 조기에 증상을 발견하여 관리하는 것이 중요합니다.</p>
                </div>
                <div class="fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                    <p class="mt-5 mb-0 fs-5">또한, 임산부가 편안하고 긍정적인 마음으로 임신기간을 잘 보낼 수 있도록 주변의 도움과 격려가 필요합니다.</p>
                </div>
            </article>
        </div>
    </section>
    <section data-is-not-result-page="false">
        <div class="mt-30 text-align-center">
            <img src="/resources/v1/img/6G_054_img-09.gif" width="300"
                alt=""
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
        </div>
        <div class="mt-30 pb-50 text-align-center">
            <img src="/resources/v1/img/check-bg-07.png" width="50"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                    style-af-ani: 'transform: scale(1); opacity:1'">
            <p class="fs-16 mt-0 mb-0"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                사랑하는 아이의 선천적 질병과
            </p>
            <h1 class="fc-13 fw-700 mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                산모 질병을 보장해보세요.
            </h1>
        </div>
    </section>

<!--콘텐츠 평가영역-->
    <section id="feedback-area" data-is-not-result-page="false" class="bg-14">
        <article class="text-align-center fc-white">
            <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
            <div class="feedback-btn-box mt-10 text-align-center">
                <div class="feedback-btn-box-inner">
                    <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                    <label class="feedback-btn" for="feedback-radio-01">
                        <img src="/resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                        <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                    </label>
                </div>
                <div class="vertical-line mb-15"></div>
                <div class="feedback-btn-box-inner">
                    <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                    <label class="feedback-btn" for="feedback-radio-02">
                        <img src="/resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                        <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                    </label>
                </div>
            </div>
        </article>
    </section>
</div>
<div class="header-bg-panel-wrapper">
    <div class="header-bg-panel bg-7"></div>
</div>
<!--돌아가기 버튼-->
<div class="bottom-fixed-area" data-is-not-result-page="false">
    <button class="bg-white fc-7 fs-4 fw-700 bdc-7" id="goFirstBtn" onclick="location.reload();">다시 선택하기</button>
</div>

    <!--로딩스크린-->
    <div class="text-align-center loading-screen" data-is-playing-loading="false">
        <lottie-player src="/resources/v1/img/loading-animation.json"
                        background="transparent"
                        style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
        </lottie-player>
        <div class="fc-2 fs-6 fw-500">
            고객님에게 맞는 <b>교보생명</b> 상품으로<br>
            이동중이에요!
        </div>
    </div>
<script src="/resources/v1/js/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
<script src="/resources/v1/js/Customer-Journey.js"></script>
<script>
    try {
        //애니메이션 설정 로딩
        AnimationManager.loadElementsToAnimate();

        //컴포넌트 이벤트 및 기본설정
        EventProcessor.initSetting({
            contentsId: '6G_054',  //콘텐츠id
            linkInfoForInsurance: {
                //상품 링크 url
                url: 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000948&evcode=DCJ_MO',
                //상품명
                name: '(무)교보금쪽같은내아이보험(갱신형)Ⅱ[DM]',
                //상품 이미지 url
                imgUrl: '/resources/v1/img/img-product-svg-child-care.svg',
                //상품 설명
                explain: '내 아이를 위한 금쪽같은 어린이보험',
                //심의필
                certificationMsg: '생명보험협회 심의필 제 2022-05464호 (2022-12-27 ~ 2023-12-26)'
            },
            linkInfoForService: {
                //부가서비스 링크 url
                url: 'https://www.kyobo.com/dgt/web/product/healthChild-service',
                //부가서비스명
                name: '교보어린이헬스케어서비스',
                //부가서비스 이미지 url
                imgUrl: '/resources/v1/img/img-service-svg-child-healthcare.svg',
                //부가서비스 설명
                explain: '임신부터 출산, 육아까지 알찬 서비스'
            },
            bPostSurveyInput : false, // 설문조사 입력결과 전송여부 : false
        });
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>