<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/swiper-bundle.min.css">
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>타이틀은 미정미정미정</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_6B_014 information-type type-a bg-9 fc-white">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <a href="javascript:history.back()" class="go-back-btn">
            <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg">
        </a>
        <div class="fc-1">
            타이틀을 미정미정미정
        </div>
        <div></div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자녀</span>
                <div>
                    <h1 class="fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">성적이 높은 아이들의 부모는</h1>
                    <h1 class="fw-700 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">어떤 사람들이었을까요?</h1>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        ‘자녀는 부모의 뒷모습을 보며 자란다’는<br>
                                        말이 있습니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/6B_014_img-01.png">
                    <div class="mt-10">
                        <h3 class="fw-700">아동 성취도 발달에 관한 장기적인 연구</h3>
                        <p class="mt-9">
                            미국 교육부에서 100여 개의 학교에서 2만 명이 넘는<br>
                            아이들을 대상으로 유치원에서 초등학교 5학년까지<br>
                            학업 성취도 발달 과정을 측정한 연구입니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-35">
                <h2 class="fw-700 mb-20">지금부터<br>
                    부모와 자녀성적의 상관관계 요인에<br>
                    대해서 알아볼게요.</h2>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #c34c4c',
                                scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        자녀가 있는 부모라면,<br>
                                        어떤 항목에 해당되나요?</h1>
            </div>
            <div class="mt-30">
                <p class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    주변 환경이 더 좋은 곳으로 이사했다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    아이가 유치원에 다니기까지 엄마가 직장에 다니지 않았다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    부모가 아이를 박물관에 자주 데리고 간다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    정기적으로 아이를 체벌한다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    아이가 TV를 많이 본다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    매일 부모가 아이에게 책을 읽어 준다.
                </p>
            </div>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/6B_014_img-02.png" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #ad4444',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        보기 중 자녀 성적과<br>
                                        관계있는 항목은 없습니다.
                </h1>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">
                    아이들은 부모가 무엇을 해주느냐보다는<br>
                    부모가 어떤 사람인가에 더 큰 영향을 받습니다.
                </p>
            </div>
            <div class="mt-20">
                <img src="../../../resources/v1/img/6B_014_img-03.png" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                style-af-ani: 'background-color: #983b3b',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        아이에게 적극적인<br>
                                        부모의 모습을 보여주세요.
                </h1>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">
                    열심히 작업활동을 하고, 관심분야의 책을 사서 읽고,<br>
                    적극적으로 사회생활을 하는 부모의 모습을 보면서<br>
                    주도적인 아이로 자라납니다.
                </p>
            </div>
            <div class="text-align-right mt-25">
                <img src="../../../resources/v1/img/6B_014_img-04.png" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
            <div class="mt-30 pd-bt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">

                <h1 class="fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    세상의 모든 부모님들!
                </h1>
                <p class="mt-5 mb-0 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    아프지 말고, 건강한 모습으로<br>
                    아이 옆에 오래도록 함께해주세요.
                </p>
            </div>
        </article>
    </section>
    <!--콘텐츠 평가영역-->
    <section id="feedback-area" style="background: #823333;">
        <article class="text-align-center fc-white">
            <div class="fw-700 text-align-left fc-white fs-18">콘텐츠에 대해 평가해주세요.</div>
            <div class="feedback-btn-box mt-10 text-align-center">
                <div class="feedback-btn-box">
                    <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                    <label class="feedback-btn" for="feedback-radio-01">
                        <img src="../../../resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                        <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                    </label>
                </div>
                <div class="vertical-line mb-15"></div>
                <div class="feedback-btn-box">
                    <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                    <label class="feedback-btn" for="feedback-radio-02">
                        <img src="../../../resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                        <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                    </label>
                </div>
            </div>
        </article>
    </section>
</div>
<!-- [E] cont -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
<script src="../../../resources/v1/js/Customer-Journey.js"></script>
<script>
    try {
        //애니메이션 설정 로딩
        AnimationManager.loadElementsToAnimate();

        //컴포넌트 이벤트 및 기본설정
        EventProcessor.initSetting({
            contentsId: '6B_014',  //콘텐츠id
            linkInfoForInsurance: {
                //상품 링크 url
                url: 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000948&evcode=DCJ_MO',
                //상품명
                name: '(무)교보금쪽같은내아이보험(갱신형)Ⅱ[DM]',
                //상품 이미지 url
                imgUrl: '../../../resources/v1/img/img-product-svg-child-care.svg',
                //상품 설명
                explain: '내 아이를 위한 금쪽같은 어린이보험',
                //심의필
                certificationMsg: '생명보험협회 심의필 제 2022-05464호 (2022-12-27 ~ 2023-12-26)'
            },
            linkInfoForService: {
                //부가서비스 링크 url
                url: 'https://www.kyobo.com/dgt/web/product/healthChild-service',
                //부가서비스명
                name: '교보어린이헬스케어서비스',
                //부가서비스 이미지 url
                imgUrl: '../../../resources/v1/img/img-service-svg-child-healthcare.svg',
                //부가서비스 설명
                explain: '임신부터 출산, 육아까지 알찬 서비스'
            }
        });
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>