<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/swiper-bundle.min.css">
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>우리집 냉장고는 어떤 냉장고인가요?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_7E_006 survey-type bg-6">
<!--gnb(헤더 - 뒤로가기)-->
<nav class="bg-white">
    <a href="javascript:history.back()" class="go-back-btn">
        <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg">
    </a>
    <div>
        우리집 냉장고는 어떤 냉장고?
    </div>
    <div></div>
</nav>
    <!--서버로부터 전달받는 변수영역-->
    <input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
    <input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
    <div class="main-wrapper">
        <header>
            <div id="survey-area" data-is-not-result-page="true">
                <article class="fc-white">
                    <span class="tag opacity-0 fc-13"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                               start-ms:'300',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.7s'">건강관리</span>
                    <p class="mt-10">
                        <h1 class="opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-100%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'500',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">우리집 냉장고는 삼성, LG 말고</h1>
                        <h1 class="strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-250%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'700',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                            어떤 냉장고인가요?
                        </h1>
                    </p>
                    <div class="opacity-0"
                         data-animation-type="onload"
                         data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateY(-400%);',
                                               style-af-ani: 'transform:',
                                               start-ms:'900',
                                               transition-props:'[opacity,transform]',
                                               transition-duration:'0.8s'">
                        <span class="sub-tit">
                        냉장고에 가장 많이 있는 음식을<br>
                        골라 보세요!
                        </span>
                    </div>
                    <div></div>
                </article>

                <form class="survey-form">
                    <ul class="vertical-ul">
                        <li class="fs-0">
                            <div class="li-item opacity-0"
                                 data-animation-type="onload"
                                 data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1000',
                                               transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey-no-submit" value="01" id="answer-01">
                                <label for="answer-01">
                                    <div class="radio-btn bdc-5"></div>
                                    <div class="fs-5">
                                        <small class="fc-4">입 안 가득 풍미 넘치는!</small>
                                        <div class="mt-5">고기, 버터, 베이컨</div>
                                    </div>
                                    <img src="../../../resources/v1/img/7E_006_img-01.png" width="60px">
                                </label>
                            </div>
                        </li>
                        <li class="fs-0">
                            <div class="li-item opacity-0"
                                 data-animation-type="onload"
                                 data-animation-infos="remove-class-nm: 'opacity-0',
                                               style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1300',
                                               transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey-no-submit" value="02" id="answer-02">
                                <label for="answer-02">
                                    <div class="radio-btn bdc-5"></div>
                                    <div class="fs-5">
                                        <small class="fc-4">우리집 밥도둑!</small>
                                        <div class="mt-5">젓갈, 장아찌, 절인 생선</div>
                                    </div>
                                    <img src="../../../resources/v1/img/7E_006_img-02.png" width="60px">
                                </label>
                            </div>
                        </li>
                        <li class="fs-0">
                            <div class="li-item"
                                 data-animation-type="onload"
                                 data-animation-infos="style-bf-ani: 'transform:translateX(100vw);',
                                               style-af-ani: 'transform:',
                                               start-ms:'1600',
                                               transition-props:'[opacity]',
                                               transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey-no-submit" value="02" id="answer-03">
                                <label for="answer-03">
                                    <div class="radio-btn bdc-5"></div>
                                    <div class="fs-5">
                                        <small class="fc-4">체중관리의 정석!</small>
                                        <div class="mt-5">채소, 과일, 두부, 콩</div>
                                    </div>
                                    <img src="../../../resources/v1/img/7E_006_img-03.png" width="60px">
                                </label>
                            </div>
                        </li>
                    </ul>
                </form>

                <div class="footer-area">
                    <button type="submit" id="goNextBtn" class="bg-7 fs-4 fw-700" disabled>내 유형체크 확인하기</button>
                </div>
            </div>
            <article id="selective-result-area" class="text-align-center" data-is-not-result-page="false">
                <div class="selective-result">
                    <div class="fc-white mt-10 mb-25">
                        <h1 class="animation01"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity: 0;',
                                               style-af-ani: 'transform:translateY(0%); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'100'">당신의 냉장고 이름은</h1>
                        <h1 class="fw-700 animation02"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity: 0;',
                                               style-af-ani: 'transform:translateY(0%); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'300'">대장암ᆞ심장병 냉장고입니다</h1>
                    </div>
                    <img src="../../../resources/v1/img/7E_006_img-04.gif" width="300"
                         data-animation-type="onresult"
                         data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity: 0;',
                                               style-af-ani: 'transform:translateX(0vw); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'500'">
                    <h1 class="mt-20 fc-7 fw-700 fc-19">고기, 버터, 베이컨을 좋아하는군요!</h1>
                    <div class="mt-5 fc-3"><span>한국 사람은 특히 대장암에 취약해요.</span></div>
                </div>
                <div class="selective-result">
                    <div class="fc-white mt-10 mb-25">
                        <h1 class="animation01"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity:0;',
                                               style-af-ani: 'transform:translateY(0%); opacity:1;',
                                               transition-duration:'0.5s',
                                               start-ms:'100'">당신의 냉장고 이름은</h1>
                        <h1 class="fw-700"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity: 0;',
                                               style-af-ani: 'transform:translateY(0%); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'300'">위암ᆞ고혈압 냉장고입니다</h1>
                    </div>
                    <img src="../../../resources/v1/img/7E_006_img-05.gif" width="300"
                         data-animation-type="onresult"
                         data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity: 0;',
                                               style-af-ani: 'transform:translateX(0vw); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'500'">
                    <h1 class="mt-20 fc-19 fs-20 fw-700">젓갈, 장아찌, 절인 생선을 좋아하는군요!</h1>
                    <div class="mt-5 fc-3"><span>외식을 많이 한다면 더 위험해요.</span></div>
                </div>
                <div class="selective-result">
                    <div class="fc-white mt-10 mb-25">
                        <h1 class="animation01"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity: 0;',
                                               style-af-ani: 'transform:translateY(0%); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'100'">당신의 냉장고 이름은</h1>
                        <h1 class="fw-700 animation02"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity: 0;',
                                               style-af-ani: 'transform:translateY(0%); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'300'">항암 냉장고입니다</h1>
                    </div>
                    <img src="../../../resources/v1/img/7E_006_img-06.gif" width="300"
                         class="animation03"
                         data-animation-type="onresult"
                         data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity: 0;',
                                               style-af-ani: 'transform:translateX(0vw); opacity: 1;',
                                               transition-duration:'0.5s',
                                               start-ms:'500'">
                    <h1 class="mt-20 fc-19 fs-20 fw-700">채소, 과일, 두부, 콩을 좋아하는군요!</h1>
                    <div class="mt-5 fc-3"><span>좋은 식습관 오래오래 유지하세요.</span></div>
                </div>
                <div class="explanation-box mt-30 mb-20">
                    <div>
                        <h4 class="fw-700 fc-2 fs-15">한번씩 점검해 주세요.</h4>
                        <p class="mt-5 mb-0">
                            <span class="fs-13 fc-3">
                            1. 음식물의 보관상태가 적절한지<br>
                            2. 유효기간이 지난 음식은 아닌지<br>
                            3. 가족 구성원들의 건강상태에 맞는 음식인지
                            </span>
                        </p>
                    </div>
                    <div class="mt-20">
                        <h4 class="fw-700 fc-2 fs-15">하루 3끼면 1년에 1,095번<br>
                            3년이면 3,258번의 식사를 합니다.</h4>
                        <p class="mt-5 mb-0">
                        <span class="fs-13 fc-3">생활 식습관을 관리하면 내 몸의 미래를 알 수 있습니다.</span>
                        </p>
                    </div>
                </div>
            </article>
        </header>

        <!--콘텐츠 평가영역-->
        <section id="feedback-area" data-is-not-result-page="false" class="bg-15">
            <article class="text-align-center fc-white">
                <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
                <div class="feedback-btn-box mt-10 text-align-center">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                            <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                        </label>
                    </div>
                    <div class="vertical-line mb-15"></div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                            <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                        </label>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="header-bg-panel-wrapper">
        <div class="header-bg-panel bg-7"></div>
    </div>

    <!--돌아가기 버튼-->
    <div class="bottom-fixed-area" data-is-not-result-page="false">
        <button class="bg-white fc-7 fs-4 fw-700 bdc-7" id="goFirstBtn">다시 선택하기</button>
    </div>

    <!--로딩스크린-->
    <div class="text-align-center loading-screen" data-is-playing-loading="false">
        <lottie-player src="../../../resources/v1/img/loading-animation.json"
                       background="transparent"
                       style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
        </lottie-player>
        <div class="fc-2 fs-6 fw-500">
            고객님에게 맞는 <b>교보생명</b> 상품으로<br>
            이동중이에요!
        </div>
    </div>
    <script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
    <script src="../../../resources/v1/js/Customer-Journey.js"></script>
    <script>
        //애니메이션 설정 로딩
        AnimationManager.loadElementsToAnimate();

        //컴포넌트 이벤트 및 기본설정
        EventProcessor.initSetting({
            contentsId : '7E_006',  //콘텐츠id
            linkInfoForInsurance : {
                //상품 링크 url
                url : 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000922&evcode=DCJ_MO',
                //상품명
                name : '(무)교보마이핏(Fit)건강보험(DM)',
                //상품 이미지 url
                imgUrl : '../../../resources/v1//img/img-product-svg-health-life.svg',
                //상품 설명
                explain : '꼭 필요한 보장만으로 보험가입 OK!'
            },
            linkInfoForService : {
                //부가서비스 링크 url
                url : 'https://www.kyobo.com/dgt/web/product/healthBasic-service',
                //부가서비스명
                name : '교보헬스케어서비스Basic II',
                //부가서비스 이미지 url
                imgUrl : '../../../resources/v1/img/img-service-svg-healthcare-basic.svg',
                //부가서비스 설명
                explain : '꼭 필요한 것만 담은 똑똑한 건강가이드'
            },
            bPostSurveyInput : false, // 설문조사 입력결과 전송여부 : false
            surveyRadioSelector : 'input[type="radio"][name="kyobolife-survey-no-submit"]' // 확인하기 버튼 selector
        });
    </script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</html>