<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/swiper-bundle.min.css">
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>타이틀 확인하고 붙이기</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body>
    <div style="height: 500px;">
    과연 퍼블리스트가 노출될까요????ㅋㅋㅋ
    </div>
</body>
</html>