<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="성별에 따른 심장질환"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>성별에 따른 심장질환</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_19B_050 information-type type-b">
<!--GA 파라미터-->
<input type="hidden" id="event_name" value="DBS_캠페인_MO" />
<input type="hidden" id="ep_button_area" value="자기개발_요즘20대들은모른다는문제_상세" />
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <h1>
            성별에 따른 심장질환
        </h1>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">건강관리</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">국내 사망원인 2위, 심장질환!</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">성별에 따른 차이가 있다?!</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        심장질환의 연도별 사망자 수는<br>
                                        매년 증가하고 있는 추세입니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/19B_050/19B_050_01.gif" class="width-100" alt="심장질환이란? 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            심장질환이란?
                        </h3>
                        <p class="mt-9 fs-14">
                            선천적 또는 후천적으로 심장기능에<br>
                            장애가 생긴 상태를 말합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    지금부터<br>
                    심장질환에 대해 자세히<br>
                    알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        2021년 사망 원인 2위, 심장질환🫀
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    2021년 대한민국 사망 원인 1위 암, 2위는 과연 무엇일까요?
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    바로 심장질환입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    10명 중 1명은 심장질환으로 사망했습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/19B_050/19B_050_02.png" width="300"
                    alt="지난해 사망 원인 순위 ※ 인구 10만 명당 사망자 수 (단위:명),
                    암: 161.1, 심장질환: 61.5, 폐렴: 44.4, 뇌혈관질환: 44.0, 자살: 26.0, 당뇨병: 17.5, 알츠하이머: 15.6, 간질환: 13.9, 패형증 12.5, 고혈압성 질환: 12.1 [출처: 통계텅, 2021 사망원인통계 결과]"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    ‘심장질환’은 크게 ‘허혈성 심장질환’과 ‘기타 심장질환’으로 나뉩니다.
            </p>
            <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/19B_050/19B_050_03.png" width="300"
                    alt="심장질환 종류, 허혈성 심장잘환(허혈성 심장질환, 불안정성 협심증, 이형 협심증, 심근경색증 등), 기타 심장질환(심내막염, 심장 판막장애, 심장성 부정맥, 심부전 등)"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-25 fs-18 fw-700 text-align-center"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    성별에 따른 조심해야하는<br>
                                    심장질환을 알아보겠습니다.
            </p>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        남성의 경우,<br>
                                        허혈성 심장질환을 조심하세요. 🧔
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    ‘허혈성 심장 질환’은 심장에 혈액을 공급해 주는 혈관(관상동맥)이 좁아져서 심장근육의 일부에 혈액 공급이 부족하여 발생하는 질환입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    혈액 공급이 부족하여 심장에 필요한 산소와 영양소가 제대로 공급되지 않게 되며, ‘허혈성 심장질환’은 협심증, 심근경색증 및 돌연사를 포함합니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/19B_050/19B_050_04.png" width="300"
                    alt=""
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    특히 돌연사의 주범인 급성 심근경색증은 남성한테 더 많이 발생합니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/19B_050/19B_050_05.gif" width="200"
                    alt="심근경색증 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section class="pb-0" 
            data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-20">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        여성의 경우,<br>
                                        기타 심장질환을 조심하세요. 👩
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    ‘기타 심장질환’은 부정맥, 심부전 등의 심장 기능의 이상이 있는 질환을 말합니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    특히 부정맥은 심장의 비정상적인 리듬을 말하며, 심장의 박동이 비정상적으로 빠르거나, 느리거나 혹은 불규칙한 경우를 모두 포함하고 있습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/19B_050/19B_050_06.png" width="300"
                    alt=""
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이때 맥박이 60회 미만인 경우는 ‘느린맥(서맥)’이 라고 하며, 100회 이상인 경우는 ‘빠른맥(빈맥)’이라고 합니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    특히 부정맥 중에서도 심방 세동 및 조동 환자가 많습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이로 인한 뇌경색 위험은 남성보다 여성에서 더 높은 것으로 알려져 있습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/19B_050/19B_050_07.gif" width="200"
                    alt="심방 세동 및 조동 환자 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    특히 여성의 경우 임신을 하게 되면 혈액량 및 심박 출량이 증가하게 되어, 임신 자체가 심혈관계 기능에 부담을 주게 됩니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    진단기술의 발전으로 선천성 및 후천성 심장질환을 가진 여성들의 진단 건수가 점점 증가하고 있습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    성별에 따라 심장질환의 증상도 다릅니다. 가슴 한가운데가 조이는 듯한 흉통은 심혈관질환의 전형적인 증상입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    하지만 대한심장학회에 따르면 여성은 흉통보다 호흡곤란, 소화불량, 오심, 구토 등을 호소하는 경우가 많습니 다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/19B_050/19B_050_08.gif" width="200"
                    alt="호흡곤란, 소화불량, 오심, 구토 등 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    이렇듯 심장에 문제가 있어도 성별에 따라<br>
                    증상과 원인 질병이 다릅니다.
                </div>
                <div class="fw-700 fs-22 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    적절한 치료를 위한 경제적인 준비는<br>
                    잘되어 있는지 점검해 보세요.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가여역 -->
        <section id="feedback-area" style="background-color: #823333;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="output"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a href="#!" class="confirm-btn">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="personalPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            개인정보 제3자 제공 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('personalPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1">교보생명 보험 상품 서비스 이용을 위한</p>
                <p class="fs-20 fc-1 fw-700">제3자 정보제공 동의 안내</p>
            </div>
            <div class="dl-box mt-20">
                <dl>
                    <dt>제공 받는 자</dt>
                    <dd>교보생명보험(주)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 목적</dt>
                    <dd>교보문고 이용 고객 행태 자료 분석 및 보험 상품·서비스 소개</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 항목</dt>
                    <dd>교보문고ID, 이름, 휴대전화번호, 성별, 생년월일, 본인확인(CI), 이메일, 교보문고 회원번호, 최근 2년 월별 통합포인트(적립, 차감, 잔여), 최근 2년 월별 구매도서 데이터(인터넷 중분류, 도서명, 구입권수, 구입액) , 교보문고 이용행동(입력 검색어, 퍼널 별 최종 단계, 교보생명 배너 클릭 여부, 노출 콘텐츠 ID, 콘텐츠 평가)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>보유 및 이용 기간</dt>
                    <dd>동의 철회 시까지 (단, 관계법령에 따름)</dd>
                </dl>
            </div>
            <div class="gray-box mt-40">
                <dl>
                    <dt>동의를 거부하는 경우에 대한 안내</dt>
                    <dd>본 동의를 거부하실 수 있으나, 거부하는 경우에는 교보생명보험(주) 보험·서비스 소개 제공이 제한될 수 있습니다.</dd>
                </dl>
            </div>
            <div class="gray-box mt-5">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">      
                <a href="javascript:void(0);" class="btn" onclick="popClose('personalPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="marketPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            마케팅 수신 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('marketPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1 fw-500">교보생명보험(주) 보험 상품·서비스 소개 등 다양한 정보를 제공합니다.</p>
                <p class="fs-15 fc-1 fw-500 mt-5">고객은 수신 동의 철회를 통하여 언제든지 수신을 거부할 수 있습니다.</p>
            </div>
            <div class="fs-15 fc-1 fw-700 mt-15">
                이에 동의하시겠습니까?
            </div>
            <div class="chk-area mt-15">
                <div class="agree-box">
                    <label for="chk-sms">
                        <input type="checkbox" name="" id="chk-sms"><i></i><span>SMS(메신저 등)</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-mail">
                        <input type="checkbox" name="" id="chk-mail"><i></i><span>이메일</span>
                    </label>
                </div>
            </div>
            <div class="gray-box mt-50">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn" onclick="popClose('marketPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 마케팅 수신 동의 팝업 -->
<!-- [E] pop -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>

<!-- [컨텐츠 오픈 히스토리] -->
<!-- 230518 확대오픈 -->
<!-- [ // 컨텐츠 오픈 히스토리] -->