<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="혈당관리에 필요한 식단"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/import.css">

    <script src="/resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="/resources/v1/js/common.js"></script>
    <script src="/resources/v1/js/link.js"></script>

    <script src="/resources/v1/js/jquery-1.8.2.js"></script>
    <script src="/resources/v1/js/ga-utils.js"></script>

    <title>혈당관리에 필요한 식단</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_13G_029 survey-type type-g bg-6">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            혈당관리에 필요한 식단
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-6">
    <div class="main-wrapper">
        <div class="top-area">
            <!-- [S] 로드화면 -->
            <div id="survey-area" data-is-not-result-page="true">
                <article class="fc-white">
                        <span class="tag fc-13 opacity-0"
                                data-animation-type="onload"
                                data-animation-infos="remove-class-nm: 'opacity-0',
                                                    start-ms:'300',
                                                    transition-props:'[opacity]',
                                                    transition-duration:'0.7s'">질병</span>
                    <div class="mt-10">
                        <div class="fs-22 opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-100%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'500',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                            특효약 없는 당뇨병
                        </div>
                        <div class="fs-22 strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-250%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'700',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                            채식을 하면 나아질까요?
                        </div>
                    </div>
                    <div class="opacity-0 mt-10"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-400%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'900',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">
                            <span class="sub-tit">
                                혈당관리를 위해서는<br>
                                적절한 운동과 식단 관리가 필수입니다.
                            </span>
                    </div>
                </article>

                <!-- <form class="survey-form"> -->
                <form class="survey-form survey-form2">
                    <div class="horizontal-box">
                        <ul>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1100', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="01" id="answer-01">
                                    <label for="answer-01"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1;',
                                                                    start-ms:'1600', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">당연히 혈당관리를 위해</dt>
                                                <dd class="mt5 fs-15 fw-700">채식을 해야죠!</dd>
                                            </dl>
                                            <div class="img-box">
                                                <img src="../../../resources/v1/img/13G_045_img-01.gif" alt="">
                                            </div>
                                            <div class="radio-btn"></div>
                                        </div>  
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1400', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="01" id="answer-02">
                                    <label for="answer-02"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1',
                                                                    start-ms:'1900', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">채식 뿐만 아니라,</dt>
                                                <dd class="mt5 fs-15 fw-700">고기도 챙겨 먹어야죠!</dd>
                                            </dl>
                                            <div class="img-box">
                                                <img src="../../../resources/v1/img/13G_045_img-02.gif" alt="">
                                            </div>
                                            <div class="radio-btn"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </form>
                <div class="footer-area">
                    <button type="submit" id="goNextBtn" class="com-btn bg-7 fs-4 fw-700" disabled>정답 확인하기</button>
                </div>
            </div>
            <!-- [E] 로드화면 -->

            <!-- [S] 컨텐츠 화면 -->
            <!-- s: 컨텐츠 상단 -->
            <article id="result-area" class="text-align-center pb-30" data-is-not-result-page="false">
                <div>
                    <div class="mt-5"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '300',
                                                transition-duration: '0.5s'">
                        <div class="fs-22 fc-white fw-700">정답은 ‘고기도 챙겨 먹어야죠!’ 입니다.</div>
                    </div>
                    <p class="mt-10 mb-20 fc-white"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.5s'">
                                                물론 혈당관리에는 채식이 중요하지만,<br>
                                                극단적 채식은 피해야 합니다.
                    </p>
                    <img src="../../../resources/v1/img/13G_045_img-03.gif" width="300"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity:0;',
                                            style-af-ani: 'transform:translateX(0vw); opacity:1;',
                                            start-ms: '700',
                                            transition-duration: '0.7s'">
                    <div class="mt-20 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.8s'">
                        <p>
                            채식이 당뇨 유병률을 낮췄다는 연구들은<br>
                            대부분 ‘채소 섭취량’에 초점이 맞춰져 있어서<br>
                            채소를 많이 먹을수록 당뇨 위험이 줄었다는 것인데요,
                        </p>
                    </div>
                    <div class="mt-5 fc-1 fs-15 fw-700"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '700',
                                                transition-duration: '0.8s'">
                        <p>
                            이는 <span class="fc-13 va-top">"고기를 아예 먹지 않는 것이 좋다"</span>는<br>
                            의미는 아닙니다.
                        </p>
                    </div>
                </div>
            </article>
            <!-- e: 컨텐츠 상단 -->
        </div>

        <section class="card-section-wrap bg-6" data-is-not-result-page="false">
            <div class="card-section"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color:#f4f4f4;', style-af-ani: 'background-color:#ffffff;'">
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(80px); opacity:0;',
                                                style-af-ani: 'transform:translateX(0px); opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">1</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'transform:translateX(80px); opacity:0;',
                                                style-af-ani: 'transform:translateX(0px); opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                채식했더니 당뇨 유병률이<br>
                                                낮아졌다는 주장도 있습니다!
                        </div>
                    </div>
                    <div class="fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="mt-5 mb-0 fs-5">미국영양학회에 기재된 바에 따르면 채식을 한 사람의 당뇨병 유병률은 채식하지 않은 사람보다 49% 낮았습니다.</p>
                    </div>

                    <div class="mt-25 text-align-center">
                        <img src="../../../resources/v1/img/13G_045_img-04.png" width="200"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                    style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                                                그러나 식물성 식품이 오히려<br>
                                                혈당을 높일 수 있다는 연구 결과도<br>
                                                있습니다.
                        </div>
                    </div>
                    <div class="fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="mt-5 mb-0 fs-5">영국 하트퍼드셔대 연구에 따르면 채식이 오히려 당뇨병을 유발하고, 심장병 위험까지 높인다고 합니다.</p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 mb-0 fs-5">식물성 대체품에 함유된 전분이 몸 속에 들어가면 설탕으로 분해되는데, 채식을 하면 이를 과하게 섭취하게 되어 혈당 건강에 안 좋기 때문입니다.</p>
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/13G_045_img-05.png" width="200"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                    style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                                                그렇다면 당뇨 환자는<br>
                                                어떤 식단을 해야 할까요?
                        </div>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-5">당뇨 환자의 건강한 혈당 관리를 위해서는 고기를 드셔야 합니다.</p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-5">특히 양질의 단백질, 즉 살코기나 생선을 곁들인 채소 위주의 식단이 당뇨 환자에게 가장 좋습니다.</p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-5">규칙적으로 적당한 양의 식사를 하는 것이 혈당 관리를 비롯해 신체 전반의 건강에 도움이 됩니다.</p>
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/13G_045_img-06.png" width="200"
                            alt=""
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                            <span class="section-no fw-700 fc-7"
                                    data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                        style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                                                당뇨 환자들은<br>
                                                당뇨 식단이 어렵다고 말합니다.
                        </div>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-5">실제 당뇨 환자의 혈당 조절률은 24.5%에 그치고 있습니다.</p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-12">
                            [출처 :  2020 국민건강통계 (대상: 당뇨 환자 1,117명)]
                        </p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-5">특히, 식단 관리는 당뇨 환자들에게 필수임에도 불구하고, 당뇨 환자의 76.2%는 불균형한 식사를 하고 있습니다.</p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-12">
                            [출처 : 삼성서울병원 당뇨병 센터 (대상: 당뇨 환자 1,466명)]
                        </p>
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/13G_045_img-07.png" width="200"
                            alt=""
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fc-3 fs-5">단답형으로 똑떨어지게 무엇을 먹고, 먹지 말아야 하는지 알면 좋겠지만 당뇨병의 식사요법은 그렇게 이분법적으로 나눌 수 없습니다.</p>
                    </div>
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                        <p class="fs-5 fc-3">그래서 실제 환자들은 당뇨병 식단이 복잡하다는 편견을 지닌 경우가 많습니다.</p>
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                            <span class="section-no fw-700 fc-7"
                                    data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                                        style-af-ani: 'margin-left:0px; opacity:0.2'">5</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                                style-af-ani: 'margin-left:0px; opacity:1'">
                                                의사 선생님이 권하는<br>
                                                당뇨 환자 식사요법 알려드리겠습니다.
                        </div>
                    </div>
                    <div class="mt-20"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                        <p class="fs-18 fc-13 fw-700">당뇨 환자 식사요법의 기본원칙</p>
                    </div>
                    <div class="mt-20 list-num c555">
                        <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                            class="list-item num-01">
                            <p class="mt-0 mb-0 fs-5">일정한 시간에 알맞은 음식을 규칙적으로 먹습니다.</p>
                        </div>
                        <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                            class="list-item num-02">
                            <p class="mt-5 mb-0 fs-5">설탕이나 꿀 등 단순당의 섭취를 주의합니다.</p>
                        </div>
                        <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                            class="list-item num-03">
                            <p class="mt-5 mb-0 fs-5">식이 섬유소를 충분히 섭취합니다.</p>
                        </div>
                        <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                            class="list-item num-04">
                            <p class="mt-5 mb-0 fs-5">지방을 적절히 섭취하되 콜레스테롤의 섭취는 제한합니다.</p>
                        </div>
                        <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                            class="list-item num-05">
                            <p class="mt-5 mb-0 fs-5">염분 섭취를 줄입니다.</p>
                        </div>
                        <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                            class="list-item num-06">
                            <p class="mt-5 mb-0 fs-5">음주는 피하는 것이 좋습니다.</p>
                        </div>
                    </div>
                    
                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                        <p class="fc-3 fs-12 text-align-right">
                            [출처 : 대한당뇨병학회]
                        </p>
                    </div>
                    <div class="mt-20"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                        <p class="fw-700 fs-18">
                            특별한 게 없어 보이시나요?<br>
                            당뇨식은 건강식이기 때문입니다.
                        </p>
                    </div>

                    <div class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                        <p class="mt-10">
                            일상생활에서 식이요법과 운동요법으로 잘 관리하며 평생 안고 가야 하는 질병이 바로 당뇨입니다.
                        </p>
                    </div>
                </article>
            </div>
        </section>

        <section data-is-not-result-page="false">
            <div class="mt-30 text-align-center">
                <img src="../../../resources/v1/img/13G_045_img-08.gif" width="300"
                    alt=""
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center">
                <img src="../../../resources/v1/img/check-bg-07.png" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <p class="fs-16 mt-0 mb-0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    철저한 예방과 적절한 치료로<br>
                    건강한 삶을 유지할 수 있도록
                </p>
                <div class="fs-22 fc-13 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    경제적인 준비도 고려해 보세요.
                </div>
            </div>
            <!-- 다시 선택하기 버튼 -->
            <div class="btn-re-wrap">
                <button class="" id="goFirstBtn" onclick="location.reload();">다시 선택하기</button>
            </div>
        </section>

        <!-- s: 컨텐츠 하단 영역-->
        <div class="bg-btm-pink btm-wrap" data-is-not-result-page="false">
            <!-- 평가영역 -->
            <section id="feedback-area" class="bg-f4f4f4">
                <div class="feedback-inner">
                    <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                    <div class="feedback-btn-box">
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                            <label class="feedback-btn good" for="feedback-radio-01">
                                <span class="blind">좋아요</span>
                            </label>
                        </div>
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                            <label class="feedback-btn bad" for="feedback-radio-02">
                                <span class="blind">별로에요</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 상품영역 -->
            <div id="output"></div>

            <!-- 동의 영역 -->
            <div class="agree-area white">
                <div class="all-agree-box">
                    <label for="chk-all" class="check-style-all">
                        <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-agr1" class="check-style-agr">
                        <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
                </div>
                <div class="agree-box">
                    <label for="chk-agr2" class="check-style-agr">
                        <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
                </div>
            </div>
            <div class="confirm-btn-box">
                <a href="#!" class="confirm-btn">
                    확인하기
                </a>
            </div>
        </div>
        <!-- e: 컨텐츠 하단 영역-->

        <!-- [S] footer -->
        <footer class="footer_wrapper" data-is-not-result-page="false">
            <div class="footer_body">
                <div class="logo_box">
                    <a id="link_home" class="logo_link">
                            <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
                    </a>
                    <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
                </div>
                
                <address class="footer_info_box">
                    <div class="info_text_multi">
                        <span class="info_text">교보문고</span>
                        <span class="gap">|</span>
                        <span class="info_text">대표이사 : 안병현</span>
                    </div>
                    <span class="info_text">서울특별시 종로구 종로 1</span>
                    <span class="info_text">사업자등록번호 : 102-81-11670</span>
                    <span class="info_text"><b>대표전화 : 1544-9000</b></span>
                    <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
                    <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
                    <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
                    <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
                </address>
                
                <div class="footer_menu_box">
                    <ul class="footer_menu_list">
                        <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                        <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
                    </ul>
                    <ul class="footer_menu_list sub">
                        <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                        <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                        <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                        <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- [E] footer -->
    </div>
    <!-- 상단 패널 -->
    <div class="top-bg-panel-wrapper">
        <div class="top-bg-panel bg-7"></div>
    </div>
    <!-- [E] 컨텐츠 화면 -->
</div>
<!-- [E] cont -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="/resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="/resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "/resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "/resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>