<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="자녀의 노후 자금 꿀팁!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/import.css">

    <script src="/resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="/resources/v1/js/common.js"></script>
    <script src="/resources/v1/js/link.js"></script>

    <script src="/resources/v1/js/jquery-1.8.2.js"></script>
    <script src="/resources/v1/js/ga-utils.js"></script>

    <title>자녀의 노후 자금 꿀팁!</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_9A_0111 information-type type-a">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="/resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="/resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div>
        <h1>
            자녀의 노후 자금 꿀팁!
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="/resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-1">
    <div class="top-area">
        <article class="pb-70">
            <div>
                <span class="tag mb-10 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            start-ms:'300',
                                            transition-props:'[opacity]',
                                            transition-duration:'0.7s'">자산관리</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">자녀의 노후를 위한 선택,</div>
                    <div class="fs-22 fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            자녀 연금보험 가입
                    </div>
                </div>
                <div class="opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-400%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'900',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            소득이 없는 10~20세대의<br>
                                            국민연금 임의가입이 늘었습니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="/resources/v1/img//11A_098/11A_098_01.gif" class="width-100" alt="0 5,000, 10,000, 15,000, 20,000, 25,000, 30,000 / 2018년 9,689, 2022년 10월 26,533">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            1020 국민연금 임의가입자 수 <span class="fs-11">(단위 : 명)</span>
                        </h3>
                        <p class="mt-10 fs-14">
                            국민연금 임의가입자수 2만 6,533명!<br>
                            안전한 노후를 위한 준비, 국민연금 가입의 정답은?
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700">
                    2018년에 비해 2.7배 상승!<br>
                    왜 이런 일이 벌어졌는지<br>
                    알아볼게요.
                </div>
                <div class="animation-vertical-box mt-20"
                        style="height:0"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #27809e',
                                    style-af-ani: 'background-color: #23738e',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">1</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        소득이 없는데<br>
                                        연금 가입자 수가 늘어났다? 📈
                </div>
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    주로 부모들이 직업이 없는 청년층을 대신해 임의로 국민연금에 가입해 주기 때문입니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    가입 기간이 길수록 나중에 받을 연금액도 커질 수 있는 구조라 한 살이라도 어릴 때 가입하면 유리할 것이라는 판단에서 나와 주로 부모들이 직업이 없는 청년층을 대신해 임의로 국민연금에 가입해 준 결과로 보입니다.
            </div>
            <div class="mt-20 text-align-right">
                <img src="/resources/v1/img/11A_098/11A_098_02.gif" width="200" alt="소득이 없는데 연금 가입자 수가 늘어났다 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    노후에 연금을 많이 받으려면 어떻게 하는 것이 좋을까요?
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    여러 방법이 있지만 가장 쉬운 방법은 일찍 가입하는 것입니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    가입 기간이 길어지면 납입금액이 커지는 것도 있지만 복리 효과로 적립금이 늘어납니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    일찍 가입하는 효과는 얼마나 될까요?
            </div>
            <div class="mt-20 text-align-center">
                <img src="/resources/v1/img/11A_098/11A_098_03.png" width="300" alt="가입 시 보험료 90,000월 / 10년 188,910원 / 20년 373,000원 / 30년 557,090원 / 40년 741,170원"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    임의가입 최소보험료 9만 원을 10년 냈을 때, 연금액인 188,910원을 65세부터 평생까지 받을 수 있습니다.
            </div>
            <div class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    만약, 10년 일찍 가입하여 20년을 납입했다면 월 373,000원을 평생 받을 수 있습니다.
            </div>
            <div class="mt-30 text-align-right">
                <img src="/resources/v1/img/11A_098/11A_098_04.png" width="200" alt="자녀의 노후 자금 준비 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자녀의 노후 자금을 미리 준비하는 방법은 어떤 게 있는지 알아보겠습니다.
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #23738e',
                                    style-af-ani: 'background-color: #1f667e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        자녀에게 연금을 납입할 돈을<br>
                                        증여하는 방법이 있습니다. 📃
                </div>
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    미성년 자녀에게는 10년간 2천만 원, 성년 자녀에게는 10년간 5천만 원 한도로 증여세 없이 증여할 수 있습니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자녀에게 보험료를 납입할 수 있는 돈을 증여한 다음 국세청에 신고하고, 자녀가 본인 명의로 국민연금과 연금보험에 가입합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자녀는 부모로부터 증여받은 돈으로 국민연금 보험료와 연금보험료를 납입하기 때문에 자녀의 연금에 대해 증여세가 부과되지 않습니다.
            </div>
            <div class="mt-20 text-align-left">
                <img src="/resources/v1/img/11A_098/11A_098_05.gif" width="200" alt="자녀에게 연금을 압일할 돈을 증여하는 방법이 있습니다. 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 fw-700" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    20세 자녀에게 5천만 원을 증여한 경우
            </div>
            <div class="bull-list-chk fw-700 mt-10"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    5천만 원에 대한 증여세: 0원
            </div>
            <div class="bull-list-chk fw-700 mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    증여받은 현금으로 10년간 5천만 원의 보험료를 납입 할 수 있음
            </div>
            <div class="bull-list-chk fw-700 mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    월 납입 보험료: 41.6만 원+α<br>
                                    <span class="fs-12 fw-400">(α는 자녀의 소득에서 납입하는 보험료)</span>
            </div>
            <div class="mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    그래서 여유가 있는 사람들은 증여를 통해 자녀의 연금보험을 미리 준비합니다.
            </div>
            <div class="mt-20 text-align-right">
                <img src="/resources/v1/img/11A_098/11A_098_06.png" width="200" alt="20세 자녀에게 5천만원을 증여한 경우 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1f667e',
                                    style-af-ani: 'background-color: #1b596e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        연금 수령권을 상속합니다. 📝
                </div>
            </div>
            <div class="mt-5"  
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    계약자, 수익자는 부모로 하고, 피보험자를 자녀로 한 연금보험에 가입하여 연금 수령권을 상속할 수도 있습니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자녀의 연금 개시 연령이 되었을 때 부모가 생존하고 있으면 부모가 연금을 수령하고 부모가 사망한 후에는 자녀가 연금을 계속 이어서 받을 수 있습니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    단, 자녀의 기대 여명만큼 생존하여 받을 수 있는 연금 총액을 현재 가치로 할인하여 상속 재산 가치를 산정합니다.
            </div>
            <div class="mt-20 text-align-left">
                <img src="/resources/v1/img/11A_098/11A_098_07.gif" width="200" alt="연금 수령권을 상속합니다. 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 fw-700 fs-18"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    60세 아들이 월 100만 원의 종신형 연금 수령권을 상속한 경우
            </div>
            <div class="bull-list-chk fw-700 mt-10"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    아들의 기대여명: 20.6년<br>
                                    <span class="fs-12 fw-400">(2021년 기준 남자 기대수명 80.6세)</span>
            </div>
            <div class="bull-list-chk fw-700 mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    받을 수 있는 연금 총액 추정치 : 2억 4,720만 원<br>
                                    <span class="fs-12 fw-400">(연 1,200만 원×20.6년)</span>
            </div>
            <div class="bull-list-chk fw-700 mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    상속재산가치: 약 1억 8,790만 원
            </div>
            <div class="fs-13 mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    <span class="fw-700">※ 연금의 정기금 평가 방법</span><br>
                                    {상속세 및 증여세법 시행령 제62조_정기금을 받을 권리의 평가}에 근거하여 미래의 현금흐름을 현재가치로 적용하기 위해 연 3%를 복리 적용하여 할인평가 합니다.
            </div>
            <div class="mt-20 text-align-right">
                <img src="/resources/v1/img/11A_098/11A_098_08.png" width="200" alt="연금상속 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="/resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    개인연금 중에서도 세금 걱정 없는 연금도 있으니,
                </div>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    꼼꼼히 검토해 보시기 바랍니다.
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1b596e',
                                    style-af-ani: 'background-color: #154656',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        가입 시기가 가장 중요합니다. 🗓
                </div>
            </div>
            <div class="mt-5"  
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    부모들은 노후 준비 항목 중 특히 연금이 충분하지 않은 경우가 많습니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자녀의 여유로운 노후생활을 결정하는 가장 큰 변수는 연금의 가입 시기입니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    종신형 연금은 연금이 개시되면 중도 해지할 수 없기 때문에 자녀의 노후 준비가 목적이라면 종신형 연금으로 가입하는 것이 좋습니다.
            </div>
            <div class="mt-20 text-align-center">
                <img src="/resources/v1/img/11A_098/11A_098_09.gif" width="200" alt="가입 시기가 가장 중요합니다. 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="/resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    ‘해야 하겠다’라는 생각이 있다면 미루지 말고
                </div>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    지금 결정하시면 좋겠습니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #133f4e;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="/resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="/resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- 상품영역 -->
        <div id="output"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a href="#!" class="confirm-btn">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="/resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="personalPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            개인정보 제3자 제공 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('personalPop');">
                <img src="/resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1">교보생명 보험 상품 서비스 이용을 위한</p>
                <p class="fs-20 fc-1 fw-700">제3자 정보제공 동의 안내</p>
            </div>
            <div class="dl-box mt-20">
                <dl>
                    <dt>제공 받는 자</dt>
                    <dd>교보생명보험(주)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 목적</dt>
                    <dd>교보문고 이용 고객 행태 자료 분석 및 보험 상품·서비스 소개</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 항목</dt>
                    <dd>교보문고ID, 이름, 휴대전화번호, 성별, 생년월일, 본인확인(CI), 이메일, 교보문고 회원번호, 최근 2년 월별 통합포인트(적립, 차감, 잔여), 최근 2년 월별 구매도서 데이터(인터넷 중분류, 도서명, 구입권수, 구입액) , 교보문고 이용행동(입력 검색어, 퍼널 별 최종 단계, 교보생명 배너 클릭 여부, 노출 콘텐츠 ID, 콘텐츠 평가)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>보유 및 이용 기간</dt>
                    <dd>동의 철회 시까지 (단, 관계법령에 따름)</dd>
                </dl>
            </div>
            <div class="gray-box mt-40">
                <dl>
                    <dt>동의를 거부하는 경우에 대한 안내</dt>
                    <dd>본 동의를 거부하실 수 있으나, 거부하는 경우에는 교보생명보험(주) 보험·서비스 소개 제공이 제한될 수 있습니다.</dd>
                </dl>
            </div>
            <div class="gray-box mt-5">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">      
                <a href="javascript:void(0);" class="btn" onclick="popClose('personalPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="marketPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            마케팅 수신 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('marketPop');">
                <img src="/resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1 fw-500">교보생명보험(주) 보험 상품·서비스 소개 등 다양한 정보를 제공합니다.</p>
                <p class="fs-15 fc-1 fw-500 mt-5">고객은 수신 동의 철회를 통하여 언제든지 수신을 거부할 수 있습니다.</p>
            </div>
            <div class="fs-15 fc-1 fw-700 mt-15">
                이에 동의하시겠습니까?
            </div>
            <div class="chk-area mt-15">
                <div class="agree-box">
                    <label for="chk-sms">
                        <input type="checkbox" name="" id="chk-sms"><i></i><span>SMS(메신저 등)</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-mail">
                        <input type="checkbox" name="" id="chk-mail"><i></i><span>이메일</span>
                    </label>
                </div>
            </div>
            <div class="gray-box mt-50">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn" onclick="popClose('marketPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 마케팅 수신 동의 팝업 -->
<!-- [E] pop -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="/resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="/resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "/resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "/resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>