<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="고혈압 관리"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>고혈압 관리</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_19G_142 survey-type type-g bg-6">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            고혈압 관리
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-6">
    <div class="main-wrapper">
        <div class="top-area">
            <!-- [S] 로드화면 -->
            <div id="survey-area" data-is-not-result-page="true">
                <article class="fc-white">
                        <span class="tag fc-13 opacity-0"
                                data-animation-type="onload"
                                data-animation-infos="remove-class-nm: 'opacity-0',
                                                    start-ms:'300',
                                                    transition-props:'[opacity]',
                                                    transition-duration:'0.7s'">질병</span>
                    <div class="mt-10">
                        <div class="fs-22 opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-100%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'500',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">고혈압 관리를 시작해야 하는
                        </div>
                        <div class="fs-22 strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-250%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'700',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                                                    나이는 언제일까요?
                        </div>
                    </div>
                    <div class="opacity-0 mt-10"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-400%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'900',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">
                            <span class="sub-tit">
                                건강한 혈관을 유지하기 위한<br>
                                적극적인 혈압관리가 중요합니다.
                            </span>
                    </div>
                </article>

                <!-- <form class="survey-form"> -->
                <form class="survey-form survey-form2">
                    <div class="horizontal-box">
                        <ul>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1100', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="01" id="answer-01">
                                    <label for="answer-01"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1;',
                                                                    start-ms:'1600', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">첫 번째</dt>
                                                <dd class="mt5 fs-15 fw-700">20 ~ 39세</dd>
                                            </dl>
                                            <div class="img-box mt-30">
                                                <img src="../../../resources/v1/img/19G_142/19G_142_01.png" alt="20 ~ 39세 대표 이미지">
                                            </div>
                                            <div class="radio-btn mt-15"></div>
                                        </div>  
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1400', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="02" id="answer-02">
                                    <label for="answer-02"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1',
                                                                    start-ms:'1900', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">두 번째</dt>
                                                <dd class="mt5 fs-15 fw-700">40 ~ 59세</dd>
                                            </dl>
                                            <div class="img-box mt-30">
                                                <img src="../../../resources/v1/img/19G_142/19G_142_02.png" alt="40 ~ 59세 대표 이미지">
                                            </div>
                                            <div class="radio-btn mt-15"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1700', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="03" id="answer-03">
                                    <label for="answer-03"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1',
                                                                    start-ms:'2100', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">세 번째</dt>
                                                <dd class="mt5 fs-15 fw-700">60 ~ 79세</dd>
                                            </dl>
                                            <div class="img-box mt-30">
                                                <img src="../../../resources/v1/img/19G_142/19G_142_03.png" alt="60 ~ 79세 대표 이미지">
                                            </div>
                                            <div class="radio-btn mt-15"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="footer-area">
                    <button type="submit" id="goNextBtn" class="com-btn bg-7 fs-4 fw-700" disabled>정답 확인하기</button>
                </div>
            </div>
            <!-- [E] 로드화면 -->

            <!-- [S] 컨텐츠 화면 -->
            <!-- s: 컨텐츠 상단 -->
            <article id="result-area" class="text-align-center pb-30" data-is-not-result-page="false">
                <div>
                    <div class="mt-5"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '300',
                                                transition-duration: '0.5s'">
                        <h1 class="fc-white fw-700">정답은 ‘20~39세’ 입니다.</h1>
                    </div>
                    <p class="mt-10 fc-white"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.5s'">
                                                20~30대의 고혈압 환자 증가 추세가 심상치 않습니다.
                    </p>
                    <div class="mt-20">
                        <img src="../../../resources/v1/img/19G_142/19G_142_04.gif" width="300"
                            alt="20~30대의 고혈압 환자 증가 추세가 심상치 않습니다. 대표 이미지"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity:0;',
                                                style-af-ani: 'transform:translateX(0vw); opacity:1;',
                                                start-ms: '700',
                                                transition-duration: '0.7s'">
                    </div>
                    <p class="mt-20 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '900',
                                                transition-duration: '0.5s'">
                                                2021년의 20~30대 고혈압 진료 환자 수는<br>
                                                25만 2,938명입니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                이는 2017년에 비해 29% 증가한 수치입니다.
                    </p>
                    <p class="fs-12 mt-5 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '1200',
                                                transition-duration: '0.5s'">
                                                [출처: 건강보험심사평가원 보건 의료 빅데이터]
                    </p>
                    <div class="mt-20">
                        <img src="../../../resources/v1/img/19G_142/19G_142_05.png" width="300"
                            alt="20~30대 고혈압 진료 환자 140, 90, 2017년~2021년 25만 2,938명 29%증가!"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity:0;',
                                                style-af-ani: 'transform:translateX(0vw); opacity:1;',
                                                start-ms: '1300',
                                                transition-duration: '0.7s'">
                    </div>
                    <p class="mt-30 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                반면, 고혈압 인지율과 치료율은 더 낮아졌습니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                20~30대 고혈압 인지율은 17%,<br>
                                                치료받는 비율은 14%에 불과합니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                이는 전체 연령층 중 가장 낮은 수치입니다.
                    </p>
                    <p class="mt-5 fc-3 fs-12"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                [출처: 대한고혈압학회, 2021]
                    </p>
                    <div class="mt-20">
                        <img src="../../../resources/v1/img/19G_142/19G_142_06.png" width="300"
                            alt="20~30대 고혈압 인지율과 치료울, 인지율 17%, 치료율 14%"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.7s'">
                    </div>
                </div>
            </article>
            <!-- e: 컨텐츠 상단 -->
        </div>

        <section class="card-section-wrap bg-6" data-is-not-result-page="false">
            <div class="card-section"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color:#f4f4f4;', style-af-ani: 'background-color:#ffffff;'">
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">1</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                2030 고혈압이 위험한 이유
                        </div>
                    </div>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                고혈압은 중·노년층의 질병으로 여겨져 왔지만, 젊은 층의 비만, 흡연, 스트레스 등의 생활 습관으로 인해 혈관 노화가 빨라지고 있습니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                이에 따라 고혈압 등 질병의 발생 빈도 역시 증가하기 때문에 20·30세대부터 혈관 관리를 해야 합니다.
                    </p>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_07.png" alt="고혈압이 위험한 이류 대표 이미지" width="300">
                    </div>
                    <p class="mt-25 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                고혈압이 위험한 이유는 <span class="fw-700 va-top fc-1">각종 합병증의 위험이 있기</span> 때문입니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                고혈압의 가장 큰 합병증은 뇌출혈과 심근경색입니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                심장 질환의 대부분은 혈관과 연관되어 있는데, 관상동맥이 막히거나 좁아져 산소가 제대로 공급되지 못할 때 합병증의 위험이 커집니다.
                    </p>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_08.png" alt="심장질환 대표 이미지" width="300">
                    </div>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                20~30대는 혈압 측정의 기회가 적은 데다 본인이 건강하다고 자신하는 경우가 많으므로 미리 관리와 치료가 필요합니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                또한 젊은 나이의 심근경색은 급사로 연결되는 경우가 많기 때문에 더욱 유의하여 대비해야 합니다.
                    </p>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_09.png" alt="심근경색 대표 이미지" width="300">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">2</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                대표적인 고혈압 합병증
                        </div>
                    </div>
                    <p class="mt-5 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                혈압이 높아지면 우리 몸에서는 변화가 일어납니다.
                    </p>
                    <div class="bull-list-chk pink mt-20 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                <p class="fs-18 fw-700 fc-13">뇌졸증</p>
                                                <p class="mt-5">먼저 혈관이 얇아집니다.</p>
                                                <p class="mt-5">벽이 얇아진 혈관은 터지기 쉽고 뇌혈관이 터지면 뇌출혈로 이어지게 됩니다.</p>
                    </div>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_10.png" alt="뇌졸증 대표 이미지" width="300">
                    </div>
                    <div class="bull-list-chk pink mt-30 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                <p class="fs-18 fw-700 fc-13">심근경색</p>
                                                <p class="mt-5">심장에 과부하가 생깁니다.</p>
                                                <p class="mt-5">이에 따라 심장 근육이 두꺼워지면서 영양분과 산소가 더 많이 필요하게 됩니다.</p>
                                                <p class="mt-5">하지만 압력이 높아진 혈관 벽은 산소 공급을 제대로 하지 못하고 이는 심장 근육의 조직이나 세포가 죽는 심근경색으로 이어집니다.</p>
                    </div>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_11.png" alt="심근경색 대표 이미지" width="300">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">3</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                혈관 노화 예방하는 건강 습관
                        </div>
                    </div>
                    <div class="bull-list-chk pink mt-20 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                <p class="fs-18 fw-700 fc-13">금연</p>
                                                <p class="mt-5">흡연은 전신 혈관 건강을 매우 나쁘게 하는 근본 원인이기 때문에 지금 당장 금연을 시작하는 것이 좋습니다.</p>
                    </div>
                    <div class="mt-25 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_12.png" alt="금연 대표 이미지" width="300">
                    </div>
                    <div class="bull-list-chk pink mt-30 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                <p class="fs-18 fw-700 fc-13">육류 대신 과일, 채소 섭취</p>
                                                <p class="mt-5">포화지방, 콜레스테롤, 소금, 알코올, 지방이 많이 함유된 육류 섭취는 줄이고 과일, 채소, 곡물 등의 다양한 영양분을 섭취해야 합니다.</p>
                    </div>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_13.png" alt="육류 대신 과일, 채소 섭취 대표 이미지" width="300">
                    </div>
                    <div class="bull-list-chk pink mt-30 fc-3"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                transition-duration: '0.5s'">
                                                <p class="fs-18 fw-700 fc-13">주 5회 이상, 매일 30분 이상 운동</p>
                                                <p class="mt-5">유산소 운동을 통해 적정 체중을 유지해야 합니다.</p>
                                                <p class="mt-5">주 5회 이상 매일 30분 이상의 유산소 운동이 도움이 됩니다.</p>
                    </div>
                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/19G_142/19G_142_14.png" alt="주 5회 이상, 매일 30분 이상 운동 대표 이미지" width="300">
                    </div>
                </article>
            </div>

            <div class="mt-30 text-align-center">
                <img src="../../../resources/v1/img/check-bg-07.png" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                <div class="fs-16 fc-3 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    혈관 건강을 지키는 노력으로 질병을 예방하고,<br>
                    질병 치료에 필요한
                </div>                  
                <div class="fs-22 fc-13 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    비용도 함께 준비하는 것이 좋습니다.
                </div>
            </div>
        </section>

        <!-- s: 컨텐츠 하단 영역-->
        <div class="bg-btm-pink btm-wrap" data-is-not-result-page="false">
            <!-- 평가영역 -->
            <section id="feedback-area" class="bg-f4f4f4">
                <div class="feedback-inner">
                    <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                    <div class="feedback-btn-box">
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                            <label class="feedback-btn good" for="feedback-radio-01">
                                <span class="blind">좋아요</span>
                            </label>
                        </div>
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                            <label class="feedback-btn bad" for="feedback-radio-02">
                                <span class="blind">별로에요</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 상품영역 -->
            <div id="ins_view"></div>

            <!-- 동의 영역 -->
            <div class="agree-area">
                <div class="all-agree-box" id="allAgreeBox">
                    <label for="chk-all" class="check-style-all">
                        <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                    </label>
                </div>
                <div class="agree-box" id="personalAgreeBox">
                    <label for="chk-agr1" class="check-style-agr chk_agr_info">
                        <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
                </div>
                <div class="agree-box" id="marketAgreeBox">
                    <label for="chk-agr2" class="check-style-agr chk_agr_mkt">
                        <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
                </div>
            </div>
            <div class="confirm-btn-box">
                <a href="#!" class="confirm-btn" id="confirm">
                    확인하기
                </a>
            </div>
        </div>
        <!-- e: 컨텐츠 하단 영역-->
        <!-- [S] footer -->
        <footer class="footer_wrapper" data-is-not-result-page="false">
            <div class="footer_body">
                <div class="logo_box">
                    <a id="link_home" class="logo_link">
                            <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
                    </a>
                    <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
                </div>
                
                <address class="footer_info_box">
                    <div class="info_text_multi">
                        <span class="info_text">교보문고</span>
                        <span class="gap">|</span>
                        <span class="info_text">대표이사 : 안병현, 김상훈</span>
                    </div>
                    <span class="info_text">서울특별시 종로구 종로 1</span>
                    <span class="info_text">사업자등록번호 : 102-81-11670</span>
                    <span class="info_text"><b>대표전화 : 1544-9000</b></span>
                    <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
                    <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
                    <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
                    <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
                </address>
                
                <div class="footer_menu_box">
                    <ul class="footer_menu_list">
                        <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                        <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
                    </ul>
                    <ul class="footer_menu_list sub">
                        <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                        <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                        <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                        <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- [E] footer -->
    </div>
    <!-- 상단 패널 -->
    <div class="top-bg-panel-wrapper">
        <div class="top-bg-panel bg-7"></div>
    </div>
    <!-- [E] 컨텐츠 화면 -->
</div>
<!-- [E] cont -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>