<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="부모와 자녀 성적과의 관계는?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>부모와 자녀 성적과의 관계는?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_3B_014 information-type type-b">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            부모와 자녀 성적과의 관계는?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자녀</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">성적이 높은 아이들의 부모는</div>
                    <div class="fs-22 fw-700 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">어떤 사람들이었을까요?</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        ‘자녀는 부모의 뒷모습을 보며 자란다’는<br>
                                        말이 있습니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/3B_014/3B_014_img-01.gif">
                    <div class="mt-10">
                        <div class="fs-18 fw-700">아동 성취도 발달에 관한 장기적인 연구</div>
                        <p class="mt-9">
                            미국 교육부에서 100여 개의 학교에서 2만 명이 넘는<br>
                            아이들을 대상으로 유치원에서 초등학교 5학년까지<br>
                            학업 성취도 발달 과정을 측정한 연구입니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-35">
                <div class="fs-20 fw-700 mb-20">지금부터<br>
                    부모와 자녀성적의 상관관계 요인에<br>
                    대해서 알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #c34c4c',
                                scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        자녀가 있는 부모라면,<br>
                                        어떤 항목에 해당되나요?</div>
            </div>
            <div class="mt-30">
                <p class="bull-list-chk"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    주변 환경이 더 좋은 곳으로 이사했다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    아이가 유치원에 다니기까지 엄마가 직장에 다니지 않았다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    부모가 아이를 박물관에 자주 데리고 간다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    정기적으로 아이를 체벌한다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    아이가 TV를 많이 본다.
                </p>
                <p class="bull-list-chk mt-9"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    매일 부모가 아이에게 책을 읽어 준다.
                </p>
            </div>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/3B_014/3B_014_img-02.gif" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #ad4444',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        보기 중 자녀 성적과<br>
                                        관계있는 항목은 없습니다.
                </div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                <p class="mt-5 mb-0 fs-5">
                    아이들은 부모가 무엇을 해주느냐보다는<br>
                    부모가 어떤 사람인가에 더 큰 영향을 받습니다.
                </p>
            </div>
            <div class="mt-20">
                <img src="../../../resources/v1/img/3B_014/3B_014_img-03.gif" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                style-af-ani: 'background-color: #983b3b',
                                scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        아이에게 적극적인<br>
                                        부모의 모습을 보여주세요.
                </div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                <p class="mt-5 mb-0 fs-5">
                    열심히 작업활동을 하고, 관심분야의 책을 사서 읽고,<br>
                    적극적으로 사회생활을 하는 부모의 모습을 보면서<br>
                    주도적인 아이로 자라납니다.
                </p>
            </div>
            <div class="text-align-right mt-25">
                <img src="../../../resources/v1/img/3B_014/3B_014_img-04.gif" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">

                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    세상의 모든 부모님들!
                </div>
                <p class="mt-5 mb-0 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    아프지 말고, 건강한 모습으로<br>
                    아이 옆에 오래도록 함께해주세요.
                </p>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" class="bg-6c2a2a">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- 상품영역 -->
        <div id="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chk-agr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chk-agr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>