<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="통통한 우리 아이 괜찮을까?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="/resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="/resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="/resources/v1/css/import.css">

    <script src="/resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="/resources/v1/js/common.js"></script>
    <script src="/resources/v1/js/link.js"></script>

    <script src="/resources/v1/js/jquery-1.8.2.js"></script>
    <script src="/resources/v1/js/ga-utils.js"></script>

    <title>통통한 우리 아이 괜찮을까?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_3A_024 information-type type-a">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="/resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="/resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            통통한 우리 아이 괜찮을까?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="/resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-1">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자녀</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">“어릴 때 살은 다 키로 간다?”</div>
                    <div class="fs-22 fw-700 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                        방치하면 ‘킬로(kg)’ 갑니다.
                    </div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-400%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'900',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                    또래보다 통통한 내 아이, 과연 문제는 없을까?<br>
                    방치하면 성인비만으로 이어집니다.
                </div>
            </div>
            <div class="main-banner-wrapper mt-30 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <img src="/resources/v1/img/3A_024_img-01.gif" width="100%" alt="비만군, 비만, 과체중, 30.0, 35.0, 20.0, 15.0, 10.0. 5.0, 0, 2015년 21.9(11.9+9.9), 2016년 22.9(12.9+10.0), 2017년 23.9(13.6+10.3), 2018년 25(14.4+10.6), 2019년 25.8(15.1+10.7)">
                <div class="mt-10">
                    <div class="fs-18 fw-700 fc-2">국내 소아청소년 비만율 변화</div>
                    <p class="mt-5 mb-0 fs-8 fc-4">[출처: MBC 다큐프라임]</p>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20">지금부터<br>
                    소아비만에 대해서<br>
                    알아볼게요.</div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                        style-af-ani: 'height: 100px',
                                        scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #27809e',
                                style-af-ani: 'background-color: #23738e',
                                scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        소아비만이란?<br>피하층과 체조직에 과도한 양의 지방이 축적되어 있는 상태를 말합니다.
                </div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">보통 1세~5세, 그리고 사춘기 시기에 운동부족과 과도한 열량섭취로 인해 발생하게 됩니다.</p>
                <p class="mt-5 mb-0 fs-5">소아비만을 내버려 두면 성인비만으로 이어지고 다양한 만성질환을 유발할 수 있습니다.</p>
            </div>

            <div class="text-align-right mt-20">
                <img src="/resources/v1/img/3A_024_img-02.gif" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0', style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #23738e',
                                style-af-ani: 'background-color: #1f667e',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0', style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    소아비만의 원인은 무엇일까?
                </div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                <div class="fs-15 mt-5 mb-0 fw-700">첫번째, 에너지 불균형</div>
                <p class="mt-5 mb-0 fs-5"> 야식 & 고칼로리 군것질은 비만의 주범이에요.</p>
            </div>
            <div class="mt-20">
                <img src="/resources/v1/img/3A_024_img-03.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                <div class="mb-0 fs-15 fw-700">두번째, 유전적 요인</div>
                <p class="mt-5 mb-0 fs-5">부모가 비만이라면 자녀도 비만일 확률이 높아요!</p>
            </div>
            <div class="text-align-right mt-20">
                <img src="/resources/v1/img/3A_024_img-04.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; opacity:0', style-af-ani: 'opacity:1'">
                <div class="fs-15 mb-0 fw-700">세번째, 신경내분비 요인</div>
                <p class="mt-5 mb-0 fs-5">뇌에서 보내는 식욕 억제 신호 전달체계의 문제 때문이에요.</p>
            </div>
            <div class="mt-20">
                <img src="/resources/v1/img/3A_024_img-05.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                <div class="fs-15 mb-0 fw-700">네번째, 사회적 요인</div>
                <p class="mt-5 mb-0 fs-5">서구화된 식습관, 방과 후 학업으로 신체활동 감소!</p>
            </div>
            <div class="text-align-right mt-20">
                <img src="/resources/v1/img/3A_024_img-06.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #1f667e',style-af-ani: 'background-color: #1B596E', scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    아이가 소아비만에 걸리면?
                </div>
            </div>
            <div>
                <div class="fs-15 mt-5 mb-0 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    [정신적인 영향]
                </div>
                <div class="fs-15 mt-5 mb-0 fw-700 underline"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                    학교생활 → 아이들의 놀림→ 우울증, 과잉행동, 집중력 저하, 공격성 증가
                </div>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    사춘기에 접어들었을 때 본인 신체에 대한 불만족이 자신감의 저하로 연결될 수 있어요.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                    이런 경우 집중력이 떨어져 학업에도 부정적인 영향을 미칠 수 있어요.
                </p>
            </div>
            <div class="mt-20">
                <img src="/resources/v1/img/3A_024_img-07.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0', style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
            <div class="mt-25">
                <div class="fs-15 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    [신체적인 영향]
                </div>
                <div class="fs-15 mt-5 fw-700 underline"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    2차 성징이 빨라짐 → 성 조숙증 → 성장에 악영향
                </div>
                <p class="mt-5 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    지방이 과도하게 축적되면 호르몬 분비 및 순환에 문제가 생겨서 성장호르몬이 제 역할을 못합니다.
                </p>
                <p class="mt-5 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    그럼 2차 성징이 빨리 올 수 있고, 성장판이 일찍 닫혀 키가 크지 않을 수도 있어요.
                </p>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #1B596E', style-af-ani: 'background-color: #174c5e', scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                    <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0', style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    소아비만 왜 위험할까?<br>성인비만으로 이어질 수 있어요!</div>
            </div>
            <div>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    지방세포의 크기만 커지는 성인비만과 달리 소아 비만은 지방세포의 수와 크기가 모두 증가해요.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    한 번 늘어난 지방세포의 수는 줄어들지 않아서, 성인이 되었을 때 비만되기 쉬워요.
                </p>
            </div>
            <div class="mt-30">
                <div class="fs-15 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    [소아 비만 : 지방 세포수가 증가]
                </div>
                <p class="mt-5 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    지방 세포수의 수는 줄지 않으므로 비만으로 성장할 가능성이 높음
                </p>
            </div>
            <div class="text-align-right mt-20">
                <img src="/resources/v1/img/3A_024_img-08.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0', style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
            <div class="mt-30">
                <div class="fs-15 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:50px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">
                    [성인 비만 : 지방 크기 증가]
                </div>
            </div>
            <div class="mt-20">
                <img src="/resources/v1/img/3A_024_img-09.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0', style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="/resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0', style-af-ani: 'transform: scale(1); opacity:1'">

                <div class="fs-18 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    성인병에 잘 걸려요!
                </div>
                <p class="fs-5 mt-5 mb-0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    소아비만은 고혈압, 당뇨, 이상지질혈증, 지방간 등<br>
                    각종 비만 관련 성인병을 유발할 확률이 매우 높아요.<br>
                    소아비만이 성인이 되었을 때<br>
                    2형 당뇨병의 위험도를 4배나 높일 수 있다는<br>
                    연구 결과가 최근에 발표되기도 했어요.<br>
                </p>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #174c5e',
                                style-af-ani: 'background-color: #154656',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0', style-af-ani: 'margin-left:0px; opacity:0.2'">5</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0', style-af-ani: 'margin-left:0px; opacity:1'">소아비만 위험도 체크 리스트</div>
            </div>
            <div class="mt-30">
                <p class="mt-5 mb-0 fs-5" id="test"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    음식을 먹을 때는 어른만큼 먹는다.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    밥 먹기 전에 간식을 먹어도 식사량은 줄지 않는다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    남들보다 빨리 밥을 먹는다.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    TV를 보면서 음식을 먹을 때가 많다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    고기 요리를 좋아한다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    채소는 잘 안 먹는다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    주스나 청량음료를 좋아해서 자주 마신다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    하루에 두 번 이상 간식을 먹는다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    놀이터 운동장보다는 집안에서 놀 때가 많다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    하루에 몇 시간씩 컴퓨터 게임을 한다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    틈만 나면 바닥이나 소파에 누우려고 한다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    전철이나 버스를 타면 앉을 자리부터 찾는다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    숨이 차서 달리기를 싫어한다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    운동하는 것보다 책 읽는 걸 더 좋아한다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="/resources/v1/img/3A_024_img-10.svg" width="20px" height="20px" class="checkbox">
                    두 군데 이상 학원에 다닌다.</p>
            </div>
            <div class="mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">
                    4개 이상이면 비만아가 될 위험이 높습니다.
                </p>
                <p class="mt-5 mb-0 fs-5">
                    아이를 위한 습관 교정이 필요한 상황입니다.
                </p>
                <p class="mt-5 mb-0 fs-8">
                    (출처 : &lt;소리없이 아이를 망치는 질병 – 소아비만&gt;(웅진지식하우스) / 건강보험심사평가원)
                </p>
            </div>
            <div class="text-align-right mt-25">
                <img src="/resources/v1/img/3A_024_img-11.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0', style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mb-0 fs-5">
                    소아비만의 가장 큰 문제는 성인이 되어도 계속 이어진다는 것입니다.
                </p>
                <p class="mt-5 mb-0 fs-5">
                    따라서 소아·청소년 시기에 비만에 대한 예방과 관리가 꼭 필요합니다.
                </p>
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="/resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0', style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-22 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    소아비만을 겪었다면<br>
                    <span class="fw-700 va-top">비만 관련 성인병보장</span>도<br>
                    미리 준비해 놓으세요.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background: #133f4e;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="/resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="/resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="output"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a href="#!" class="confirm-btn">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="/resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
                <a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="/resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="/resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "/resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "/resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>