<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="내가 설마 운동중독?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>내가 설마 운동중독?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_5B_044 information-type type-b fc-white">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            내가 설마 운동중독?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">건강관리</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">왜 이렇게 불안하죠?</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">헬스장을 가지 않아서 그런가 봐요.</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        운동을 못 했다고 짜증이나 불안감이<br>
                                        솟구친다면 운동중독을 의심해 봐야 합니다.
                </div>
            </div>

            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/5B_044/5B_044_01.gif" class="width-100" alt="운동중독이란? 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            운동중독이란?
                        </h3>
                        <p class="mt-9 fs-14">
                            본인의 운동능력보다 과한 운동을<br>
                            지속하려는 행동을 말합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-22 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    그렇다면,<br>
                    운동중독에 대해 자세히<br>
                    알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        운동중독은<br>
                                        ‘러너스 하이’와 다릅니다.🙅
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    숨이 턱까지 차오를 때까지 달리고 나면 오히려 기분이 상쾌해질 때가 있습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동을 하면 우리 몸속 신경전달물질인 ‘엔도르핀’, ‘아난다마이드’가 분비되어 마치 마약을 한 듯한 희열을 느껴 강력한 통증 피로 감소 효과가 있습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이 현상을 미국의 심리학자인 A.J.맨델이 1979년 ‘러너스 하이(Runner’s High)’라고 이름 지었습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    러너스 하이를 자주 느끼고 싶어서 운동을 지속하다 보면 운동중독으로 이어질 수 있습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/5B_044/5B_044_02.gif" width="200"
                    alt="리스너 하이 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30 fs-18 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동중독에도 단계가 있습니다.
            </p>
            <div class="cards-box-wrap text-align-center">
                <div class="cards-box mt-20">
                    <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;'">
                        <div>
                            <img src="../../../resources/v1/img/5B_044/5B_044_03.png" alt="초기">
                        </div>
                        <p class="text-align-center mt-15">
                            운동하는 것만<br>
                            즐겁고 다른 일에<br>
                            큰 감흥이 없는<br>
                            상태
                        </p>
                    </div>
                    <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;'">
                        <div>
                            <img src="../../../resources/v1/img/5B_044/5B_044_04.png" alt="중기">
                        </div>
                        <p class="text-align-center mt-15">
                            자신도 모르게<br>
                            더 강한 강도의<br>
                            운동을 원하고<br>
                            통증을 즐기는<br>
                            상태
                        </p>
                    </div>
                    <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;'">
                        <div>
                            <img src="../../../resources/v1/img/5B_044/5B_044_05.png" alt="말기">
                        </div>
                        <p class="text-align-center mt-15">
                            운동 중<br>
                            다치거나 질병이<br>
                            생겨도 운동을<br>
                            그만둘 수 없는<br>
                            상태
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        혹시 운동중독일지 모릅니다.😵‍💫
                </div>
            </div>
            <p class="mt-20 fs-18 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [운동중독 자가 진단]
            </p>
            <p class="bull-list-chk mt-10"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동이 하루 일과의 가장 지배적인 활동이 된다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동을 하지 않을 때 불안함, 예민해짐 등의 금단 증상이 나타난다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    더 오랜 시간 운동을 하고 싶다. 운동 시간, 운동량, 운동 강도 등을 통제하려는 시도해 봤으나 실패했다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동을 제외하고 다른 취미, 오락 활동에 대한 흥미가 감소했다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동중독으로 인한 정신·사회적 문제에 대해 알고 있음에도 불구하고, 과도하게 운동을 지속하고 있다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    가족, 치료자 또는 타인에게 자신이 운동을 얼마나 하는지 속인다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    무력감, 죄책감, 불안 등 부정적인 기분 완화를 위해서 운동한다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동 때문에 대인관계, 직업, 학업 등을 소홀히하거나 위태롭게 한 적 있다.
            </p>
            <p class="mt-5 fs-12 text-align-right"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [출처: 가톨릭대학교 서울성모병원]
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/5B_044/5B_044_06.gif" width="200"
                    alt="운동 시간 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="30"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    지난 12개월 동안 위 증상 중
                </div>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    5가지 이상 나타난 경우에는<br>
                    운동중독을 의심해 볼 수 있습니다.
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        과한 운동은 몸을 상하게 합니다.😵
                </div>
            </div>
            <div class="mt-20 list-num">
                <div class="list-item num-01 fs-18 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';" >
                    회전근개파열
                </div>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        어깨를 과도하게 사용하는 운동을 하면 힘줄이 찢어지는 회전근개파열이 생길 수 있습니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        머리 위로 팔을 들었을 때 어깨가 찌릿찌릿하다면 이 증상을 의심해 보세요.
                </p>
                <div class="text-align-right mt-20">
                    <img src="../../../resources/v1/img/5B_044/5B_044_07.gif" width="200"
                        alt="회전근개파열 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                </div>
                <div class="list-item num-02 fs-18 fw-700 mt-20"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';" >
                    햄스트링 부상
                </div>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        스쿼트를 과도하게 하다가 허벅지 뒤쪽 근육이 찢어지는 햄스트링 부상이 생길 수 있습니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        대체로 '뚝' 소리가 나면서 허벅지 뒤에 찌릿한 통증이 발생한다면 이 증상을 의심해 보세요.
                </p>
                <div class="text-align-left mt-20">
                    <img src="../../../resources/v1/img/5B_044/5B_044_08.gif" width="200"
                        alt="햄스트링 부상 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                </div>
                <div class="list-item num-03 fs-18 fw-700 mt-20"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';" >
                    디스크
                </div>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        무리하게 바벨이나 덤벨을 드는 근력운동을 하다가 허리를 ‘삐끗’하는 경우가 있습니다.
                </p>
                <p class="mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        대부분 척추 주변의 인대 와 근육 등이 늘어난 요추 염좌이지만, 허리 아래쪽에서 통증이 느껴지고, 다리가 아프고 저리면 디스크를 의심해 봐야 합니다.
                </p>
                <div class="text-align-right mt-20">
                    <img src="../../../resources/v1/img/5B_044/5B_044_09.gif" width="200"
                        alt="디스크 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                style-af-ani: 'background-color: #823333',
                                scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        운동중독,<br>
                                        이렇게 예방하세요.💪
                </div>
            </div>
            <p class="mt-20 fs-18 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [운동중독 예방법]
            </p>
            <p class="bull-list-chk mt-10"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자신의 운동 목적을 파악한다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    격렬한 운동을 한 다음 날에는 휴식일을 두거나 운동 강도를 줄인다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    몸의 경고 증상에 귀 기울인다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    과훈련 증후군이 나타나면 즉각 운동을 쉬고 치료받는다.
            </p>
            <p class="mt-5 fw-500"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    건강을 지키려고 하는 운동으로 내 몸을 해치는 일이 없도록 현명한 운동 습관을 만들어 보세요.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/5B_044/5B_044_10.gif" width="200"
                    alt="운동중독 예방법 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    그리고 일상에서 발생할 수 있는 사고에<br>
                    대비하는 것도 중요합니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #6c2a2a;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="output"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a href="#!" class="confirm-btn">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
                <a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="personalPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            개인정보 제3자 제공 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('personalPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1">교보생명 보험 상품 서비스 이용을 위한</p>
                <p class="fs-20 fc-1 fw-700">제3자 정보제공 동의 안내</p>
            </div>
            <div class="dl-box mt-20">
                <dl>
                    <dt>제공 받는 자</dt>
                    <dd>교보생명보험(주)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 목적</dt>
                    <dd>교보문고 이용 고객 행태 자료 분석 및 보험 상품·서비스 소개</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 항목</dt>
                    <dd>교보문고ID, 이름, 휴대전화번호, 성별, 생년월일, 본인확인(CI), 이메일, 교보문고 회원번호, 최근 2년 월별 통합포인트(적립, 차감, 잔여), 최근 2년 월별 구매도서 데이터(인터넷 중분류, 도서명, 구입권수, 구입액) , 교보문고 이용행동(입력 검색어, 퍼널 별 최종 단계, 교보생명 배너 클릭 여부, 노출 콘텐츠 ID, 콘텐츠 평가)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>보유 및 이용 기간</dt>
                    <dd>동의 철회 시까지 (단, 관계법령에 따름)</dd>
                </dl>
            </div>
            <div class="gray-box mt-40">
                <dl>
                    <dt>동의를 거부하는 경우에 대한 안내</dt>
                    <dd>본 동의를 거부하실 수 있으나, 거부하는 경우에는 교보생명보험(주) 보험·서비스 소개 제공이 제한될 수 있습니다.</dd>
                </dl>
            </div>
            <div class="gray-box mt-5">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">      
                <a href="javascript:void(0);" class="btn" onclick="popClose('personalPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="marketPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            마케팅 수신 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('marketPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1 fw-500">교보생명보험(주) 보험 상품·서비스 소개 등 다양한 정보를 제공합니다.</p>
                <p class="fs-15 fc-1 fw-500 mt-5">고객은 수신 동의 철회를 통하여 언제든지 수신을 거부할 수 있습니다.</p>
            </div>
            <div class="fs-15 fc-1 fw-700 mt-15">
                이에 동의하시겠습니까?
            </div>
            <div class="chk-area mt-15">
                <div class="agree-box">
                    <label for="chk-sms">
                        <input type="checkbox" name="" id="chk-sms"><i></i><span>SMS(메신저 등)</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-mail">
                        <input type="checkbox" name="" id="chk-mail"><i></i><span>이메일</span>
                    </label>
                </div>
            </div>
            <div class="gray-box mt-50">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn" onclick="popClose('marketPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 마케팅 수신 동의 팝업 -->
<!-- [E] pop -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>