<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="남성 갱년기"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>남성 갱년기</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_8A_138 information-type type-a">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div>
        <h1>
            남성 갱년기
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-1">
    <div class="top-area">
        <article class="pb-70">
            <div>
                <span class="tag mb-10 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            start-ms:'300',
                                            transition-props:'[opacity]',
                                            transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">요즘 남편 왜 이럴까요?</div>
                    <div class="fs-22 fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            눈물을 자주 흘리고 기력이 없어요.
                    </div>
                </div>
                <div class="opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-400%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'900',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            40~55세 사이에 일어나는 노화현상으로<br>
                                            남성 호르몬 감소로 남성 갱년기가 시작됩니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/8A_138/8A_138_01.png" class="width-100" alt="남성 갱년기 증산 호소, 0, 15, 25, 35/ 40대 남성: 26.9, 50대 남성: 31.0 (단위:%)">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            40대 남성 26.9%, 50대 남성 약 31%가<br>
                            남성 갱년기 증상 호소합니다.
                        </h3>
                        <p class="mt-10 fs-12">
                            [출처 : 대한남성과학회, 대한남성갱년기학회 2021]
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700">
                    그렇다면,<br>
                    남성 갱년기에 대해<br>
                    자세히 알아볼게요.
                </div>
                <div class="animation-vertical-box mt-20"
                        style="height:0"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #27809e',
                                    style-af-ani: 'background-color: #23738e',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">1</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        남성 갱년기란?
                </div>
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    갱년기는 성호르몬의 감소로 여러 증상이 나타나는 기간을 의미합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    남성 호르몬인 테스토스테론은 30대 전후부터 해마다 약 1%씩 감소하여, 50~70대 남성의 약 30~50%는 정상치보다 낮아집니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    여성보다 남성의 갱년기는 갑작스러운 변화가 없으므로 자각이 어렵습니다.
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/8A_138/8A_138_02.png" width="200" alt="남성 갱년기란?"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #23738e',
                                    style-af-ani: 'background-color: #1f667e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        남성 갱년기 자가진단
                </div>
            </div>
            <div class="bull-list-chk mt-20" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    성적 흥미가 감소했습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    기력이 몹시 떨어졌습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    근력 및 지구력이 떨어졌습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    키가 다소 줄었습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    삶의 즐거움을 잃었습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    슬프거나 불안한 감정이 자주 생깁니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    발기력이 감소했습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    운동할 때 민첩성이 떨어졌습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    저녁식사 후 졸음이 잦습니까?
            </div>
            <div class="bull-list-chk mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    업무능력이 떨어졌습니까?
            </div>
            <div class="text-align-right mt-5 fs-12"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [출처 : 건강보험심사평가원 블로그]
            </div>
            <div class="mt-20 text-align-left">
                <img src="../../../resources/v1/img/8A_138/8A_138_03.png" width="200" alt="남성 갱년기 자가진단"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    위 자가 진단 리스트의 1번이나 7번에 해당하면, 혹은 1번과 7번을 제외한 나머지 3개 이상에 해당한다면 남성 갱년기를 의심해 봐야 합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이런 경우 병원을 방문하여 혈액검사를 하고 정확히 진단받아야 합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    혈중 남성 호르몬 수치가 200~350ng/dL 이하면 남성 갱년기로 봅니다.
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/8A_138/8A_138_04.png" width="200" alt="업무 능력이 떨어졌습니까? 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    갱년기는 노화의 자연스러운 현상입니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    그러나 갱년기 증상이 일상생활에 지장을 준다면 적절한 치료를 받아야 합니다.
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1f667e',
                                    style-af-ani: 'background-color: #1b596e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        남성 갱년기 치료
                </div>
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-01"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            약물 치료
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            낮아진 남성 호르몬을 보충하는 것입니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            먹는 약, 주사 그리고 몸에 붙이는 패치나, 로션 타입 등 다양해 선호하는 형태로 선택할 수 있습니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            다만, 전립선암이 의심되거나 진단되면 호르몬 치료를 피해야 합니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            전립선암은 남성 호르몬을 먹고 살기 때문입니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            더불어, 코골이가 심한 경우도 수면 무호흡증이 심해질 수 있으니 조심해야 합니다.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/8A_138/8A_138_05.png" width="200" alt="약물치료 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-02"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            운동, 음식 치료
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            심하지 않으면 운동이나 음식으로 극복할 수 있습니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            아연은 남성 호르몬 분비를 촉진하는 영양소로, 굴, 게, 새우와 같은 해산물과, 콩, 깨, 호박씨 등에 많이 들어 있습니다.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/8A_138/8A_138_06.png" width="200" alt="운동, 음식치료 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1b596e',
                                    style-af-ani: 'background-color: #154656',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        갱년기, 슬기롭게 극복하는 법
                </div>
            </div>
            <div class="mt-5"  
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    남성 호르몬이 부족한 남성 200여 명을 조사한 결과 56%가 심각한 우울증이나 우울 증상을 겪었습니다.
            </div>
            <div class="text-align-right fs-12 mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [출처 : 미국 워싱턴 대학]
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    남성 갱년기를 슬기롭게 극복하기 위해 제일 가까운 사이인 배우자의 도움이 중요합니다.
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-01"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            심리적 지지
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            남편의 갱년기를 빨리 알아차리고, 솔직한 감정과 우울감에 관해 이야기 나누며 심리적으로 지지를 해주면 좋습니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            즐거운 취미 생활과 스트레스 관리법을 찾고, 부부가 함께하는 규칙적인 시간을 만들어 봅니다.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/8A_138/8A_138_07.png" width="200" alt="심리적 지지 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-02"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            건강한 생활패턴
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            과도한 카페인이나 과음하지 않도록 하고 충분한 수면을 할 수 있도록 건강한 생활방식을 유지하는 게 도움이 됩니다.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/8A_138/8A_138_08.png" width="200" alt="건강한 생활패턴 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    노후까지 행복한 부부의 삶을 위해<br>
                    인생의 위기가 닥쳤을 때
                </div>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    해결할 수 있는 경제적인 준비도<br>
                    잘 갖춰 놓으시기를 바랍니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #133f4e;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- 상품영역 -->
        <div id="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a href="#!" class="confirm-btn" id="confirm">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="personalPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            개인정보 제3자 제공 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('personalPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1">교보생명 보험 상품 서비스 이용을 위한</p>
                <p class="fs-20 fc-1 fw-700">제3자 정보제공 동의 안내</p>
            </div>
            <div class="dl-box mt-20">
                <dl>
                    <dt>제공 받는 자</dt>
                    <dd>교보생명보험(주)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 목적</dt>
                    <dd>교보문고 이용 고객 행태 자료 분석 및 보험 상품·서비스 소개</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 항목</dt>
                    <dd>교보문고ID, 이름, 휴대전화번호, 성별, 생년월일, 본인확인(CI), 이메일, 교보문고 회원번호, 최근 2년 월별 통합포인트(적립, 차감, 잔여), 최근 2년 월별 구매도서 데이터(인터넷 중분류, 도서명, 구입권수, 구입액) , 교보문고 이용행동(입력 검색어, 퍼널 별 최종 단계, 교보생명 배너 클릭 여부, 노출 콘텐츠 ID, 콘텐츠 평가)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>보유 및 이용 기간</dt>
                    <dd>동의 철회 시까지 (단, 관계법령에 따름)</dd>
                </dl>
            </div>
            <div class="gray-box mt-40">
                <dl>
                    <dt>동의를 거부하는 경우에 대한 안내</dt>
                    <dd>본 동의를 거부하실 수 있으나, 거부하는 경우에는 교보생명보험(주) 보험·서비스 소개 제공이 제한될 수 있습니다.</dd>
                </dl>
            </div>
            <div class="gray-box mt-5">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">      
                <a href="javascript:void(0);" class="btn" onclick="popClose('personalPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="marketPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            마케팅 수신 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('marketPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1 fw-500">교보생명보험(주) 보험 상품·서비스 소개 등 다양한 정보를 제공합니다.</p>
                <p class="fs-15 fc-1 fw-500 mt-5">고객은 수신 동의 철회를 통하여 언제든지 수신을 거부할 수 있습니다.</p>
            </div>
            <div class="fs-15 fc-1 fw-700 mt-15">
                이에 동의하시겠습니까?
            </div>
            <div class="chk-area mt-15">
                <div class="agree-box">
                    <label for="chk-sms">
                        <input type="checkbox" name="" id="chk-sms"><i></i><span>SMS(메신저 등)</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-mail">
                        <input type="checkbox" name="" id="chk-mail"><i></i><span>이메일</span>
                    </label>
                </div>
            </div>
            <div class="gray-box mt-50">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn" onclick="popClose('marketPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>