<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="현실적인 외벌이 준비"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>현실적인 외벌이 준비</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_8B_110 information-type type-b">
<!--GA 파라미터-->
<input type="hidden" id="event_name" value="DBS_캠페인_MO" />
<input type="hidden" id="ep_button_area" value="일상생활_부부_외벌이_상세" />
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            현실적인 외벌이 준비
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">외벌이가 되기 위한</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">현실적인 준비 과정!</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        맞벌이에서 외벌이가 되려면,<br>
                                        꼼꼼히 점검해야 할 것들이 있습니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/8B_110_01.gif" class="width-100" alt="외벌이란? 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            외벌이란?
                        </h3>
                        <p class="mt-9 fs-14">
                            부부 가운데 어느 한쪽만 직업을 가지고<br>
                            돈을 버는 일을 뜻합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    외벌이가 되려면<br>
                    다음과 같은 철저한 준비가<br>
                    필요합니다.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        금융 대책 수립하기 ✍
                </div>
            </div>
            <p class="mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    맞벌이에서 외벌이가 된 후에 가장 먼저 체감하는 변화는 수입의 감소입니다.
            </p>
            <div class="mt-20 list-num">
                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-01">
                    <p class="fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
                                            생활비 절감을 위해 가계부 작성 등을 통해 지출 내용을 체크하고, 불필요한 지출을 줄이는 등의 노력이 필요합니다.
                    </p>
                </div>
                <div class="text-align-right mt-30">
                    <img src="../../../resources/v1/img/8B_110_02.png" width="200"
                        alt="지출을 줄이려는 노력 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-02 mt-30">
                    <p class="fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
                                            또한 저축과 투자액이 적정한지 확인하고 실천할 수 있는 목표로 수정해야 합니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
                                            금융자산 포트폴리오가 너무 공격적이거나, 저축액이 과도하다면 조율이 필요합니다.
                    </p>
                </div>
                <div class="text-align-right mt-30">
                    <img src="../../../resources/v1/img/8B_110_03.png" width="200"
                        alt="저축액이 과다하다면 조율이 필요 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-03 mt-30">
                    <p class="fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
                                            이런 사항에 대해 부부간의 충분한 소통과 합의가 필요합니다.
                    </p>
                </div>
                <div class="text-align-right mt-30">
                    <img src="../../../resources/v1/img/8B_110_04.png" width="200"
                        alt="부부간의 소통과 합의 필요 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>
            </div>
            <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/8B_110_05.png" width="300"
                    alt="맞벌이/외벌이 가처분 소득/지출 비교 대표 이미지, 맞벌이 수입:616만원, 맞벌이 지출: 365만원, 외벌이 수입: 398만원, 외벌이 지출: 290만원, 출처 NH투자증권 100세시대연구소"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">보험 및 대출 관련 사항 점검하기 🔍</div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                <p class="mt-5 mb-0 fs-5">건강보험, 국민연금 등 4대 보험 가입이 달라질 수 있습니다.</p>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                <p class="mt-5 mb-0 fs-5">직장을 다니다가 그만둘 때는 건강보험이 지역가입자로 전환되는지에 대한 검토도 필요합니다.</p>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                <p class="mt-5 mb-0 fs-5">일을 그만두는 배우자 명의의 대출이 있다면 소득 변동에 따라 대출 조건이 달라지는지에 대해서도 확인이 필요합니다.</p>
            </div>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/8B_110_06.png" width="200"
                    alt="보험 및 대출 관련 사항 점검하기 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        가정 역할 분담하기 💑
                </div>
            </div>
            <p  class="mt-5 fs-15"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    외벌이가 되면서 가정 역할이 변화될 수 있습니다.
            </p>
            <p  class="mt-5 fs-15"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    아이 돌봄, 식사 준비, 청소 등을 누가 맡을지 정하고 서로의 일정을 맞추는 등의 준비가 필요합니다.
            </p>
            <div class="text-align-right mt-30">
                <img src="../../../resources/v1/img/8B_110_07.png" width="200"
                    alt="가정 역할 분담하기 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p  class="mt-30 fs-15"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                                    아이를 돌보는 배우자에게 모든 집안일이 일임된다면, 그로 인한 스트레스가 가정 내의 불화를 일으킬 수 있습니다.
            </p>
            <p  class="mt-5 fs-15"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                                    서로가 만족할 수 있는 역할 분담에 대해 미리 논의해야 합니다.
            </p>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                style-af-ani: 'background-color: #823333',
                                scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        육아 스트레스 관리하기 👪
                </div>
            </div>
            <p class="mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                만일 육아를 위해 외벌이가 된다면, 아이와 보내는 시간이 길어집니다.
            </p>
            <p class="mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                양육자의 스트레스는 아이에게 영향을 주기 때문에 부모의 정신 건강과 행복을 위한 노력도 중요합니다.
            </p>
            <p class="mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                    style-af-ani: 'opacity:1'">
                육아 전문가의 조언과 마음 관리 서적 등을 통해 육아 스트레스 관리법을 습득하는 것도 도움이 됩니다.
            </p>
            <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/8B_110_08.png" width="200"
                    alt="육아스트레스 관리하기 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                건강한 가정을 꾸려 나가기 위해서 외벌이를 선택하는 경우가 많습니다.
            </p>
            <p class="mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                그러나 예기치 못하게 경제적 가장이 소득이 없어지는 일도 있고, 돈을 벌면서 육아와 집안일까지 전담해야 하는 경우도 발생할 수 있습니다.
            </p>
            <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/8B_110_09.png" width="200"
                    alt="예기치 못한 상황 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>

            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <p class="mt-5 fs-16"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    특히 가장에게 갑작스러운 사고가<br>
                    발생한다면 가정경제에 큰 변화가 생길 수 있습니다.
                </p>
                <p class="mt-5 fs-16"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    어떤 상황에서도 만약을 대비할 수 있도록
                </p>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    준비하는 것이<br>
                    건강한 가정 설계의 핵심입니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가여역 -->
        <section id="feedback-area" class="bg-6c2a2a">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="output"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a href="#!" class="confirm-btn">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="personalPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            개인정보 제3자 제공 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('personalPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1">교보생명 보험 상품 서비스 이용을 위한</p>
                <p class="fs-20 fc-1 fw-700">제3자 정보제공 동의 안내</p>
            </div>
            <div class="dl-box mt-20">
                <dl>
                    <dt>제공 받는 자</dt>
                    <dd>교보생명보험(주)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 목적</dt>
                    <dd>교보문고 이용 고객 행태 자료 분석 및 보험 상품·서비스 소개</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 항목</dt>
                    <dd>교보문고ID, 이름, 휴대전화번호, 성별, 생년월일, 본인확인(CI), 이메일, 교보문고 회원번호, 최근 2년 월별 통합포인트(적립, 차감, 잔여), 최근 2년 월별 구매도서 데이터(인터넷 중분류, 도서명, 구입권수, 구입액) , 교보문고 이용행동(입력 검색어, 퍼널 별 최종 단계, 교보생명 배너 클릭 여부, 노출 콘텐츠 ID, 콘텐츠 평가)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>보유 및 이용 기간</dt>
                    <dd>동의 철회 시까지 (단, 관계법령에 따름)</dd>
                </dl>
            </div>
            <div class="gray-box mt-40">
                <dl>
                    <dt>동의를 거부하는 경우에 대한 안내</dt>
                    <dd>본 동의를 거부하실 수 있으나, 거부하는 경우에는 교보생명보험(주) 보험·서비스 소개 제공이 제한될 수 있습니다.</dd>
                </dl>
            </div>
            <div class="gray-box mt-5">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">      
                <a href="javascript:void(0);" class="btn" onclick="popClose('personalPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="marketPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            마케팅 수신 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('marketPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1 fw-500">교보생명보험(주) 보험 상품·서비스 소개 등 다양한 정보를 제공합니다.</p>
                <p class="fs-15 fc-1 fw-500 mt-5">고객은 수신 동의 철회를 통하여 언제든지 수신을 거부할 수 있습니다.</p>
            </div>
            <div class="fs-15 fc-1 fw-700 mt-15">
                이에 동의하시겠습니까?
            </div>
            <div class="chk-area mt-15">
                <div class="agree-box">
                    <label for="chk-sms">
                        <input type="checkbox" name="" id="chk-sms"><i></i><span>SMS(메신저 등)</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-mail">
                        <input type="checkbox" name="" id="chk-mail"><i></i><span>이메일</span>
                    </label>
                </div>
            </div>
            <div class="gray-box mt-50">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn" onclick="popClose('marketPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 마케팅 수신 동의 팝업 -->
<!-- [E] pop -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>

<!-- [컨텐츠 오픈 히스토리] -->
<!-- 230518 확대오픈 -->
<!-- [ // 컨텐츠 오픈 히스토리] -->