<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="치매는 불치병일까?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>치매는 불치병일까?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_14G_057 survey-type type-g bg-6">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a class="go-back-btn" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            치매는 불치병일까?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-6">
    <div class="main-wrapper">
        <div class="top-area">
            <!-- [S] 로드화면 -->
            <div id="survey-area" data-is-not-result-page="true">
                <article class="fc-white">
                        <span class="tag fc-13 opacity-0"
                                data-animation-type="onload"
                                data-animation-infos="remove-class-nm: 'opacity-0',
                                                    start-ms:'300',
                                                    transition-props:'[opacity]',
                                                    transition-duration:'0.7s'">질병</span>
                    <div class="mt-10">
                        <div class="fs-22 opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-100%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'500',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                                                    치매는 불치병?
                        </div>
                        <div class="fs-22 strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-250%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'700',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                                                    치료할 수 있는 치매도 있다.
                        </div>
                    </div>
                    <div class="opacity-0 mt-10"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-400%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'900',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">
                            <span class="sub-tit">
                                50세 이상 피하고 싶은 질병 1위, 치매<br>
                                [출처 : 중앙치매센터]
                            </span>
                    </div>
                </article>

                <!-- <form class="survey-form"> -->
                <form class="survey-form survey-form2">
                    <div class="horizontal-box">
                        <ul>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1100', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="01" id="answer-01"
                                           data-sv="치료할 수 있는 치매가 있다!">
                                    <label for="answer-01"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1;',
                                                                    start-ms:'1600', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">치료할 수 있는 치매가</dt>
                                                <dd class="mt5 fs-15 fw-700">있다!</dd>
                                            </dl>
                                            <div class="img-box">
                                                <img src="../../../resources/v1/img/14G_057/14G_057_01.png" alt="O">
                                            </div>
                                            <div class="radio-btn"></div>
                                        </div>  
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1400', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="02" id="answer-02"
                                           data-sv="치료할 수 있는 치매는 없다!">
                                    <label for="answer-02"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1',
                                                                    start-ms:'1900', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">치료할 수 있는 치매는</dt>
                                                <dd class="mt5 fs-15 fw-700">없다!</dd>
                                            </dl>
                                            <div class="img-box">
                                                <img src="../../../resources/v1/img/14G_057/14G_057_02.png" alt="X">
                                            </div>
                                            <div class="radio-btn"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </form>
                <div class="footer-area">
                    <button type="submit" id="goNextBtn" class="com-btn bg-7 fs-4 fw-700" disabled>정답 확인하기</button>
                </div>
            </div>
            <!-- [E] 로드화면 -->

            <!-- [S] 컨텐츠 화면 -->
            <!-- s: 컨텐츠 상단 -->
            <article id="result-area" class="text-align-center pb-30" data-is-not-result-page="false">
                <div>
                    <div class="mt-5"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '300',
                                                transition-duration: '0.5s'">
                        <div class="fs-22 fc-white fw-700">정답은 ‘있다’ 입니다.</div>
                    </div>
                    <p class="mt-10 mb-20 fc-white"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.5s'">
                                                흔히 불치병으로 알고 있는 치매,<br>
                                                그러나 조기에 발견하면 치료할 수 있는 치매도 있습니다.
                    </p>
                    <img src="../../../resources/v1/img/14G_057/14G_057_03.gif" width="300"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity:0;',
                                            style-af-ani: 'transform:translateX(0vw); opacity:1;',
                                            start-ms: '700',
                                            transition-duration: '0.7s'"
                        alt="정답은 ‘있다’ 입니다. 대표 이미지">
                    <div class="mt-20 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.8s'">
                                                치매 예방 및 치료법에 대해 말하기에 앞서<br>
                                                먼저 치매가 무엇인지,<br>
                                                어떤 종류가 있는지 살펴보겠습니다.
                    </div>
                </div>
            </article>
            <!-- e: 컨텐츠 상단 -->
        </div>

        <section class="card-section-wrap bg-6" data-is-not-result-page="false">
            <div class="card-section"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color:#f4f4f4;', style-af-ani: 'background-color:#ffffff;'">
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">1</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1600',
                                                transition-duration: '0.5s'">
                                                치매란 무엇일까?
                        </div>
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                                            치매는 후천적인 외상이나 질병 등 외인에 의해 뇌세포가 손상 또는 파괴되어 전반적으로 지능, 학습, 언어 등의 인지기능과 정신 기능이 떨어지는 복합적인 증상을 말합니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                                            자연적인 노화 현상으로 많이 발생한다고 알려져 있습니다.
                    </div>

                    <div class="mt-25 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_04.gif" width="200"
                            alt="치매란 무엇일까? 대표 이미지"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', 
                                                style-af-ani: 'opacity:1'">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:0.2'">2</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                치매에는 어떤 종류가 있을까?
                        </div>
                    </div>
                    <div class="mt-20 list-num c555">
                        <div class="list-item num-01 fc-2 fs-18 fw-700" 
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                style-af-ani: 'opacity:1';">
                                                세포 자살형 치매
                        </div>
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                건강하게 잘 지내야 하는 뇌세포들이 뇌 안에서 살기 어려워 빨리 사멸하는 퇴행성 치매입니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                알츠하이머 치매와 파킨슨 치매가 이에 해당합니다.
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_05.gif" width="200"
                            alt="세포 자살형 치매 대표 이미지"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                    <div class="mt-20 list-num c555">
                        <div class="list-item num-02 fc-2 fs-18 fw-700" 
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                style-af-ani: 'opacity:1';">
                                                세포 타살형 치매
                        </div>
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                뇌세포는 건강한데 다른 여러 가지 원인에 의해 뇌세포가 자기 뜻과는 상관없이 사멸하는 경우를 말합니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                혈관성 치매, 뇌종양에 의한 치매 등이 있습니다.
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_06.gif" width="200"
                            alt="세포 타살형 치매 대표 이미지"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                    <div class="mt-20 list-num c555">
                        <div class="list-item num-03 fc-2 fs-18 fw-700" 
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                style-af-ani: 'opacity:1';">
                                                환경 파괴형 치매
                        </div>
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                뇌세포와 뇌혈관은 건강한데 주위 환경이 나빠져 발생하는 치매입니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                알코올을 많이 섭취해서 생기는 알코올성 치매나, 약물 과다 복용 혹은 염증에 의한 치매가 이에 해당합니다.
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_07.gif" width="200"
                            alt="완경 파괴형 치매 대표 이미지"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                    <div class="fc-1 mt-30 fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                이렇듯 다양한 치매의 원인을 제거한다면 치매를 치료할 수도 있지 않을까요?
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:0.2'">3</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                치료할 수 있는 치매는 무엇일까?
                        </div>
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                알코올성 치매는 다른 치매와 달리 환자가 술을 끊고 6개월이 지나면 정상으로 회복될 수 있습니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                단, 알코올성 치매가 이미 많이 진행된 상태에서는 회복되는 데 한계가 있기 때문에 조기 검진과 치료가 무엇보다 중요합니다.
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_08.gif" width="300"
                            alt="치료 가능한 치매는 무엇일까? 대표 이미지"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                </article>
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                            <span class="section-no fw-700 fc-7"
                                    data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:0.2'">4</span>
                        <div class="fs-22 fw-700 fc-1"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                완치가 불가능한 치매라면?
                        </div>
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                치매는 일찍 발견하여 중증으로 진행되는 속도를 늦추는 것이 중요한 질병입니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                치매 가족력이 있거나 걱정이 된다면 지역 치매안심센터를 방문하여 선별검사를 받을 수 있습니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                만 60세 이상이라면 무료로 받을 수 있습니다.
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_10.png" width="300"
                            alt="선별검사(CIST) 치매안심센터보건소 > 감별검사(신경인지 검사,전문의 진료 등)거점병원 > 진단검사(혈액검사, 뇌 영상촬영 등) 거점병원"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                    <div class="fc-3 mt-30"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                또한 치매 치료는 현재의 기능을 극대화하고 최대한 오래 보존하기 위해 다양한 분야 최적의 치료를 접목하는 통합적 접근을 원칙으로 하고 있습니다.
                    </div>
                    <div class="fc-3 mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                이에 따라 약물 치료를 기본으로 인지 재활 등 비약물 치료를 병행하게 됩니다.
                    </div>
                    <div class="mt-20 text-align-center">
                        <img src="../../../resources/v1/img/14G_057/14G_057_11.png" width="300"
                            alt="치매관리 약물치료(아세틸콜린 분해효소 억제제, NIMDA 수용체 길항제), 운동치료, 음악치료, 현실인지훈련, 인지훈련치료, 인지자극치료"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    </div>
                    <div class="fc-1 mt-30 fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                                                치매는 돌봄과 치료가 함께 요구되는 질병이기에, 장기간의 돌봄과 치료에 필요한 경제적 준비가 필요합니다.
                    </div>
                </article>
            </div>
        </section>

        <section data-is-not-result-page="false">
            <div class="mt-30 text-align-center">
                <img src="../../../resources/v1/img/check-bg-07.png" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <p class="fs-16 mt-0 mb-0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    존엄한 인생의 마무리를 위한 준비는 건강할 때,
                </p>
                <div class="fs-22 fc-13 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    스스로 의사 결정을 할 수 있을 때<br>
                    해두셔야 합니다.
                </div>
            </div>
        </section>

        <!-- s: 컨텐츠 하단 영역-->
        <div id="btm-wrap" class="bg-btm-pink btm-wrap" data-is-not-result-page="false">
            <!-- 평가영역 -->
            <section id="feedback-area" class="bg-f4f4f4">
                <div class="feedback-inner">
                    <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                    <div class="feedback-btn-box">
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                            <label class="feedback-btn good" for="feedback-radio-01">
                                <span class="blind">좋아요</span>
                            </label>
                        </div>
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                            <label class="feedback-btn bad" for="feedback-radio-02">
                                <span class="blind">별로에요</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 상품영역 -->
            <div id="ins_view"></div>

            <!-- 동의 영역 -->
            <div class="agree-area white">
                <div class="all-agree-box" id="allAgreeBox">
                    <label for="chkAll" class="check-style-all">
                        <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                    </label>
                    <div class="flag-point-box eventView">
                        <span class="blind">전체 동의하고 교보문고 5,000 통합포인트 받기!</span>
                    </div>
                </div>
                <div class="agree-box" id="personalAgreeBox">
                    <label for="chkAgr1" class="check-style-agr chk_agr_info">
                        <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
                </div>
                <div class="agree-box" id="marketAgreeBox">
                    <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                        <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
                </div>
            </div>
            <div class="confirm-btn-box">
                <a class="confirm-btn link_login" id="confirm">
                    확인하기
                </a>
            </div>
            <!-- s: 이벤트 유의사항 -->
            <div class="info-point-area eventView">
                <div>이벤트 유의사항</div>
                <ul class="info-point-list">
                    <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                    <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                    <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                    <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                    <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                    <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                    <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
                </ul>
            </div>
            <!-- e: 이벤트 유의사항 -->

            <!-- 유의문구 영역 -->
            <div class="info-txt-wrap">
                <div class="eventView">꼭! 알아두세요.</div>
                <ul class="info-txt">
                    <li>가입전에 상품설명서와 약관을 읽어보시기 바랍니다.</li>
                    <li>교보생명은 상품에 대해 충분히 설명할 의무가 있으며, 가입자는 앞서 이에 대한 충분한 설명을 받으시기 바랍니다.</li>
                    <li>보험계약자가 기존 보험계약을 해지하고, 새로운 보험계약을 가입할 경우 인수 거절, 보험료 인상, 보장내용 축소 등 불이익이 생길 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <!-- e: 컨텐츠 하단 영역-->

        <!-- [S] footer -->
        <footer id="footer-wrap" class="footer_wrapper" data-is-not-result-page="false">
            <div class="footer_body">
                <div class="logo_box">
                    <a id="link_home" class="logo_link">
                            <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
                    </a>
                    <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
                </div>
                
                <address class="footer_info_box">
                    <div class="info_text_multi">
                        <span class="info_text">교보문고</span>
                        <span class="gap">|</span>
                        <span class="info_text">대표이사 : 안병현, 김상훈</span>
                    </div>
                    <span class="info_text">서울특별시 종로구 종로 1</span>
                    <span class="info_text">사업자등록번호 : 102-81-11670</span>
                    <span class="info_text"><b>대표전화 : 1544-9000</b></span>
                    <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
                    <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
                    <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
                    <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
                </address>
                
                <div class="footer_menu_box">
                    <ul class="footer_menu_list">
                        <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                        <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
                    </ul>
                    <ul class="footer_menu_list sub">
                        <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                        <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                        <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                        <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- [E] footer -->
    </div>
    <!-- 상단 패널 -->
    <div class="top-bg-panel-wrapper">
        <div class="top-bg-panel bg-7"></div>
    </div>
    <!-- [E] 컨텐츠 화면 -->
</div>
<!-- [E] cont -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
            <li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] 포인트 팝업 -->
<div id="popPoint" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            로그인하고<br>
            교보문고 통합포인트 받아보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonint">다음에 하기</button>
            <button class="btn-login" id="btnLoginPoint">로그인 하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd01" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonintEnd01">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd01">확인하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd02" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPointEnd02">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd02">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [E] 포인트 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S] 포인트 플로팅 UI -->
<div class="btn-point-wrap" 
    data-is-not-result-page="false"
    data-animation-type="onresult"
    data-animation-infos="style-bf-ani:'opacity:0;',
                        style-af-ani:'opacity:1;',
                        start-ms:'800'">
    <div class="point-txt scrollToEv">
        <span>교보문고 통합포인트 <b>5,000P</b> 받기!</span>
    </div>
    <button type="button" class="btn-fixed-point scrollToEv">POINT</button>
</div>
<!-- [E] 포인트 플로팅 UI -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { main } from "../../../resources/v1/js/mo-main.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>