<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="암 환자의 영양실조"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js"></script>

    <title>암 환자의 영양실조</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_18B_023 information-type type-b fc-white">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a class="go-back-btn" onclick="setGAClickHandler(event)" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home" onclick="setGAClickHandler(event)">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            암 환자의 영양실조
        </h1>
        <div>
            <a id="link_share" onclick="setGAClickHandler(event)">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">질병</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">암 환자는 암을 이겨 내기 위해</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">‘먹는 것’과도 싸워야 합니다.</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        전체 암 환자의 50~80% 이상이 정상적인 음식 섭취에도<br>
                                        체중 감소를 경험한다고 합니다.
                </div>
            </div>

            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/18B_023/18B_023_01.gif" class="width-100" alt="암환자의 영양실조 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            영양실조가 되어 버린 암 환자
                        </h3>
                        <p class="mt-9 fs-14">
                            암 환자 2/3(약 63%)가 식욕부진에 따른 영양결핍에 빠지며,<br>
                            10명 중 2명이 부실한 영양상태로 사망에 이릅니다.
                        </p>
                        <p class="mt-5 fs-12">
                            [출처: 미국 뉴욕의대 종양의학과]
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-22 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    영양실조는<br>
                    암 환자의 사망원인 중<br>
                    하나로 꼽힙니다.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        식욕부진은 왜 생길까요?
                </div>
            </div>
            <p class="mt-5 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    첫 번째, 암으로 인한 요소(위장관계 증상)
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    암세포는 식욕 억제물질을 생성하여 영양상태를 저하합니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이에 따라 환자의 단백질, 지방, 수분과 무기질이 고갈된다고 합니다.
            </p>
            
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_02.png" width="200"
                    alt="식욕부진 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    두 번째, 치료로 인한 요소(항암 치료 부작용)
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    약물치료나 화학요법, 방사선 요법 등으로 인한 메스꺼움, 구토, 입 안 염증, 점막 건조증, 설사, 변비 등이 생겨 영양불량이 되기 쉽습니다.
            </p>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_03.png" width="200"
                    alt="치료로 인한 부작용 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    세 번째, 환자 관련 요소(우울증, 심리적 스트레스)
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    걱정과 우울과 같은 감정도 음식에 대한 흥미를 잃게 합니다.
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_04.png" width="200"
                    alt="우울과 같은 감정 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        암 환자가 겪는 증상 중<br>
                                        ‘암 악액질 증후군’이 있습니다.
                </div>
            </div>
            <p class="mt-5 fw-700"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    암 악액질이란?
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    암의 직간접적인 영향으로 인해 지속적인 식욕부진,
                                    체중감소, 영양학적 대사 불균형, 지방 조직 및 근육의 쇠퇴 등을 초래하는 증후군입니다.
            </p>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_05.gif" width="200"
                    alt="암 악액질증후군 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    정상적인 음식 섭취를 통해 칼로리를 보충해도 체질량 (체중, 근육 등) 손실이 이루어지는 전신적인 영양부족 상태를 의미합니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    일반적으로 모든 종류의 암에서 발생하지만, 위장관계, 췌장암, 폐암 및 대장암 환자의 50~80% 정도가 암 악액질을 앓고 있다고 알려져 있습니다.
            </p>
            <p class="mt-5 fs-12 text-align-right"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [EBS 다큐시선 모의실험 인용]
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_06.gif" width="200"
                    alt="암액질 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        악액질은 대단히 무섭습니다.
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    정상체중  → 체중감소 → 초기악액질 → 저체중 → 악액질 →근육 소실 → <span class="fw-700" style="text-decoration: underline;vertical-align: top;">중증의 암 악액질</span>
            </p>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_07.png" width="200"
                    alt="중증의 악액질 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    실제로 암 환자 사망원인 중에서 10~20%는 질병 자체보다는 영양불량과 관련이 있다고 보고되었습니다.
            </p>
            <p class="mt-5 fs-12 text-align-right"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [출처: Ottery FD. Cancer cachexia: prevention, early diagnosis, and<br> management. Cancer Pract 1994;2:123-31.]
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_08.png" width="200"
                    alt="10~20%"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                style-af-ani: 'background-color: #823333',
                                scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        암 환자에게 중요한 영양 관리,<br>
                                        이렇게 하세요.
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    걱정되는 마음은 충분히 이해되지만, 가족들의 지나친 음식 섭취 권유와 강요는 환자에게 도움이 많이 되지 않습니다.
            </p>
            <p class="bull-list-chk mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    통증이나 위장관계 장애(변비 등)로 인한 증상을 개선하여 간접적으로 음식의 섭취량을 늘릴 수 있습니다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    암 악액질 식욕부진 개선제를 사용하여 환자의 삶의 질을 개선할 수 있습니다.
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    영양 수액이나 위장관을 활용하여 영양공급을 할 수 있습니다.
            </p>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/18B_023/18B_023_09.png" width="200"
                    alt="영양 수액 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    병원에서는 악액질을 예방 및 치료하여 암 치료의 효과를 높여주고 삶의 질을 개선해 주기 위한 노력을 하고 있어, 이로 인한 암 간접치료비용도 같이 늘고 있습니다.
            </p>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    삶의 질을 높히기 위해<br>
                    미리 준비해 보세요.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #6c2a2a;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001" onclick="setGAClickHandler(event)">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002" onclick="setGAClickHandler(event)">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
                <div class="flag-point-box eventView">
                    <span class="blind">전체 동의하고 교보문고 3,000 통합포인트 받기!</span>
                </div>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm" onclick="setGAClickHandler(event)">
                확인하기
            </a>
        </div>
        <!-- s: 이벤트 유의사항 -->
        <div class="info-point-area eventView">
            <div>이벤트 유의사항</div>
            <ul class="info-point-list">
                <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
            </ul>
        </div>
        <!-- e: 이벤트 유의사항 -->
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
            <li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
                <a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] 포인트 팝업 -->
<div id="popPoint" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            로그인하고<br>
            교보문고 통합포인트 받아보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonint">다음에 하기</button>
            <button class="btn-login" id="btnLoginPoint">로그인 하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd01" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonintEnd01">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd01">확인하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd02" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPointEnd02">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd02">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [E] 포인트 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>