<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="나폴레옹의 ○○통증"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js"></script>

    <title>나폴레옹의 ○○통증</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_20G_086 survey-type type-g bg-6">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a class="go-back-btn" onclick="setGAClickHandler(event)" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home" onclick="setGAClickHandler(event)">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            나폴레옹의 ○○통증
        </h1>
        <div>
            <a id="link_share" onclick="setGAClickHandler(event)">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-6">
    <div class="main-wrapper">
        <div class="top-area">
            <!-- [S] 로드화면 -->
            <div id="survey-area" data-is-not-result-page="true">
                <article class="fc-white">
                        <span class="tag fc-13 opacity-0"
                                data-animation-type="onload"
                                data-animation-infos="remove-class-nm: 'opacity-0',
                                                    start-ms:'300',
                                                    transition-props:'[opacity]',
                                                    transition-duration:'0.7s'">생활건강</span>
                    <div class="mt-10">
                        <div class="fs-22 opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-100%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'500',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                                                    워털루 전투 패배에 영향을 미친
                        </div>
                        <div class="fs-22 strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                    style-bf-ani: 'transform:translateY(-250%);',
                                                    style-af-ani: 'transform:',
                                                    start-ms:'700',
                                                    transition-props:'[opacity,transform]',
                                                    transition-duration:'0.8s'">
                                                    나폴레옹의  ○○통증은?
                        </div>
                    </div>
                    <div class="opacity-0 mt-10"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-400%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'900',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">
                            <span class="sub-tit">
                                은밀하고 참을 수 없는 고통.<br>
                                ◯◯ 에 들어갈 질병은 무엇일까요?
                            </span>
                    </div>
                </article>

                <!-- <form class="survey-form"> -->
                <form class="survey-form survey-form2">
                    <div class="horizontal-box">
                        <ul>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1100', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="01" id="answer-01"
                                           data-sv="말 못할 고통 치질">
                                    <label for="answer-01"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1;',
                                                                    start-ms:'1600', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">말 못할 고통</dt>
                                                <dd class="mt5 fs-15 fw-700">치질</dd>
                                            </dl>
                                            <div class="img-box mt-30">
                                                <img src="../../../resources/v1/img/20G_086/20G_086_01.png" alt="말 못할 고통 치질 대표 이미지">
                                            </div>
                                            <div class="radio-btn mt-15"></div>
                                        </div>  
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1400', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="02" id="answer-02"
                                           data-sv="몸의 중심! 디스크">
                                    <label for="answer-02"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1',
                                                                    start-ms:'1900', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">몸의 중심!</dt>
                                                <dd class="mt5 fs-15 fw-700">디스크</dd>
                                            </dl>
                                            <div class="img-box mt-30">
                                                <img src="../../../resources/v1/img/20G_086/20G_086_02.png" alt="몸의 종심! 디스크 대표 이미지">
                                            </div>
                                            <div class="radio-btn mt-15"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="inner" style="width: 0;"
                                    data-animation-type="onload"
                                    data-animation-infos="style-bf-ani: 'width:0;',
                                                            style-af-ani: 'width:100%',
                                                            start-ms:'1700', transition-duration:'0.6s'">
                                    <input type="radio" name="kyobolife-survey" value="03" id="answer-03"
                                           data-sv="검은 죽음의 병 흑사병">
                                    <label for="answer-03"
                                            data-animation-type="onload"
                                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                                    style-af-ani: 'opacity:1',
                                                                    start-ms:'2100', transition-duration:'0.7s'">
                                        <div class="box">
                                            <dl>
                                                <dt class="fs-13 fc-4">검은 죽음의 병</dt>
                                                <dd class="mt5 fs-15 fw-700">흑사병</dd>
                                            </dl>
                                            <div class="img-box mt-30">
                                                <img src="../../../resources/v1/img/20G_086/20G_086_03.png" alt="검은 죽음의 병 흑사병 대표 이미지">
                                            </div>
                                            <div class="radio-btn mt-15"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="footer-area">
                    <button type="submit" id="goNextBtn" class="com-btn bg-7 fs-4 fw-700" onclick="setGAClickHandler(event)" disabled>정답 확인하기</button>
                </div>
            </div>
            <!-- [E] 로드화면 -->

            <!-- [S] 컨텐츠 화면 -->
            <!-- s: 컨텐츠 상단 -->
            <article id="result-area" class="text-align-center pb-30" data-is-not-result-page="false">
                <div>
                    <div class="mt-5"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-100%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '300',
                                                transition-duration: '0.5s'">
                        <h1 class="fc-white fw-700">정답은 ‘치질’입니다.</h1>
                    </div>
                    <p class="mt-10 fc-white"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.5s'">
                                                나폴레옹은 어린 시절부터 책을 좋아해 화장실을 갈 때도,<br>
                                                업무를 볼 때도 손에 서책을 떼지 않았다고 합니다.
                    </p>
                    <p class="mt-5 fw-700 fc-white"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '500',
                                                transition-duration: '0.5s'">
                                                그 때문에 생긴 질병, 바로 치질입니다.
                    </p>
                    <div class="mt-20">
                        <img src="../../../resources/v1/img/20G_086/20G_086_04.gif" width="300"
                            alt="나폴레옹 치질 대표 이미지"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(100vw); opacity:0;',
                                                style-af-ani: 'transform:translateX(0vw); opacity:1;',
                                                start-ms: '700',
                                                transition-duration: '0.7s'">
                    </div>
                    <p class="fs-18 fw-700 mt-20"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '900',
                                                transition-duration: '0.5s'">
                                                ‘불가능은 없다’던 나폴레옹을 몰락시킨 계기는<br>
                                                워털루전투의 패전이었습니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                승리를 결정지을 절호의 타이밍에 치질 통증으로<br>
                                                밤새도록 앓았고, 그 사이에 적군이 전열을<br>
                                                재정비할 틈을 주고 말았습니다.
                    </p>
                    <p class="mt-5 fc-3"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani: 'transform:translateY(-250%); opacity:0;',
                                                style-af-ani: 'transform:translateY(0%); opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                또한 극심한 통증을 잊기 위해 아편을 복용했다가<br>
                                                상황 판단력이 둔해졌다고도 합니다.
                    </p>
                </div>
            </article>
            <!-- e: 컨텐츠 상단 -->
        </div>

        <section class="card-section-wrap bg-6" data-is-not-result-page="false">
            <div class="card-section"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color:#f4f4f4;', style-af-ani: 'background-color:#ffffff;'">
                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">1</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                치질은 어떤 질병인가요?
                        </div>
                    </div>
                    
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        치질은 항문 주변의 혈관이 부풀어 오르고 조직들이 늘어져서 발생하는 질환입니다.
                    </div>

                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        항문질환이기 때문에 쉽게 드러내지 못해 제대로 치료받지 못하는 경우가 많지만, 다빈도 수술 3위를 차지할 만큼 흔한 질병이기도 합니다.
                    </div>

                    <div class="fs-12 mt-5 fc-3 text-align-right" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        [출처 : 국민건강보험공단 주요수술통계연보, 2021]
                    </div>

                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/20G_086/20G_086_05.png" alt="치질(치핵) 단계별 증상, 1단계: 치핵, 치핵이 한문 안에만 있는 상태로 가끔 출혈이 생김, 2단계: 배변 시 치핵이 항문 밖으로 나오지만, 다시 저절로 들어감, 3단계: 배변 시 치핵이 항문 밖으로 나오고 손으로 넣어야 들어감, 4단계: 치핵이 항문 밖으로 나와 있고 손으로 넣어도 안들어감" width="300">
                    </div>

                    <div class="mt-30 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        치질은 심한 정도에 따라 4단계로 나눠 설명할 수 있습니다.
                    </div>

                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        1~2단계 정도의 증상이라면 좌욕, 배변 습관의 조절과 식이요법, 약물 요법 등의 보존 치료로도 호전이 됩니다.
                    </div>

                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        3단계 이상으로 진행된 경우에는 수술을 고려해야 합니다.
                    </div>

                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/20G_086/20G_086_06.png" alt="수술을 고려해야 합니다. 대표 이미지" width="300">
                    </div>
                </article>

                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">2</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                어떤 사람이 치질에 잘 걸릴까요?
                        </div>
                    </div>
                    
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        화장실에 스마트폰을 가져가시나요? 
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        이런 습관은 치질에 걸릴 확률을 높입니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        스마트폰을 보며 시간 가는 줄 모르고 변기에 앉아있다 보면 치질에 걸리기 쉽다고 합니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        또한 비만하거나 평소 음주를 즐긴다면 악영향을 미칠 수 있습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        잦은 변비와 설사는 직장에서 항문까지 염증을 유발해 치질에 걸릴 확률이 높아지기 때문입니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        오래 서 있거나 물을 자주 마시지 않는 사람도 주의해야 합니다.
                    </div>

                    <div class="mt-20 text-align-center" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/20G_086/20G_086_07.gif" alt="과음 비만, 물을 자주 마시지 않음, 스마트폰 이용, 오래 서 있는 사람" width="300">
                    </div>
                </article>

                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">3</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                치질 환자는 운동해도 될까요?
                        </div>
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        치질 환자라면 혈액순환에 도움이 되는 조깅이나 수영 등을 꾸준히 하는 것이 좋습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        케겔 운동과 같이 골반저 근육을 강화할 수 있는 운동이나 요가도 도움이 됩니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        치질 환자가 피해야 하는 운동도 있습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        골프, 볼링 등 순간적으로 힘을 집중시키는 운동은 복압이 커지므로 치질이 생기기 쉽습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        아랫배에 힘을 많이 주는 자전거 타기나 승마 같은 운동을 피해야 하며, 스쿼트나 역도처럼 무거운 것을 드는 운동도 치질을 악화시킬 수 있기 때문에 피하는 것이 좋습니다.
                    </div>

                    <div class="mt-20 text-align-center"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/20G_086/20G_086_08.png" alt="O 해도 되는 것: 조깅, 수영, 케켈운동, 요가" width="300">
                    </div>

                    <div class="mt-20 text-align-center"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/20G_086/20G_086_09.png" alt="X 해도 되는 것: 골프, 승마, 스쿼트, 자전거" width="300">
                    </div>
                </article>

                <article class="text-align-left">
                    <div class="title-msg mt-30">
                        <span class="section-no fw-700 fc-7"
                            id="animation04"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:0.2;',
                                                start-ms: '1000',
                                                transition-duration: '0.5s'">4</span>
                        <div class="fs-22 fw-700 fc-1" id="animation05"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0;',
                                                style-af-ani: 'opacity:1;',
                                                start-ms: '1100',
                                                transition-duration: '0.5s'">
                                                어떻게 예방할 수 있을까요?
                        </div>
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        항상 항문을 청결하게 유지하고 평소 물을 많이 마시고 섬유질, 유산균을 섭취하는 식습관을 통해 변비를 예방하는 것이 좋습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        드러내기 어려운 질환이라 증상이 있어도 병원 방문을 꺼리는 경우가 많습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        치질이라고 반드시 수술이 필요하지는 않습니다.
                    </div>
                    <div class="mt-5 fc-3" 
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';">
                        막연한 두려움을 내려놓고 항문외과를 방문하여 전문의의 상담을 받아보는 것이 중요합니다.
                    </div>

                    <div class="mt-20 text-align-center"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                        <img src="../../../resources/v1/img/20G_086/20G_086_10.png" alt="생활 속 예방 습관, 배변 후 좌욕(10~15분 정도) / 과릴,채소,통곡물 등 섬유질 많은 음식 섭취 / 수분 섭취 / 화장실에서 스마트폰 사용 않기" width="300">
                    </div>
                </article>
            </div>

            <div class="mt-30 text-align-center">
                <img src="../../../resources/v1/img/check-bg-07.png" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                <div class="fs-16 fc-555 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    나의 생활 습관은 건강한지 점검해 보고,
                </div>
                <div class="fs-22 fc-13 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    질병을 미리 예방하세요.
                </div>
            </div>
        </section>

        <!-- s: 컨텐츠 하단 영역-->
        <div class="bg-btm-pink btm-wrap" data-is-not-result-page="false">
            <!-- 평가영역 -->
            <section id="feedback-area" class="bg-f4f4f4">
                <div class="feedback-inner">
                    <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                    <div class="feedback-btn-box">
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001" onclick="setGAClickHandler(event)">
                            <label class="feedback-btn good" for="feedback-radio-01">
                                <span class="blind">좋아요</span>
                            </label>
                        </div>
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002" onclick="setGAClickHandler(event)">
                            <label class="feedback-btn bad" for="feedback-radio-02">
                                <span class="blind">별로에요</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 상품영역 -->
            <div id="ins_view"></div>

            <!-- 동의 영역 -->
            <div class="agree-area white">
                <div class="all-agree-box" id="allAgreeBox">
                    <label for="chkAll" class="check-style-all">
                        <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                    </label>
                    <div class="flag-point-box eventView">
                        <span class="blind">전체 동의하고 교보문고 3,000 통합포인트 받기!</span>
                    </div>
                </div>
                <div class="agree-box" id="personalAgreeBox">
                    <label for="chkAgr1" class="check-style-agr chk_agr_info">
                        <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
                </div>
                <div class="agree-box" id="marketAgreeBox">
                    <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                        <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
                </div>
            </div>
            <div class="confirm-btn-box">
                <a class="confirm-btn link_login" id="confirm" onclick="setGAClickHandler(event)">
                    확인하기
                </a>
            </div>
            <!-- s: 이벤트 유의사항 -->
            <div class="info-point-area eventView">
                <div>이벤트 유의사항</div>
                <ul class="info-point-list">
                    <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                    <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                    <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                    <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                    <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                    <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                    <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
                </ul>
            </div>
            <!-- e: 이벤트 유의사항 -->
        </div>
        <!-- e: 컨텐츠 하단 영역-->
        
        <!-- [S] footer -->
        <footer class="footer_wrapper" data-is-not-result-page="false">
            <div class="footer_body">
                <div class="logo_box">
                    <a id="link_home" class="logo_link">
                            <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
                    </a>
                    <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
                </div>
                
                <address class="footer_info_box">
                    <div class="info_text_multi">
                        <span class="info_text">교보문고</span>
                        <span class="gap">|</span>
                        <span class="info_text">대표이사 : 안병현, 김상훈</span>
                    </div>
                    <span class="info_text">서울특별시 종로구 종로 1</span>
                    <span class="info_text">사업자등록번호 : 102-81-11670</span>
                    <span class="info_text"><b>대표전화 : 1544-9000</b></span>
                    <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
                    <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
                    <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
                    <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
                </address>
                
                <div class="footer_menu_box">
                    <ul class="footer_menu_list">
                        <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                        <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
                    </ul>
                    <ul class="footer_menu_list sub">
                        <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                        <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                        <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                        <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- [E] footer -->
    </div>
    <!-- 상단 패널 -->
    <div class="top-bg-panel-wrapper">
        <div class="top-bg-panel bg-7"></div>
    </div>
    <!-- [E] 컨텐츠 화면 -->
</div>
<!-- [E] cont -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] 포인트 팝업 -->
<div id="popPoint" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            로그인하고<br>
            교보문고 통합포인트 받아보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonint">다음에 하기</button>
            <button class="btn-login" id="btnLoginPoint">로그인 하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd01" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonintEnd01">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd01">확인하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd02" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPointEnd02">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd02">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [E] 포인트 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>