<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="똑똑한 기름 사용법"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/affGAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>채식의 장단점</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_18B_023 information-type type-b fc-white">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a class="go-back-btn" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            똑똑한 기름 사용법
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />
<input type="hidden" id="devices" class="devices" th:value="${devices}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">비건? 락토오브?</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">채식주의 종류와 장단점</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        건강을 위한 선택,<br />
                                        영양 문제는 없을까?
                </div>
            </div>

            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/9B_070/9B_070_01.png" class="width-100" alt="기름 사용법 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            채식주의란?
                        </h3>
                        <p class="mt-9 fs-14">
                            육류를 피하고 채소, 과일, 해초 등의<br>
                            식물성 음식 위주로 섭취하는 것을 말합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-22 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    지금부터<br>
                    채식주의에 대해 자세히<br>
                    알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        꾸준히 증가하는 채식주의 🥦
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    2008년 15만 명이었던 채식 인구는 13년 만에 16배 넘게 증가했습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    2021년 기준 국내 채식 인구는 250만 명으로 확인됩니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/9B_070/9B_070_02.png" width="300"
                    alt="조리용 기름의 발연점(단위:°C) 포도씨유: 250, 카놀라유: 240, 해바라기유: 230, 올리브유: 226, 버진올리브유: 160"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이는 전 세계적으로 건강, 환경보호, 윤리적 소비를 추구하는 소비자들이 늘어났고 국내에서도 채식주의에 대한 관심이 높아진 결과입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    과다한 육식 섭취가 비만, 당뇨, 고혈압 등과 같은 만성질환을 야기할 수 있다고 알려져 있기 때문에 이를 방지하기 위한 대안으로 채식을 선택하고 있습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/9B_070/9B_070_03.png" width="300"
                    alt="발연점이 높은 기름으로 튀김 해 먹기 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <div class="fs-22 fw-700 mt-30 text-align-center" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    그런데 채식주의가 정말 건강에 좋을까요?<br/>
                    종류부터 부족한 영양소까지 짚어 볼게요.
                </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        다양한 채식주의 종류 🥗
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    채식이라도 다 같은 채식이 아닙니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    채식의 종류는 세부적인 음식 특성 성분 포함에 따라 종류가 나뉩니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    ‘비건’은 대중적으로 흔히 인식하는 채식주의자로, 육류는 물론 유제품, 생선 등의 모든 동물성 식품을 제한하는 완전한 채식 단계입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    육류는 물론 유제품, 생선 등의 모든 동물성 식품을 제한하는 완전한 채식 단계입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    최근에는 채식하면서 간헐적으로 육류를 섭취하는 ‘플렉시 테리언(Flexitarian)’도 많아졌습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/9B_070/9B_070_04.png" width="300"
                    alt="180°C조리 시 산패물질 비율(단위:%), 포도씨유 14, 카놀라유 14, 해바라기유 6, 올리브유 6, 버진올리브유 5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
           
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        채식주의 종류별 부족한 영양소 🤔
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이처럼 채식주의는 종류별로 제한하는 음식이 하나씩 달라지기에 부족해지기 쉬운 영양소도 저마다 다릅니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    채식을 하는 사람에 따라 신체 증상이 무엇이 다른지 살펴보겠습니다.
            </p>
            
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/9B_070/9B_070_05.png" width="300"
                    alt="상온 보관 시 산패물질 비율(단위°C), 포도씨유: 10, 카놀라유 7, 해바라기유: 6, 올리브유: 6, 버진올리브유 5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    여성의 경우 빈혈, 어지럼증, 체력 저하, 탈모 등이 오기 쉽습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                청소년의 경우 단백질이 성장에 쓰이지 못하고 몸을 유지하는 열량으로 사용되면서 성장 지연 및 뇌 기능이 떨어질 수 있습니다.
            </p>

            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                임산부의 경우 섭취한 열량과 영양소가 태아의 신체 구성과 발달, 성장을 이룹니다.
            </p>

            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                또한 출산 후 태아 건강과 두뇌 발달에도 밀접한 영향을 주는데 채식만으로는 철분, 칼슘, 비타민 등이 부족할 수 있습니다.
            </p>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                style-af-ani: 'background-color: #823333',
                                scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        채식이 ‘뇌졸중 위험을 높인다?’는
                                        연구 결과 📋
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    영국 옥스퍼드 대학 보건학과 연구팀이 평균 연령 45세의 채식주의자 남녀 4만 8,188명을 18년간 추적 조사해 채식과 뇌졸중 가능성을 측정한 결과입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    비건의 뇌졸중 위험은 채식주의를 하지 않는 사람에 비해 약 20% 높았습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이는 콜레스테롤 수치와 비타민 B12와 같은 영양소 부족이 원인이라고 추정하고 있습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    건강을 위해 선택했던 채식이 오히려 영양불균형을 만들고 질병을 유발할 수 있다는 점도 생각할 필요가 있습니다.
            </p>

            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/9B_070/9B_070_06.png" width="300"
                    alt="발연점 낮은 기름: 저온요리 발연점이 낮은 참기름, 들기름, 버진올리브유는 볶음, 무침용으로 활용 / 
                    산화안정 낮은 기름: 냉장보관 산화안정성이 낮은 포도씨유, 들기름, 카놀라유, 해바라기씨유는 냉장 보관 /
                    포도씨유, 카놀라유: 튀김류 부적합 고온 조리 시 산패율이 높고,  트랜스 지방 배출 많은 포도씨유, 카놀라유는 튀김 요리 불가"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    건강한 삶을 위해<br>
                    균형 잡힌 영양소를 섭취하세요.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div id="btm-wrap" class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #6c2a2a;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="ins_view" class="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
                <div class="flag-point-box eventView">
                    <span class="blind">전체 동의하고 교보문고 5,000 통합포인트 받기!</span>
                </div>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
        <!-- s: 이벤트 유의사항 -->
        <div class="info-point-area eventView">
            <div>이벤트 유의사항</div>
            <ul class="info-point-list">
                <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
            </ul>
        </div>
        <!-- e: 이벤트 유의사항 -->
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer id="footer-wrap" class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
            <li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
                <a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] 포인트 팝업 -->
<div id="popPoint" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            로그인하고<br>
            교보문고 통합포인트 받아보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonint">다음에 하기</button>
            <button class="btn-login" id="btnLoginPoint">로그인 하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd01" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonintEnd01">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd01">확인하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd02" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPointEnd02">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd02">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [E] 포인트 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S] 포인트 플로팅 UI -->
<div id="btnPointWrap" class="btn-point-wrap">
    <div class="point-txt scrollToEv">
        <span>교보문고 통합포인트 <b>5,000P</b> 받기!</span>
    </div>
    <button type="button" class="btn-fixed-point scrollToEv">POINT</button>
</div>
<!-- [E] 포인트 플로팅 UI -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { main } from "../../../resources/v1/js/mo-main.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>