<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="일산화탄소 중독"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js"></script>

    <title>일산화탄소 중독</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_12A_096 information-type type-a">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            일산화탄소 중독
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-1">
    <div class="top-area">
        <article class="pb-70">
            <div>
                <span class="tag mb-10 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            start-ms:'300',
                                            transition-props:'[opacity]',
                                            transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">캠핑족 위협하는</div>
                    <div class="fs-22 fw-700 strong-underline mb-15 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            ‘일산화탄소 중독’
                    </div>
                </div>
                <div class="opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-400%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'900',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            ‘무색·무취·무미’ 일산화탄소,<br>
                                            소량 노출돼도 인체 치명적입니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/12A_096/12A_096_01.gif" class="width-100" alt="0, 25, 50, 75 / rㅣ타 11.3%, 차량 5.3%, 텐트 20.8%, 주거기설 62.6%">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            일산화탄소 중독 사고<br>
                            장소별 발생 현황
                        </h3>
                        <p class="mt-10 fs-12">
                            [출처  : 소방청, 2019년~2021년]
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700">
                    캠핑장 안전사고의 주범,<br>
                    바로 일산화탄소를<br>
                    알아볼게요.
                </div>
                <div class="animation-vertical-box mt-20"
                        style="height:0"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>         
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #27809e',
                                    style-af-ani: 'background-color: #23738e',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">1</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        늘어나는 캠핑족,<br>
                                        안전사고는 더 증가했습니다.
                </div>
            </div>
            <div class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    코로나19 이후 캠핑의 인기는 계속 증가하고 있습니다.
            </div>
            <div class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    전국에 등록된 캠핑장은 2,703개, 이용자 수는 523만 명입니다.
            </div>
            <div class="mt-5 text-align-right fs-12"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    [출처 : 문화체육부, 한국관광공사, ‘2021 캠핑이용자 실태조사’]
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/12A_096/12A_096_02.gif" width="200" alt="늘어나는 캠핑족 안전사고 증가 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    문제는 캠핑족이 늘어나는 만큼 안전사고 발생률도 높아지고 있다는 것입니다.
            </div>
            <div class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    미끄러짐, 넘어짐, 부딪힘 등 물리적 충격 등이 원인인 경우가 많았습니다.
            </div>
            <div class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    또한 가스 누설, 과열, 발화 등 화재와 관련된 안전사고도 많이 발생했습니다.
            </div>
            <div class="mt-5 text-align-right fs-12"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    [출처 : 최근 3년간 소비자위해 감시시스템에<br>
                                    접수된 캠핑용품 관련 안전사고]
            </div>
            <div class="mt-20 text-align-left">
                <img src="../../../resources/v1/img/12A_096/12A_096_03.gif" width="200" alt="사전 예방 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="fw-700 mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                    style-af-ani: 'opacity:1';">
                                    사전 예방이 가능한 사고는 최대한 줄일 수 있도록, 안전 수칙을 미리 알아두는 것이 필요합니다.
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #23738e',
                                    style-af-ani: 'background-color: #1f667e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        캠핑장에서 난방용품 사용 시<br>
                                        다음 사항을 지켜주세요.
                </div>
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-01"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="mt-0 mb-0 fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            텐트는 불에 타기 쉬운 재질입니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            화기와 충분히 안전거리를 둬야 합니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            캠핑장에 비치된 소화 기구의 위치와 사용법을 미리 확인해 두세요.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/12A_096/12A_096_04.png" width="200" alt="텐트는 불에 타기 쉬운 재질입니다. 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-02"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="mt-0 mb-0 fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            바람이 불면 불씨가 날아갈 수 있습니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            반드시 지정된 장소에서만 불을 피우고 캠핑이 끝나면 물을 충분히 뿌리거나 흙으로 덮어 완전히 꺼야 합니다.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/12A_096/12A_096_05.png" width="200" alt="바람이 불면 불씨가 날아갈 수 있습니다. 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 list-num">
                <div class="list-item num-03"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                        style-af-ani: 'opacity:1';">
                    <p class="mt-0 mb-0 fs-18 fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            주기적인 환기가 필요합니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            텐트 등 밀폐된 공간에서 연소용 제품의 사용을 자제하고, 부득이하게 사용해야 한다면 주기적인 환기가 필수입니다.
                    </p>
                    <p class="mt-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', 
                                            style-af-ani: 'opacity:1';">
                                            석탄, 석유 등 연료가 탈 때 사람이 인지할 수 없는 일산화탄소가 발생할 위험이 있기 때문입니다.
                    </p>
                </div>
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/12A_096/12A_096_06.png" width="300" alt="위해원인, 건수(건), 비율(%) [화재, 발열, 과열, 가스: 가스누설 및 가스폭발 102건(25.7). 고온물질(과열) 79건(20.0), 발화 불꽃 화재 60건(15.2), 기타 4건(1.0), 소계 245건(61.9)],
                [제품(물리적 충격 등): 추락 54건(13.6), 예리함.마감처리 불량 25건(6.3), 부딪힘 23건(5.8), 미끄러짐.넘어짐 21건(5.3), 기타(눌림.끼임.기타) 16건(4.1). 소계 139건(35.1)],
                [식품 및 이물질 12건(3.0)], [합계 396건(100.0)], [출처: 한국소비자원]"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1f667e',
                                    style-af-ani: 'background-color: #1b596e',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-50">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        캠핑족이라면 일산화탄소 중독의<br>
                                        위험성을 기억하세요.
                </div>
            </div>
            <div class="mt-5"  
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    무색·무취·무미의 기체인 일산화탄소에 중독되면 혈액 속 헤모글로빈과 급격히 반응합니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이후 산소의 순환을 방해해 두통, 어지럼증, 구토 등의 증상이 나타납니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    자칫 질식하거나 생명을 잃을 수도 있습니다.
            </div>
            <div class="mt-20 text-align-right">
                <img src="../../../resources/v1/img/12A_096/12A_096_07.gif" width="200" alt="일산화탄소 중독의 위험성 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    일산화탄소의 무서운 점은 육안이나 냄새로 얼마나 확산하여 있는지 확인이 안 된다는 점입니다.
            </div>
            <div class="mt-5" 
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    소량에 노출되어도 인체에 치명적인 영향을 끼칠 수 있습니다.
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/12A_096/12A_096_08.png" width="300" alt="일산화탄소(CO)농도별 인체 영향, 1 취정상농도 20, 2 2~3시간 내 가벼운 두통 200, 3 1~2시간전에 두통, 2.5~3시간에 후두통 400, 4 45분에 두통, 매스꺼움, 구토, 2시간 내 실신 800,
                5 2시간이 지나면 사망 1,600, 6 5~10분 내 두통,매스꺼움,30분 뒤 사망 3,200, 7 2~5분 내 두통 매스꺼움, 15분 뒤 사망 6,400, 9 1~3분 내 사망할 정도로 치명적 [출처: 가스안전공사]"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'background-color: #1b596e',
                                    style-af-ani: 'background-color: #154656',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        기본 수칙만 지켜도 안전한 캠핑을<br>
                                        즐길 수 있습니다.
                </div>
            </div>
            <div class="bull-list-chk mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    바깥과 통하는 창문 개방하기
            </div>
            <div class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    보일러, 난로 등 난방기구 점검하기
            </div>
            <div class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    밀폐된 공간에서 장시간 난방기 사용 자제하기
            </div>
            <div class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    구급 용품 준비하기
            </div>
            <div class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    일산화탄소 경보기 준비하기
            </div>
            <div class="mt-25 text-align-center">
                <img src="../../../resources/v1/img/12A_096/12A_096_09.png" width="200" alt="기본수칙 안전한 캠핑 즐기기 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이외에도 안전사고 예방을 위해 캠핑장에 안전시설이 잘 갖춰져 있는지, 야영장 배상책임보험이 가입되어 있는지 확인이 필요합니다.
            </div>
            <div class="mt-20 text-align-center">
                <img src="../../../resources/v1/img/12A_096/12A_096_10.png" width="200" alt="배상책임보험이 가입되어있는지 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    단, 개인의 부주의로 인한 사고는<br>
                    캠핌장에서 책임지지 않습니다.
                </div>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    안전사고가 발생하지 않도록<br>
                    더욱 주의가 필요합니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" style="background-color: #133f4e;">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- 상품영역 -->
        <div id="ins_view" class="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer id="footer-wrap" class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
    integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
        import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
        import { main } from "../../../resources/v1/js/mo-main.js";
        
        try {
            // animation setting
            AnimationManager.loadElementsToAnimate();
        }
        catch(error){
            alert(error);
            alert(error.stack);
        }
</script>
</body>
</html>