<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="전세보증보험"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="google-site-verification" content="prj2DeL22S4Og8vBwGDnHP7CLKnU0nop2Qsxsvi4m0c" />
    <link rel="canonical" href="https://life-marketing.kyobobook.co.kr/journey/o3_2B_141">

    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/affGAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>전세보증보험</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_2B_141 information-type type-b fc-white">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a class="go-back-btn" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div>
        <h1>
            전세보증보험
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />
<input type="hidden" id="devices" class="devices" th:value="${devices}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자산관리</span>
                <div>
                    <div class="fs-22 fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">전세보증금 지키는 법,</div>
                    <div class="fs-22 fw-700 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            내 돈은 내가 지킨다!
                    </div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        "전세사기 무서워"<br>
                                        전세보증보험 가입 '껑충'
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/2B_141/2B_141_01.gif" class="width-100" alt="전세보증보험이란?">
                    <div class="mt-10">
                        <div class="fs-18 fw-700">전세보증보험이란?</div>
                        <p class="mt-9">
                            보증금을 제때 돌려받지 못한 세입자에게<br>
                            보증금에 대한 일종의 보험을 제공하는 것입니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0.5',
                                        style-af-ani: 'opacity:1'">
                                        전세보증금을<br>
                                        돌려받지 못해 곤란한 상황을 겪는 것,<br>
                                        남의 일이 아닙니다.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                        style-af-ani: 'height: 100px',
                                        scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div> 
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                    style-af-ani: 'background-color: #cd5050',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        전세보증금 돌려받을 수 있을까?
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    무자본으로 신축 빌라와 오피스텔을 사 모으던 ‘빌라왕’들이 사망하면서 전세보증금을 돌려받지 못하는 세입자들이 속출하고 있습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    2023년 1~7월 보증사고 건수는 9,994건으로<br>
                                    2022년 1년간 발생 건수 5,443건에 약 2배를 기록했습니다.
            </p>
            <p class="mt-5 text-align-right fs-12"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [출처: 주택도시보증공사(HUG)]
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    전세 사기에 대한 관심도 그만큼 높아졌습니다.
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/2B_141/2B_141_02.gif" width="200"
                    alt="전세보증금 돌려받을 수 있을까? 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #cd5050',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        전세보증금 반환에<br>
                                        어려움을 겪는 세입자들 대표 사례
                </div>
            </div>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/2B_141/2B_141_03.gif" width="200"
                    alt="전세보증금 반환에 어려움을 겪는 세입자들 대표 사례 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="bull-list-chk mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    “임대차 계약이 끝났는데도 집주인이 보증금을 돌려주지 않아요.”
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    “임대인이 사망했어요.”
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    “임대계약 만료 이전 집주인의 경제적 상황으로 인해 집이 경매에 넘어갔어요.”
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    “다음 임차인이 안 구해졌어요.”
            </p>
            <p class="bull-list-chk mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    “금리 인상, 부동산 가격 하락으로 현금 유동성이 떨어져요.”
            </p>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">3</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        어떤 구제 방안 있을까?
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    정부는 전세 사기 예방과 피해를 막기 위해, 악성 임대인의 명단을 공개하고 임대인의 세금 체납이나 보험 가입 여부를 세입자가 계약 전에 확인할 수 있게 할 것으로 발표했습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    또한 전세사기피해자 지원 특별법이 시행중에 있으나 피해자의 범위가 정확하지 않는 등의 지적이 많아 보완이 필요할 것으로 보입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    현실적인 방안은, 세입자가 ‘전세보증보험’을 통해 전세보증금을 보호하는 것입니다.
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/2B_141/2B_141_04.gif" width="200"
                    alt="어떤 구제 방안 있을까? 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #a23f3f',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">4</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        ‘전세보증보험’이란?
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    세입자가 보증금을 지키기 위해 가입하는 보증상품입니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    집주인이 계약 기간 만료 후 전세보증금을 돌려주지 못하면 보증기관이 대신 보증금을 가입자(세입자)에게 지급(대위변제)하고, 나중에 집주인에게 구상권을 청구해 받아내는 것입니다.
            </p>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/2B_141/2B_141_05.gif" width="200"
                    alt="‘전세보증보험’이란? 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #a23f3f',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">5</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        전세보증보험 종류는?
                </div>
            </div>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/2B_141/2B_141_06.png" width="300"
                    alt="전세보증금 반환 보증 (주택도시보증공사 HUG)
                        - 가입 대상, - 보증료율, - 가입방법
                        전세보증금 수도권 7억 원 이하, 비수도권 5억 원 이하인 주택 연 0.115~0.154% (보증 금액, 주택 유형, 부채비율 고려하여 결정됨)
                        네이버부동산, 카카오페이 등
                        전세 지킴 보증 (주택금융공사 HF)
                        - 가입 대상, - 보증료율, - 가입방법
                        전세보증금이 수도권 7억 원 이하, 비수도권 5억 원 이하인 주택 (단, 주택금융공사 보증 전세대출 차주에 한함)
                        연 0.02~0.04%로 차등 적용 (우대가구 여부 등 고려)
                        해당 상품을 취급하는 시중은행에서 가입 가능
                        전세금 보장 신용 보험 (SG 서울보증)
                        - 가입 대상, - 보증료율, - 가입방법
                        아파트 (임차보증금 가입 한도가 없음), 보증금 10억 원 이하 기타 주택 (단독, 다가구, 빌라, 오피스텔 등)
                        아파트 연0.192%, 기타 주택 연 0.218%
                        SG서울보증 홈페이지 및 지점, 공인중개사 사무실 등"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <p class="fs-18 fw-700 mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    [전세보증보험 가입 유의 사항]
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    전세보증보험은 보증 대상 주택의 전세 계약서상 임차인이면 가입할 수 있습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    그러나 빌라 건축물대장에 ‘근린생활시설’로 분류되어 있다면 전세보증보험에 가입할 수 없습니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    오피스텔도 ‘주거용’이라고 명시되어 있어야 하며, 상업용 오피스텔은 가입이 불가합니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    전세보증보험에 가입할 예정이라면, 건축물대장을 확인하여 내가 계약할 건물의 용도를 체크해 보세요.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/2B_141/2B_141_07.gif" width="200"
                    alt="전세보증보험 가입 유의 사항 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    소중한 전세보증금을 지키고,<br>
                    꾸준한 저축으로 목돈도 마련하여
                </div>
                <div class="fw-700 fs-22 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    원하는 내 집 마련에<br>
                    한 걸음 다가가세요.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div id="btm-wrap" class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" class="bg-8d3737">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="ins_view" class="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
                <div class="flag-point-box eventView">
                    <span class="blind">전체 동의하고 교보문고 5,000 통합포인트 받기!</span>
                </div>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
        <!-- s: 이벤트 유의사항 -->
        <div class="info-point-area eventView">
            <div>이벤트 유의사항</div>
            <ul class="info-point-list">
                <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
            </ul>
        </div>
        <!-- e: 이벤트 유의사항 -->
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer id="footer-wrap" class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
            <li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
                <a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                background="transparent"
                style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { main } from "../../../resources/v1/js/mo-main.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>