<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="유치원에서 유의사항은?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
    
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>유치원에서 유의사항은?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_3C_033 fact-chk type-c">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white fc-1">
        <div class="link_back">
            <a class="go-back-btn" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            유치원에서 유의사항은?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-10">
    <div class="top-area">
        <article class="fc-white">
            <span class="tag opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                                start-ms:'300',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.7s'">자녀</span>
            <div class="mt-10">
                <div class="fs-22 opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-100%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'500',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">우리 아이 유치원 입학 전,</div>
                <div class="fs-22 strong-underline opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                                            알아둬야 할 건강 상식!
                </div>
            </div>

            <div id="swiper-container" class="swiper-container opacity-0 fact-check mt-30"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100%);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-banner-wrapper first-slide">
                            <img src="../../../resources/v1/img/13C_031-img-01.gif" width="315px" alt="팩트체크">
                            <div class="title" >
                                <div class="half-line bg-black"></div>
                                <div class="title-msg bg-white">
                                    <h3 class="fw-700 fc-2">
                                        유치원에 입학하면<br>
                                        사고나 감염성 질병에<br>
                                        더 많이 노출된다?
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-01.gif" width="160px" alt="수족구병 대표 이미지">
                            <h3 class="mt-0 mb-0 section-no fw-700 fs-40 fc-18">01</h3>
                            <h3 class="fw-700 fc-2">울긋불긋,<br>
                                물집이 잡히는 수족구병
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-02.png" width="160px" alt="올바른 손 씻기 등 개인위생을 철저히">
                            <h3 class="fw-700 mt-10 fc-18">올바른 손 씻기 등 개인위생을 철저히!</h3>
                            <p class="mt-5 fs-13 fc-2">
                                수족구병은 손, 발 그리고 입안에 물집이 잡히는 병입니다.<br>
                                주로 사람의 침, 가래, 콧물, 대변 등을 통해 전파됩니다.<br>
                                아직 예방백신이 개발되지 않았기에<br>
                                올바른 손 씻기 등의 개인위생에 신경 써야 합니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-03.gif" width="160px" class="전염성이 강한 수두">
                            <h3 class="mt-0 mb-0 section-no fw-700 fs-40 fc-18">02</h3>
                            <h3 class="fw-700 fc-2">
                                오돌토돌,<br>
                                전염성이 강한 수두
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-04.png" width="160px" alt="수두 백신접종으로 예방 가능">
                            <h3 class="fw-700 mt-10 fc-18">수두 백신접종으로 예방 가능</h3>
                            <p class="mt-5 fs-13 fc-2">
                                수두는 대상포진 바이러스로 생기는 전염성 질환입니다.<br>
                                대상포진의 물집에서 나오는 액이나 감염자와의 직접 접촉,<br>
                                감염자가 기침이나 재채기할 때 공기를 통해 전염될 수 있습니다.<br>
                                수두는 백신접종으로 예방할 수 있습니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-05.gif" width="160px" alt="귀밑 침샘이 붓는 유행성이하선염">
                            <h3 class="mt-0 mb-0 section-no fw-700 fs-40 fc-18">03</h3>
                            <h3 class="fw-700 fc-2">
                                간질간질,<br>
                                귀밑 침샘이 붓는 유행성이하선염
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-06.png" width="160px" alt="흔히 볼거리로 알려진 질병">
                            <h3 class="fw-700 mt-10 fc-18">흔히 볼거리로 알려진 질병</h3>
                            <p class="mt-5 fs-13 fc-2">
                                발열, 두통, 근육통과 함께 귀밑 침샘(이하선)이 붓고,<br>
                                통증을 느끼게 됩니다.<br>
                                타액의 비말감염에 의해 전파되거나 직접 접촉에 의해<br>
                                감염됩니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-07.png" width="160px" alt="예방접종을 받지 않은 만 12세 이하 어린이 예방접종">
                            <p class="mt-10 fs-13 fc-2">
                                생후 12~15개월과 4~5세에 2회<br>
                                MMR(홍역, 유행성이하선염, 풍진) 예방접종을 받을 수 있습니다.
                            </p>
                            <p class="mt-5 fs-13 fc-2 fw-700 fc-18">
                                예방접종을 받지 않은 만 12세 이하 어린이는<br>
                                가까운 보건소나 지정 의료기관에서<br>
                                2회 모두 무료 접종이 가능합니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-08.gif" width="160px" alt="다시 급증하고 있는 학교 안전사고">
                            <h3 class="mt-0 mb-0 section-no fw-700 fs-40 fc-18">04</h3>
                            <h3 class="fw-700 fc-2">
                                다시 급증하고 있는<br>
                                학교 안전사고
                            </h3>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="main-banner-wrapper pt-35">
                            <p class="fs-15 fc-2 fw-700 fc-18">
                                2020-22년 1/4분기 학교 안전사고
                            </p>
                            <img class="mt-10 width-100" src="../../../resources/v1/img/3C_033_img-09.png" alt="유치원, 초등, 중등, 고등, 20년1/4분기(유치원 750, 초등 1,498, 중등 465, 고등 320), 21년 1/4분기(유치원 1,674, 초등 2,876, 중등 3.236, 고등 2,631), 22년 1/4분기(유치원 1,299, 초등 3,381, 중등 4.105, 고등 2,264) [출처: 학교안전공제중앙회]">
                            <p class="mt-5 fs-13 fc-2">
                                코로나19 이후 등교수업이 확대됨에 따라
                            </p>
                            <p class="mt-5 fs-13 fc-2 fw-700 fc-18">
                                22년 1분기 유치원 및 초중고의 학교 안전사고<br>
                                발생 건수도 전년 동기 대비 증가했습니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/3C_033_img-10.png" width="160px" class="얼굴 부위에 사고가 많이 발생했습니다">
                            <p class="mt-10 fs-13 fc-2">
                                유치원의 경우에는 일반수업 342건,<br>
                                방과 후 교실 245건 등 수업 중 사고가 자주 발생했습니다.
                            </p>
                            <p class="mt-5 fs-13 fc-2 fw-700 fc-18">
                                사고는 주로 눈(174건), 이마(167건), 손가락(132건),<br>
                                치아(99건) 등 얼굴 부위에 많이 발생했습니다.
                            </p>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="main-banner-wrapper"></div>
                    </div>

                </div>
                <div class="swiper-pagination mt-10"></div>
            </div>

            <div data-is-not-result-page="false" id="nextDiv">
                <div class="mb-20">
                    <img class="mt-30" src="../../../resources/v1/img/check-bg-white.svg" width="50px" id="animation01"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani:'transform:scale(3.3); opacity:0;',
                                            style-af-ani:'transform:scale(1); opacity:1;',
                                            start-ms:'100'">
                    <p class="mt-5 mb-5" id="animation02"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani:'transform:translateY(-40px); opacity:0;',
                                            style-af-ani:'transform:translateY(0px); opacity:1;',
                                            start-ms:'300'">
                        어린이집이나 유치원 등 집단생활 시설에서
                    </p>
                    <div class="fs-22 fw-700" id="animation03"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani:'transform:translateY(-80px); opacity:0;',
                                            style-af-ani:'transform:translateY(0px); opacity:1;',
                                            start-ms:'500'">
                        한 아이가 전염성 질환에 걸리면<br>
                        다른 아이도 쉽게 전염됩니다.
                    </div>
                </div>

                <div class="animation-vertical-box"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                        style-af-ani: 'height: 100px',
                                        scroll-duration: 100',
                                        trigger-hook: '0.7'">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-is-not-result-page="false"
            data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color:#6a50c2;', style-af-ani: 'background-color:#5b49a8;'">
        <article class="text-align-center fc-white pt-75">
            <p class="fs-3"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        아이와 성인이 함께 앓는 질병의 경우,<br>
                                        아이를 매개체로 각 가정의 모든 질병이<br>
                                        전염될 수 있습니다.<br>
                                        시설과 가정에서 위생관리를 철저히 해야 하는<br>
                                        이유입니다.
            </p>
            <img class="mt-20"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'"
                src="../../../resources/v1/img/3C_033_img-11.png" width="200" alt="설과 가정에서 위생관리를 철저히 해야 하는 이유">
            <p class="fs-3 mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        유치원생의 경우 통제 능력은 부족하지만<br>
                                        위험한 상황에는 더 많이 노출되기 때문에<br>
                                        사고나 질병에 대비한 보험이 잘 가입되어 있는지 확인해 보세요.
            </p>
            <img src="../../../resources/v1/img/3C_033_img-12.gif" width="200" class="mt-20" alt="사고나 질병에 대비한 보험이 잘 가입되어 있는지 확인"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            <div class="mt-30">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50px"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                    특히 <b class="va-top">감염성 질병</b>과 <b class="va-top">안전사고</b>에 대한<br>
                    보장은 놓치지 말아야 합니다.
                </div>
            </div>
        </article>
        <!-- s: 컨텐츠 하단 영역-->
        <div id="btm-wrap" class="bg-btm-gray btm-wrap">
            <section id="feedback-area" class="bg-54409b">
                <div class="feedback-inner">
                    <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                    <div class="feedback-btn-box">
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                            <label class="feedback-btn" for="feedback-radio-01">
                                <img src="../../../resources/v1/img/ico-feedback-good.png" width="50">
                            </label>
                        </div>
                        <div class="feedback-btn-box-inner">
                            <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                            <label class="feedback-btn" for="feedback-radio-02">
                                <img src="../../../resources/v1/img/ico-feedback-bad.png" width="50">
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 상품영역 -->
            <div id="ins_view"></div>

            <!-- 동의 영역 -->
            <div class="agree-area">
                <div class="all-agree-box" id="allAgreeBox">
                    <label for="chkAll" class="check-style-all">
                        <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                    </label>
                    <div class="flag-point-box eventView">
                        <span class="blind">전체 동의하고 교보문고 5,000 통합포인트 받기!</span>
                    </div>
                </div>
                <div class="agree-box" id="personalAgreeBox">
                    <label for="chkAgr1" class="check-style-agr chk_agr_info">
                        <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
                </div>
                <div class="agree-box" id="marketAgreeBox">
                    <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                        <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                    </label>
                    <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
                </div>
            </div>
            <div class="confirm-btn-box">
                <a class="confirm-btn link_login" id="confirm">
                    확인하기
                </a>
            </div>
            <!-- s: 이벤트 유의사항 -->
            <div class="info-point-area eventView">
                <div>이벤트 유의사항</div>
                <ul class="info-point-list">
                    <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                    <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                    <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                    <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                    <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                    <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                    <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
                </ul>
            </div>
            <!-- e: 이벤트 유의사항 -->

            <!-- 유의문구 영역 -->
            <div class="info-txt-wrap">
                <div class="eventView">꼭! 알아두세요.</div>
                <ul class="info-txt">
                    <li>가입전에 상품설명서와 약관을 읽어보시기 바랍니다.</li>
                    <li>교보생명은 상품에 대해 충분히 설명할 의무가 있으며, 가입자는 앞서 이에 대한 충분한 설명을 받으시기 바랍니다.</li>
                    <li>보험계약자가 기존 보험계약을 해지하고, 새로운 보험계약을 가입할 경우 인수 거절, 보험료 인상, 보장내용 축소 등 불이익이 생길 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <!-- e: 컨텐츠 하단 영역-->

        <!-- [S] footer -->
        <footer id="footer-wrap" class="footer_wrapper">
            <div class="footer_body">
                <div class="logo_box">
                    <a id="link_home" class="logo_link">
                            <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
                    </a>
                    <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
                </div>
                
                <address class="footer_info_box">
                    <div class="info_text_multi">
                        <span class="info_text">교보문고</span>
                        <span class="gap">|</span>
                        <span class="info_text">대표이사 : 안병현, 김상훈</span>
                    </div>
                    <span class="info_text">서울특별시 종로구 종로 1</span>
                    <span class="info_text">사업자등록번호 : 102-81-11670</span>
                    <span class="info_text"><b>대표전화 : 1544-9000</b></span>
                    <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
                    <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
                    <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
                    <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
                </address>
                
                <div class="footer_menu_box">
                    <ul class="footer_menu_list">
                        <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                        <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
                    </ul>
                    <ul class="footer_menu_list sub">
                        <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                        <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                        <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                        <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- [E] footer -->
    </section>
</div>
<!-- [E] cont -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
            <li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] 포인트 팝업 -->
<div id="popPoint" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            로그인하고<br>
            교보문고 통합포인트 받아보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonint">다음에 하기</button>
            <button class="btn-login" id="btnLoginPoint">로그인 하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd01" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonintEnd01">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd01">확인하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd02" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPointEnd02">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd02">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [E] 포인트 팝업 --> 

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                   background="transparent"
                   style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
      고객님에게 맞는 <b>교보생명</b> 상품으로<br>
      이동중이에요!
    </div>
</div>
  
<script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { main } from "../../../resources/v1/js/mo-main.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>