<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="드럭머거란?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="google-site-verification" content="prj2DeL22S4Og8vBwGDnHP7CLKnU0nop2Qsxsvi4m0c" />
    <link rel="canonical" href="https://life-marketing.kyobobook.co.kr/journey/o4_12B_074">

    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/affGAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>미세먼지 바로알기!</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-382Q01VXYQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-382Q01VXYQ');
</script>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_12B_074 information-type type-b">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <h1>
            미세먼지 바로알기!
        </h1>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />
<input type="hidden" id="devices" class="devices" th:value="${devices}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">‘소리 없는 살인마’</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">미세먼지를 확인하세요.</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        미세먼지 많은 날엔 외출을 가급적 자제하고,<br>
                                        실내에서 머무는 것이 안전합니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/12B_074/12B_074_01.gif" class="width-100" alt="미세먼지 바로알기 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                          미세먼지란?
                        </h3>
                        <p class="mt-9 fs-14">
                          대기 중에 떠다니거나 흩날려 내려오는 입자상물질인<br>
                          먼지 중 ‘흡입성먼지’를 말합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    그렇다면<br>
                    미세먼지, 초미세먼지, 황사<br>
                    차이를 알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                    style-af-ani: 'background-color: #cd5050',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        황사와 미세먼지, 초미세먼지<br>
                                        같은 거 아닌가요?
                </div>
            </div>
            <div class="mt-20 list-num">
              <div data-animation-type="onscroll"
                  data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                  class="list-item num-01">
                <p class="fs-18 fw-700">발생 원인이 다릅니다.</p>
                <p class="mt-5 fs-15"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                                    황사는 중국 북부나 몽골 사막지대에서 강한 바람에 의해 흙먼지나 모래가 이동하며 지표에 떨어지는 자연현상입니다.
                </p>
                <p class="mt-5 fs-15"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                                    미세먼지는 산업시설, 자동차 배기가스 등 중금속, 유해화학물질 등이 원인입니다.
                </p>
              </div>
              <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_02.png" width="300"
                    alt="황사와 미세먼지, 무엇이 다를까? 황사: 아시아 대륙의 사막, 황토지대의 흙먼지가 바람을 타고 날아오는 현상, 미세먼지: 자동차, 공장 등에서 배출되는 화석연료로 인한 오염물질"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                          style-af-ani: 'opacity:1'">
              </div>
  
              <div data-animation-type="onscroll"
                  data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                  class="list-item num-02 mt-30">
                <p class="mt-5 fs-18 fw-700">성분이 다릅니다.</p>
                <p class="mt-5 fs-15"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                                    황사의 주요 성분은 칼슘, 철분, 알루미늄, 마그네슘 등 토양 성분입니다.
                </p>
                <p class="mt-5 fs-15"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                                    반면, 미세먼지는 질산염, 암모늄, 황산염 등의 이온 성분과 탄소화합물, 금속화합물 등의 유해 성분으로 구성되어 있습니다.
                </p>
              </div>
              <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/12B_074/12B_074_03.png" width="300"
                    alt="황사: 칼슘, 철분, 말루미늄, 마그네슘 / 미세먼지: 질산염, 암모늄, 황산염, 탄소 화합물, 금속 화합물"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                          style-af-ani: 'opacity:1'">
              </div>
  
              <div data-animation-type="onscroll"
                  data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                  class="list-item num-03 mt-30">
                <p class="mt-5 fs-18 fw-700">입자의 크기도 다릅니다.</p>
                <p class="mt-5 fs-5"
                  data-animation-type="onscroll"
                  data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                  황사는 지름 20μm 이하의 모래를 뜻합니다.
                </p>
                <p class="mt-5 fs-5"
                  data-animation-type="onscroll"
                  data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                  미세먼지는 말 그대로 먼지 중에서도 입자크기가 매우 작은 먼지를 말합니다.
                </p>
                <p class="mt-5 fs-5"
                  data-animation-type="onscroll"
                  data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                  직경 10μm 이하 크기의 미세먼지(PM10)와 직경 2.5μm 이하의 초미세먼지(PM2.5)로 구분됩니다.
                </p>
              </div>
              
              <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_04.png" width="300" 
                    alt="황사, 미세먼지, 초미세먼지의 차이. 보이는 정도: 황사는 눈에보임, 미세먼지 초미세먼지 안보임 / 크기: 황사 1~10μm, 미세먼지 10μm 이하, 초미세먼지 2.5μm 이하
                    / 원인: 황사 모래먼지바람, 미세먼지 초미세먼지 화석연료, 매연등 / 구성물질: 황사 모래먼지, 미세먼지 초미세먼지 화학물질 ※ 황사 중에 입자가 작은 물질은 미세먼지가 되기도 함"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
              </div>
          </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #cd5050',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        황사와 미세먼지, 왜 위험할까요?
                </div>
            </div>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    황사와 미세먼지가 위험한 이유는 우리 눈에 보이지 않을 정도로 작기 때문에 코와 기관지에서 걸러지지 않고, 폐와 혈관을 따라 침투해 건강을 해칠 수 있기 때문입니다.
            </p>
            <div class="text-align-center mt-25">
                <img src="../../../resources/v1/img/12B_074/12B_074_05.png" width="300"
                    alt="체내에 흡수 가능한 먼지 크기: 5~10μm 눈- 알레르기성 결막염, 각막염 /
                          2~5μm 코- 알레르기성 비염, 1~2μm 기관지- 기관지염, 폐기종, 천식 /
                          0.1~1μm 폐- 폐포 손상 유발"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    황사는 중국의 도시나 공업지대를 통과하면서 흙먼지뿐 아니라 황산염, 질산염, 카드뮴, 니켈 등의 여러 가지 중금속을 함유하게 됩니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    이에 따라 호흡기질환과 알레르기성 비염, 피부질환 등을 유발할 수 있습니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_06.png" width="200"
                    alt="호흡기질환과 알레르기성 비염 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    초미세먼지에 비해 상대적으로 입자가 큰 미세먼지는 주로 눈과 코에 영향을 미칩니다.
            </p>
            <p class="mt-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    알레르기성 결막염, 눈병, 비염, 호흡기 질환은 물론 탈모까지 유발합니다.
            </p>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-20">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        초미세먼지는 혈관까지 위협합니다.
                </div>
            </div>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    특히 초미세먼지의 지름은 머리카락 두께의 20분의 1 정도에 불과할 정도로 매우 작아 눈에 보이지 않는 것은 물론이고, 피부의 모공으로도 침투가 가능합니다.
            </p>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    숨 쉴 때 폐의 가장 깊은 곳까지 들어와 바로 혈관으로 들어갈 수 있습니다.
            </p>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    호흡기의 가장 깊은 곳까지 침투할 수 있기 때문에 기관지염, 폐공기종, 천식, 심하게는 폐포 손상을 유발합니다.
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_07.png" width="200"
                    alt="폐포 손상 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <p class="mt-30 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    무서운 심뇌혈관질환으로도 이어질 수 있습니다.
            </p>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    또한 카드뮴, 납, 비소 등 1급 발암물질이 내 몸에 유입되기 때문에 심뇌혈관질환으로도 이어질 수 있습니다.
            </p>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    세계보건기구에 따르면 초미세 먼지 PM2.5에 장기간 노출될 경우 심근경색과 같은 허혈 심질환의 사망률은 30~80%, PM10 농도가 10μm 증가할수록 심혈관질환 사망률은 0.69% 증가한다고 합니다.
            </p>
            <div class="text-align-left mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_08.png" width="200"
                    alt="심장질환 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #a23f3f',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-20">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">4</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        황사, 미세먼지, 초미세먼지 대처법
                </div>
            </div>
            <p class="bull-list-chk mt-20 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    충분한 수분 섭취
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    노폐물 배출에 좋은 음식 먹기
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    외출 후 손 씻기. 청결 유지하기
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    외출 후 옷 세탁하기
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    외출 시 마스크 착용하기
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    렌즈 대신 안경 착용하기
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    외출 자제하기
            </p>
            <p class="bull-list-chk mt-5 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    창문 닫고 실내 공기청정기 사용하기
            </p>
            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_09.png" width="200"
                    alt="창문 닫고 실내 공기청정기 사용하기 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
        </article>
    </section>
    <section class="pb-0" 
            data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #a23f3f',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-20">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">5</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        자세히 보면 다릅니다.
                </div>
            </div>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                                    앞에서 살펴봤듯이 먼지도 크기와 발생 원인에 따라 인체에 미치는 영향이 다릅니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/12B_074/12B_074_10.gif" width="200"
                    alt="인체에 미치는 영향 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    일상화된 미세먼지로 인해<br>
                    나에게 발생 가능성이 높아진 질병이
                </div>
                <div class="fw-700 fs-22 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    무엇인지 확인해야 합니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div id="btm-wrap" class="bg-btm-gray btm-wrap">
        <!-- 평가여역 -->
        <section id="feedback-area" class="bg-8d3737">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="ins_view" class="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
                <div class="flag-point-box eventView">
                    <span class="blind">전체 동의하고 교보문고 3,000 통합포인트 받기!</span>
                </div>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
        <!-- s: 이벤트 유의사항 -->
        <div class="info-point-area eventView">
            <div>이벤트 유의사항</div>
            <ul class="info-point-list">
                <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
            </ul>
        </div>
        <!-- e: 이벤트 유의사항 -->
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer id="footer-wrap" class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S] 포인트 플로팅 UI -->
<div id="btnPointWrap" class="btn-point-wrap">
    <div class="point-txt scrollToEv">
        <span>교보문고 통합포인트 <b>3,000P</b> 받기!</span>
    </div>
    <button type="button" class="btn-fixed-point scrollToEv">POINT</button>
</div>
<!-- [E] 포인트 플로팅 UI -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
        background="transparent"
        style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
    integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
    import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
    import { main } from "../../../resources/v1/js/mo-main.js";
    
    try {
        // animation setting
        AnimationManager.loadElementsToAnimate();
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>