<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="건강을 해치는 나쁜 습관"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="google-site-verification" content="prj2DeL22S4Og8vBwGDnHP7CLKnU0nop2Qsxsvi4m0c" />
    <link rel="canonical" href="https://life-marketing.kyobobook.co.kr/journey/o4_5D_120">

    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/affGAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>내 근육나이는 몇 살?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_5D_120 survey-type type-d bg-6">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header>
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            내 근육나이는 몇 살?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />
<input type="hidden" id="devices" class="devices" th:value="${devices}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-6">
    <div class="main-wrapper">
        <div class="top-area">
            <div id="survey-area">
                <article class="fc-white pb-20">
                    <span class="tag opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                                start-ms:'300',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.7s'">건강관리</span>
                    <div class="mt-10">
                        <div class="fs-22 opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-100%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'500',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">내 근육 나이는</div>
                        <div class="fs-22 strong-underline opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-250%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'700',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">과연 몇 살 일까요?</div>
                    </div>
                    <div class="opacity-0"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-400%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'900',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">
                        <span class="sub-tit">
                            양팔을 쭉 뻗고 한 발로 균형을 잡아보세요.
                        </span>
                    </div>
                    <div class="text-align-center mt-20">
                        <img src="../../../resources/v1/img/5D_120/5D_120_01.gif" width="200" class="opacity-0"
                            alt="양팔을 쭉 뻗고 한 발로 균형을 잡아보세요 동작 이미지"
                            data-animation-type="onload"
                            data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateY(-400%);',
                                                style-af-ani: 'transform:',
                                                start-ms:'1000',
                                                transition-props:'[opacity,transform]',
                                                transition-duration:'0.8s'">
                    </div>
                </article>

                <form class="survey-form pb-10">
                    <ul class="vertical-ul">
                        <li class="fs-0"
                            data-animation-type="onresult"
                            data-animation-infos="style-af-ani:'transform:translateX(-50%);',
                                                    start-ms:'0'">
                            <div class="li-item opacity-0"
                                    data-animation-type="onload"
                                    data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateX(100vw);',
                                                style-af-ani: 'transform:',
                                                start-ms:'1000',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey" value="1" id="answer-01">
                                <label for="answer-01" style="min-height: 50px;padding: 5px 15px;">
                                    <div class="radio-btn bdc-5" style="margin: 5px 10px;"></div>
                                    <div class="fs-5 contents">
                                        <div>10초 이하 버텼어요.</div>
                                    </div>
                                </label>
                            </div>
                            <div class="li-item-result-wrapper">
                                <div class="li-item-result" style="min-height: 50px;padding: 5px 15px;">
                                    <div>
                                        <small class="fc-4 blind"></small>
                                        <div>10초 이하 버텼어요.</div>
                                        <div class="progress-bar mt-10">
                                            <div class="painted-bar"></div>
                                        </div>
                                    </div>
                                    <div class="text-align-right">
                                        <h1 class="display-inline-block result-ratio">-</h1>
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fs-0"
                            data-animation-type="onresult"
                            data-animation-infos="style-af-ani:'transform:translateX(-50%);',
                                                    start-ms:'0'">
                            <div class="li-item opacity-0"
                                    data-animation-type="onload"
                                    data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateX(100vw);',
                                                style-af-ani: 'transform:',
                                                start-ms:'1100',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey" value="1" id="answer-02">
                                <label for="answer-02" style="min-height: 50px;padding: 5px 15px;">
                                    <div class="radio-btn bdc-5" style="margin: 5px 10px;"></div>
                                    <div class="fs-5 contents">
                                        <div>15초 버텼어요.</div>
                                    </div>
                                </label>
                            </div>
                            <div class="li-item-result-wrapper">
                                <div class="li-item-result" style="min-height: 50px;padding: 5px 15px;">
                                    <div>
                                        <small class="fc-4 blind"></small>
                                        <div>15초 버텼어요.</div>
                                        <div class="progress-bar mt-10">
                                            <div class="painted-bar"></div>
                                        </div>
                                    </div>
                                    <div class="text-align-right">
                                        <h1 class="display-inline-block result-ratio">-</h1>
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fs-0"
                            data-animation-type="onresult"
                            data-animation-infos="style-af-ani:'transform:translateX(-50%);',
                                                    start-ms:'0'">
                            <div class="li-item opacity-0"
                                    data-animation-type="onload"
                                    data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateX(100vw);',
                                                style-af-ani: 'transform:',
                                                start-ms:'1200',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey" value="1" id="answer-03">
                                <label for="answer-03" style="min-height: 50px;padding: 5px 15px;">
                                    <div class="radio-btn bdc-5" style="margin: 5px 10px;"></div>
                                    <div class="fs-5 contents">
                                        <div>20초 버텼어요.</div>
                                    </div>
                                </label>
                            </div>
                            <div class="li-item-result-wrapper">
                                <div class="li-item-result" style="min-height: 50px;padding: 5px 15px;">
                                    <div>
                                        <small class="fc-4 blind"></small>
                                        <div>20초 버텼어요.</div>
                                        <div class="progress-bar mt-10">
                                            <div class="painted-bar"></div>
                                        </div>
                                    </div>
                                    <div class="text-align-right">
                                        <h1 class="display-inline-block result-ratio">-</h1>
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fs-0"
                            data-animation-type="onresult"
                            data-animation-infos="style-af-ani:'transform:translateX(-50%);',
                                                    start-ms:'0'">
                            <div class="li-item opacity-0"
                                    data-animation-type="onload"
                                    data-animation-infos="remove-class-nm: 'opacity-0',
                                                style-bf-ani: 'transform:translateX(100vw);',
                                                style-af-ani: 'transform:',
                                                start-ms:'1300',
                                                transition-props:'[opacity]',
                                                transition-duration:'0.5s'">
                                <input type="radio" name="kyobolife-survey" value="1" id="answer-04">
                                <label for="answer-04" style="min-height: 50px;padding: 5px 15px;">
                                    <div class="radio-btn bdc-5" style="margin: 5px 10px;"></div>
                                    <div class="fs-5 contents">
                                        <div>30초 버텼어요!</div>
                                    </div>
                                </label>
                            </div>
                            <div class="li-item-result-wrapper">
                                <div class="li-item-result" style="min-height: 50px;padding: 5px 15px;">
                                    <div>
                                        <small class="fc-4 blind"></small>
                                        <div>30초 버텼어요!</div>
                                        <div class="progress-bar mt-10">
                                            <div class="painted-bar"></div>
                                        </div>
                                    </div>
                                    <div class="text-align-right">
                                        <h1 class="display-inline-block result-ratio">-</h1>
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>

                <div class="cont-area">
                    <button type="submit" id="goNextBtn" class="com-btn fs-4 fw-700" data-is-not-result-page="true" disabled>설문 확인하기</button>

                    <div class="text-align-center mt-20" data-is-not-result-page="false">
                        <div class="fs-20 fw-700 fc-1"
                            data-animation-type="onresult"
                            data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                                    style-af-ani: 'transform:translateX(0px); opacity:1',
                                                    start-ms: '600'">
                                                    근육 나이 확인하기
                        </div>
                        <div class="mt-20">
                            <img src="../../../resources/v1/img/5D_120/5D_120_02.png" alt="시간 초, 나이/ 10초 이하: 60대 이상, 15초: 50대, 20초: 40대, 25초: 30대, 30초: 20대 [출처 : 영국 스포츠의학저널(British Journal of Sport Medicine)]" width="300px"
                                    data-animation-type="onresult"
                                    data-animation-infos="style-bf-ani: 'transform:translateX(-100px); opacity:0',
                                                        style-af-ani: 'transform:translateX(0px); opacity:1',
                                                        start-ms: '900'">
                        </div>
                    </div>
                </div>

                <section data-is-not-result-page="false"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1', scroll-duration: 300'">
                    <article class="inner text-align-left">
                        <div class="inner-cont">
                            <div class="title-msg">
                                <span class="section-no fw-700 fc-5"
                                        data-animation-type="onscroll"
                                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                            style-af-ani: 'opacity:0.2'">1</span>
                                <div class="fw-700 fs-22"
                                    data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        실제 나이와 근육 나이가 다르다면?
                                </div>
                            </div>
                            <div class="fc-3 fs-15 mt-5" 
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                    style-af-ani: 'opacity:1';">
                                                    만약 실제 나이보다 근육 나이가 많다면 근육의 탄력성과 유연성이 저하된 상태라고 이해하면 됩니다.
                            </div>
                            <div class="fc-3 fs-15 mt-5" 
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                    style-af-ani: 'opacity:1';">
                                                    근육 나이가 건강에 미치는 영향은 여러 가지가 있습니다.
                            </div>
                            <div class="fc-3 fs-15 mt-5" 
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                    style-af-ani: 'opacity:1';">
                                                    체중의 약 40%를 차지하는 근육은 뼈를 보호하고, 체형을 유지하고, 운동 기능을 수행하는 역할을 합니다.
                            </div>
                            <div class="img-box text-align-center mt-20"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                <img src="../../../resources/v1/img/5D_120/5D_120_03.png" alt="근력운동 대표 이미지" width="300">
                            </div>
                            <div class="fc-3 fs-15 mt-30"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                    style-af-ani: 'opacity:1';">
                                                    나이가 들면 신체 노화로 인해 근육세포의 수가 감소하면서 근육량이 급격히 감소하게 되는데 단순히 근육량이 줄어드는 데에서 그치지 않고, 여러 가지 질환을 불러일으킵니다.
                            </div>
                            <div class="img-box text-align-center mt-20"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                <img src="../../../resources/v1/img/5D_120/5D_120_04.png" alt="근육량 감소로 인한 여러 가지 질환 대표 이미지" width="300">
                            </div>

                            <div class="title-msg mt-60">
                                <span class="section-no fw-700 fc-5"
                                        data-animation-type="onscroll"
                                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                            style-af-ani: 'opacity:0.2'">2</span>
                                <div class="fw-700 fs-22"
                                    data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        근육 나이 젊어지게 하는 법이 있다?
                                </div>
                            </div>

                            <div class="mt-20 list-num c555">
                                <div data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                        style-af-ani: 'opacity:1';"
                                    class="list-item num-01">
                                    <p class="mt-0 mb-0 fs-18 fw-700">하체 운동하기</p>
                                    <p class="fc-3 fs-15 mt-5">
                                        하체 근육을 집중적으로 발달시키는 것은 전체 근육량의 증가 속도를 높이는 데 유리합니다.
                                    </p>
                                    <p class="fc-3 fs-15 mt-5">
                                        무릎 주변부 근육을 발달시키는 것이 관절에 가는 압박을 줄이기 때문에 관절 건강에도 긍정적인 영향을 줍니다.
                                    </p>
                                    <p class="fc-12 fs-15 fw-700 mt-5">
                                        [하체 근육에 좋은 운동]
                                    </p>
                                    <p class="fc-3 fs-15">
                                        맨몸 스쿼트, 계단 오르기, 런지
                                    </p>
                                </div>
                            </div>
                            <div class="img-box text-align-center mt-20"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                <img src="../../../resources/v1/img/5D_120/5D_120_05.png" alt="맨몸 스쿼트, 계단 오르기, 런지 대표 이미지" width="300">
                            </div>

                            <div class="mt-20 list-num c555">
                                <div data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                        style-af-ani: 'opacity:1';"
                                    class="list-item num-02">
                                    <p class="mt-0 mb-0 fs-18 fw-700">근육 형성 돕는 단백질 섭취</p>
                                    <p class="fc-3 fs-15 mt-5">
                                        운동은 근육 단백질의 분해를 유발하는데, 이때 단백질을 섭취하면 분해된 단백질을 복구하고 재건하는 데 도움이 됩니다.
                                    </p>
                                    <p class="fc-3 fs-15 mt-5">
                                        단백질은 우리 몸이 필요한 아미노산을 비롯해 새로운 근육 조직을 만드는 데 필요한 구성 요소를 제공합니다.
                                    </p>
                                    <p class="fc-3 fs-15 mt-5">
                                        근육을 키우는 것이 목표라면 운동 후 2시간 이내에 20~40g의 단백질을 섭취하는 것이 좋습니다.
                                    </p>
                                    <p class="fc-12 fs-15 fw-700 mt-5">
                                        [단백질이 풍부한 식품]
                                    </p>
                                    <p class="fc-3 fs-15">
                                        달걀, 닭가슴살, 연어, 참치, 아보카도, 견과류
                                    </p>
                                </div>
                            </div>
                            <div class="img-box text-align-center mt-20"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                <img src="../../../resources/v1/img/5D_120/5D_120_06.png" alt="달걀, 닭가슴살, 연어, 참치, 아보카도, 견과류 대표 이미지" width="300">
                            </div>

                            <div class="mt-20 list-num c555">
                                <div data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                        style-af-ani: 'opacity:1';"
                                    class="list-item num-03">
                                    <p class="mt-0 mb-0 fs-18 fw-700">근육 회복에 좋은 탄수화물 섭취</p>
                                    <p class="fc-3 fs-15 mt-5">
                                        운동 후 탄수화물을 섭취하는 것은 운동 중 소모된 글리코겐을 보충하는 데 도움이 됩니다.
                                    </p>
                                    <p class="fc-3 fs-15 mt-5">
                                        근육에 저장돼 있던 글리코겐은 운동 에너지로 사용되는데, 특히 근력운동보다 달리기, 수영 등 유산소 운동을 할 때 더 많이 소비됩니다.
                                    </p>
                                    <p class="fc-3 fs-15 mt-5">
                                        따라서 유산소 운동을 마친 다음에는 체중 1kg 당 8~12g의 탄수화물을 섭취하는 것이 좋습니다.
                                    </p>
                                    <p class="fc-3 fs-15 mt-5">
                                        이때 탄수화물과 단백질을 3:1 비율로 함께 섭취하면 글리코겐 합성을 극대화할 수 있습니다.
                                    </p>
                                    <p class="fc-12 fs-15 fw-700 mt-5">
                                        [탄수화물이 풍부한 식품]
                                    </p>
                                    <p class="fc-3 fs-15">
                                        고구마, 파스타, 통밀빵, 떡, 바나나, 곡물류
                                    </p>
                                </div>
                            </div>
                            <div class="img-box text-align-center mt-20"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                <img src="../../../resources/v1/img/5D_120/5D_120_07.png" alt="고구마, 파스타, 통밀빵, 떡, 바나나, 곡물류 대표 이미지" width="300">
                            </div>

                            <div class="mt-20 list-num c555">
                                <div data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                        style-af-ani: 'opacity:1';"
                                    class="list-item num-04">
                                    <p class="mt-0 mb-0 fs-18 fw-700">비타민D와 오메가3 섭취</p>
                                    <p class="fc-3 fs-15 mt-5">
                                        비타민D와 오메가3 지방산은 근감소증을 퇴치하는 데 도움을 줍니다.
                                    </p>
                                    <p class="fc-12 fs-15 fw-700 mt-5">
                                        [비타민D/오메가3 풍부한 식품]
                                    </p>
                                    <p class="fc-3 fs-15">
                                        - 비타민D: 생선, 달걀, 유제품<br>
                                        - 오메가3: 생선, 견과류
                                    </p>
                                </div>
                            </div>
                            <div class="img-box text-align-center mt-20"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                <img src="../../../resources/v1/img/5D_120/5D_120_08.png" alt="비타민D, 오메가3" width="300">
                            </div>
                            
                            <div class="mt-30 fc-3 fs-15" 
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                    style-af-ani: 'opacity:1';">
                                                    근육 나이가 많아질수록 근육 기능의 감소와 함께 건강 문제가 발생할 가능성이 커집니다.
                            </div>
                            <div class="mt-5 fc-1 fs-15 fw-700" 
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0;', 
                                                    style-af-ani: 'opacity:1';">
                                                    관절 통증에서부터 당뇨병, 심혈관질환 위험률이 높아지게 됩니다.
                            </div>
                        </div>
                    </article>
                    <article class="text-align-center pb-0">
                        <div class="img-box text-align-center mt-30"
                            data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0',
                                                style-af-ani: 'opacity:1'">
                            <img src="../../../resources/v1/img/5D_120/5D_120_09.png" alt="관절 통증에서부터 당뇨병, 심혈관질환 위험률이 높아짐 대표 이미지" width="300">
                        </div>
                        <div class="mt-30">
                            <img src="../../../resources/v1/img/check-blue.png" width="50"
                                    data-animation-type="onscroll"
                                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                                style-af-ani: 'transform: scale(1); opacity:1'">
                            <p class="mt-5 mb-0 fs-16 fc-1"
                                data-animation-type="onscroll"
                                data-animation-infos="style-bf-ani: 'opacity:0',
                                                    style-af-ani: 'opacity:1'">
                                                    근육 나이가 많을수록<br>
                                                    질병 발생 가능성이 커집니다.<br>
                                <span class="fc-12 fs-22 fw-700">
                                    건강한 근육 나이 관리를<br>
                                    이제부터 시작해 보세요.
                                </span>
                            </p>
                        </div>
                    </article>
                </section>
                <!-- s: 컨텐츠 하단 영역-->
                <div class="bg-btm-blue btm-wrap" data-is-not-result-page="false">
                    <!-- 평가영역 -->
                    <section id="feedback-area" class="bg-f4f4f4">
                        <div class="feedback-inner">
                            <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                            <div class="feedback-btn-box">
                                <div class="feedback-btn-box-inner">
                                    <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                                    <label class="feedback-btn good" for="feedback-radio-01">
                                        <span class="blind">좋아요</span>
                                    </label>
                                </div>
                                <div class="feedback-btn-box-inner">
                                    <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                                    <label class="feedback-btn bad" for="feedback-radio-02">
                                        <span class="blind">별로에요</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- 상품영역 -->
                    <div id="ins_view" class="ins_view"></div>

                    <!-- 동의 영역 -->
                    <div class="agree-area white">
                        <div class="all-agree-box" id="allAgreeBox">
                            <label for="chkAll" class="check-style-all">
                                <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                            </label>
                            <div class="flag-point-box eventView">
                                <span class="blind">전체 동의하고 교보문고 3,000 통합포인트 받기!</span>
                            </div>
                        </div>
                        <div class="agree-box" id="personalAgreeBox">
                            <label for="chkAgr1" class="check-style-agr chk_agr_info">
                                <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                            </label>
                            <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
                        </div>
                        <div class="agree-box" id="marketAgreeBox">
                            <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                                <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                            </label>
                            <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
                        </div>
                    </div>
                    <div class="confirm-btn-box">
                        <a class="confirm-btn link_login" id="confirm">
                            확인하기
                        </a>
                    </div>
                    <!-- s: 이벤트 유의사항 -->
                    <div class="info-point-area eventView">
                        <div>이벤트 유의사항</div>
                        <ul class="info-point-list">
                            <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                            <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                            <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                            <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                            <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                            <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                            <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
                        </ul>
                    </div>
                    <!-- e: 이벤트 유의사항 -->
                </div>
                <!-- e: 컨텐츠 하단 영역-->
            </div>
        </div>

        <!-- [S] footer -->
        <footer class="footer_wrapper" data-is-not-result-page="false">
            <div class="footer_body">
                <div class="logo_box">
                    <a id="link_home" class="logo_link">
                            <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
                    </a>
                    <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
                </div>
                
                <address class="footer_info_box">
                    <div class="info_text_multi">
                        <span class="info_text">교보문고</span>
                        <span class="gap">|</span>
                        <span class="info_text">대표이사 : 안병현, 김상훈</span>
                    </div>
                    <span class="info_text">서울특별시 종로구 종로 1</span>
                    <span class="info_text">사업자등록번호 : 102-81-11670</span>
                    <span class="info_text"><b>대표전화 : 1544-9000</b></span>
                    <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
                    <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
                    <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
                    <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
                </address>
                
                <div class="footer_menu_box">
                    <ul class="footer_menu_list">
                        <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                        <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
                    </ul>
                    <ul class="footer_menu_list sub">
                        <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                        <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                        <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                        <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- [E] footer -->
    </div>

    <div class="top-bg-panel-wrapper">
        <div class="top-bg-panel bg-5"></div>
    </div>
</div>
<!-- [E] cont -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                background="transparent"
                style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
        integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
import { main } from "../../../resources/v1/js/mo-main.js";

try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
}
catch(error){
    alert(error);
    alert(error.stack);
}
</script>
</body>
</html>