<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
    <meta property="og:url" content="https://kyobobook.co.kr/"/>
    <meta property="og:title" content="음식에 궁합이 있을까?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
    <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="google-site-verification" content="prj2DeL22S4Og8vBwGDnHP7CLKnU0nop2Qsxsvi4m0c" />
    <link rel="canonical" href="https://life-marketing.kyobobook.co.kr/journey/o4_9B_072">

    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
    <script src="../../../resources/v1/js/ga-utils.js" defer></script>
    <script src="../../../resources/v1/js/GAData.js" defer></script>
    <script src="../../../resources/v1/js/affGAData.js" defer></script>
    <script src="../../../resources/v1/js/GA.js" type="module"></script>

    <title>음식에 궁합이 있을까?</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-382Q01VXYQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-382Q01VXYQ');
</script>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_9B_072 information-type type-b">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a class="go-back-btn" id="goBackBtn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            음식에 궁합이 있을까?
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div>
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />
<input type="hidden" id="srch_kywr_name_d" class="srch_kywr_name_d" th:value="${srch_kywr_name_d}" />
<input type="hidden" id="devices" class="devices" th:value="${devices}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">일상생활</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">내가 자주 먹는 음식에도</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">궁합이 있을까요?</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        같이 먹으면 몸에 좋은 음식도 있지만<br>
                                        건강까지 해치는 음식도 있습니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/9B_072/9B_072_01.gif" class="width-100" alt="음식궁합이란? 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            음식 궁합이란?
                        </h3>
                        <p class="mt-9 fs-14">
                            두 종류의 음식을 같이 먹었을 때 소화 흡수를 도와주거나
                            식품 간에 부족한 영양소를 보충해 준다는 의미입니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20" 
                    data-animation-type="onload"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                    건강하게 해주는 음식 궁합과<br>
                    질병으로 이어질 수 있는<br>
                    안 좋은 음식 궁합에 대해 알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #d95555',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        건강을 해치는 음식 궁합 🤮
                </div>
            </div>
            <div class="mt-20 list-num">
                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-01">
                    <p class="fs-18 fw-700">매운 음식과 우유</p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        우유는 입 안의 매운맛을 중화시키는 데에는 탁월합니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        그러나 문제는 매운 음식은 위벽을 자극하고 우유는 위산 배출을 자극한다는 점입니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        이런 조합은 결국 위산 과다로 위염, 위궤양을 일으킬 수 있습니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        또한 한국인 중 대부분이 유당을 분해하는 락타아제가 부족하기 때문에 매운 음식과 우유가 만나면 설사가 생길 수 있습니다.
                    </p>
                </div>
                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_02.gif" width="200"
                        alt="매운음식과 우유 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-02 mt-30">
                    <p class="mt-5 fs-18 fw-700">게와 감</p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        게는 신선도가 쉽게 떨어져서 세균성 식중독이 발생하기 쉽고 감에 들어 있는 탄닌은 비브리오균의 번식을 높여 소화불량, 식중독을 유발할 수 있습니다.
                    </p>
                </div>
                <div class="text-align-center mt-30">
                    <img src="../../../resources/v1/img/9B_072/9B_072_03.png" width="200"
                        alt="황사: 칼슘, 철분, 말루미늄, 마그네슘 / 미세먼지: 질산염, 암모늄, 황산염, 탄소 화합물, 금속 화합물"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-03 mt-30">
                    <p class="mt-5 fs-18 fw-700">빵과 오렌지 주스</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        오렌지 주스의 산 성분이 빵의 전분 분해를 방해하여 소화불량을 유발할 수 있습니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_04.png" width="200" 
                        alt="빵과 오렌지주스 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-04 mt-30">
                    <p class="mt-5 fs-18 fw-700">토마토와 설탕</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        토마토에는 비타민 B와 무기질이 풍부한데 설탕은 분해하는 비타민 B와 무기질이 필요합니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        토마토와 설탕을 같이 먹으면 몸으로 흡수되어야 할 토마토의 영양분이 설탕 분해에 사용됩니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        따라서 토마토의 비타민 B를 제대로 섭취할 수 없게 됩니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_05.png" width="200" 
                        alt="토마토와 설탕 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-05 mt-30">
                    <p class="mt-5 fs-18 fw-700">우유와 초콜릿</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        우유와 초콜릿은 모두 포화지방산과 콜레스테롤이 많이 들어 있는 음식입니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        두 식품이 결합하면 체내 콜레스테롤 수치를 높여 각종 성인병 유발의 원인이 됩니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_06.png" width="200" 
                        alt="우유와 초콜릿 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-06 mt-30">
                    <p class="mt-5 fs-18 fw-700">장어와 복숭아</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        복숭아의 유기산이 장어의 지방 소화를 방해하여 설사 유발합니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_07.png" width="200" 
                        alt="장어와 복숭아 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>
            </div>

            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="30"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    이 음식들이 위나 장에서 만나는 것은 피해야 합니다.
                </div>
                <div class="fw-700 fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    최소한 같은 끼니에는 같이 먹지 않는 것이 좋고,<br>
                    더 조심한다면 두 끼 이상 간격을 두는 것이 좋겠습니다.
                </div>
            </div>
        </article>
    </section>
    <section class="pb-0" 
            data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        건강에 도움이 되는 음식 궁합 😲
                </div>
            </div>
            <div class="mt-20 list-num">
                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-01">
                    <p class="fs-18 fw-700">감자와 치즈(버터)</p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        감자는 탄수화물과 비타민C가 많지만, 지방은 거의 없습니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        치즈(버터)가 부족한 지방을 보충해 줍니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        단, 열량이 과도하지 않도록 유의해야 합니다.
                    </p>
                </div>
                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_08.gif" width="200"
                        alt="감자와 치즈(버터) 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-02 mt-30">
                    <p class="mt-5 fs-18 fw-700">돼지고기와 새우젓</p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        새우젓에는 단백질과 지방의 소화를 돕는 프로테아제와 리파아제 성분이 들어있어 돼지고기의 소화를 돕습니다.
                    </p>
                    <p class="mt-5 fs-15"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                                        style-af-ani: 'opacity:1'">
                                                        단, 나트륨 섭취가 과도하지 않도록 조심해야 합니다.
                    </p>
                </div>
                <div class="text-align-center mt-30">
                    <img src="../../../resources/v1/img/9B_072/9B_072_09.png" width="200"
                        alt="돼지고기와 새우젓 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0',
                                            style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-03 mt-30">
                    <p class="mt-5 fs-18 fw-700">고구마와 사과</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        고구마는 장내에서 가스를 많이 발생시키는데 사과 껍질에 들어 있는 펙틴 성분이 가스 발생을 막아줍니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_10.png" width="200" 
                        alt="고구마와 사과 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-04 mt-30">
                    <p class="mt-5 fs-18 fw-700">딸기와 우유</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        딸기에는 비타민C가 풍부하지만, 칼슘이 부족합니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        우유는 칼슘을 보완해 주고 딸기의 신맛을 중화시킵니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_11.png" width="200" 
                        alt="딸기와 우유 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-05 mt-30">
                    <p class="mt-5 fs-18 fw-700">고기와 깻잎</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        고기는 단백질이 풍부하지만, 과다 섭취하면 변비의 원인이 되기도 합니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        깻잎에 풍부한 섬유질은 변비 발생을 막아줍니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_12.png" width="200" 
                        alt="고기와 깻잎 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-06 mt-30">
                    <p class="mt-5 fs-18 fw-700">고구마와 김치</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        김치에는 유산균이 많지만, 나트륨도 많습니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        고구마의 섬유질과 칼륨은 김치에 많이 들어 있는 나트륨의 배출을 도와줍니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_13.png" width="200" 
                        alt="고구마와 김치 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                        class="list-item num-07 mt-30">
                    <p class="mt-5 fs-18 fw-700">된장에 부추</p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        된장에는 단백질과 필수 아미노산이 함유되어 있지만 나트륨 또한 많습니다.
                    </p>
                    <p class="mt-5 fs-5"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        부추의 칼륨은 나트륨 배출을 도와주고 된장에 없는 비타민 A, C를 보충해 줍니다.
                    </p>
                </div>

                <div class="text-align-center mt-20">
                    <img src="../../../resources/v1/img/9B_072/9B_072_14.png" width="200" 
                        alt="된장에 부추 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                </div>
            </div>
            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="30"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fs-16 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    올바른 음식궁합으로 맛과 건강을 챙기고,
                </div>
                <div class="fw-700 fs-22 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    질병 발생 요소도 줄이시면 좋겠습니다.
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div id="btm-wrap" class="bg-btm-gray btm-wrap">
        <!-- 평가여역 -->
        <section id="feedback-area" class="bg-983b3b">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="ins_view" class="ins_view"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box" id="allAgreeBox">
                <label for="chkAll" class="check-style-all">
                    <input type="checkbox" name="" id="chkAll" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
                <div class="flag-point-box eventView">
                    <span class="blind">전체 동의하고 교보문고 3,000 통합포인트 받기!</span>
                </div>
            </div>
            <div class="agree-box" id="personalAgreeBox">
                <label for="chkAgr1" class="check-style-agr chk_agr_info">
                    <input type="checkbox" name="typ-all" id="chkAgr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box" id="marketAgreeBox">
                <label for="chkAgr2" class="check-style-agr chk_agr_mkt">
                    <input type="checkbox" name="typ-all" id="chkAgr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
        <div class="confirm-btn-box">
            <a class="confirm-btn link_login" id="confirm">
                확인하기
            </a>
        </div>
        <!-- s: 이벤트 유의사항 -->
        <div class="info-point-area eventView">
            <div>이벤트 유의사항</div>
            <ul class="info-point-list">
                <li>해당 이벤트는 개인정보 제3자 제공 동의 및 마케팅 수신 동의한 분들에 대해서만 1인 1회 참여 가능합니다.</li>
                <li>이미 참여하신 분들은 통합포인트 지급이 불가능합니다.</li>
                <li>본 이벤트는 사전 예고 없이 종료되거나 변경될 수 있습니다.</li>
                <li>교보문고 로그인 후 참여할 수 있습니다.</li>
                <li>지급받은 통합포인트는 변경  및 타인에게 양도 불가합니다.</li>
                <li>통합포인트는 발생일로부터 90일 간 사용 가능합니다.</li>
                <li>통합포인트는 [마이페이지]에서 확인할 수 있습니다.</li>
            </ul>
        </div>
        <!-- e: 이벤트 유의사항 -->
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer id="footer-wrap" class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현, 김상훈</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item" id="li_login"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item" id="li_logout"><a id="link_logout" class="footer_menu_link">로그아웃</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] 로그인 확인 팝업 -->
<div id="poplogin">
    <div class="poplogin-inner">
        <div class="dialog-contents">
            로그인하고<br>맞춤 상품 확인해보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNext">다음에 하기</button>
            <button class="btn-login" id="btnLogin">로그인 하기</button>
        </div>
    </div>
</div>

<!-- [S] 포인트 팝업 -->
<div id="popPoint" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            로그인하고<br>
            교보문고 통합포인트 받아보세요!
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonint">다음에 하기</button>
            <button class="btn-login" id="btnLoginPoint">로그인 하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd01" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPonintEnd01">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd01">확인하기</button>
        </div>
    </div>
</div>

<div id="popPointEnd02" class="com-pop01">
    <div class="com-pop01-inner">
        <div class="dialog-contents">
            아쉽게도<br>
            통합포인트가 소진되었습니다.<br>
            포인트 없이<br>
            맞춤 상품을 확인해보세요.
        </div>
        <div class="dialog-btn">
            <button class="btn-next" id="btnNextPointEnd02">다음에 하기</button>
            <button class="btn-login" id="btnLoginPointEnd02">로그인 하기</button>
        </div>
    </div>
</div>
<!-- [E] 포인트 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="cnst_personal_view"></div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="cnst_market_view"></div>
<!-- e: 마케팅 수신 동의 팝업 -->

<!-- 제3자 제공 동의 유도 토스트 메세지 -->
<div class="toast_wrap_re">
    <span class="toast_message">제3자 제공 동의 시에만<br>상품 안내를 받아 볼 수 있습니다.</span>
</div>
<!-- [E] pop -->

<!-- [S] 포인트 플로팅 UI -->
<div id="btnPointWrap" class="btn-point-wrap">
    <div class="point-txt scrollToEv">
        <span>교보문고 통합포인트 <b>3,000P</b> 받기!</span>
    </div>
    <button type="button" class="btn-fixed-point scrollToEv">POINT</button>
</div>
<!-- [E] 포인트 플로팅 UI -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
        background="transparent"
        style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
    integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script type="module">
    import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
    import { main } from "../../../resources/v1/js/mo-main.js";
    
    try {
        // animation setting
        AnimationManager.loadElementsToAnimate();
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>