<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <title>ADHD 대한 오해와 진실</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_1C_104 fact-chk type-c">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header"> 
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/icon/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
        <h1>
            ADHD 대한 오해와 진실
        </h1>
        <div>
            <a id="link_share">
                <span class="blind">공유하기</span>
                <img src="../../../resources/v1/img/icon/ico-share.png" alt="공유하기 버튼">
            </a>
        </div> 
    </nav>
</header>
<!-- [S] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-10">
    <div class="top-area">
        <article class="fc-white">
            <span class="tag opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자녀</span>
            <div class="mt-10">
                <h1 class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">ADHD 제대로 알기,
                </h1>
                <h1 class="strong-underline opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-250%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'700',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                    오해와 진실
                </h1>
            </div>
            <div class="mt-10 opacity-0 mb-30"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateY(-400%);',
                                    style-af-ani: 'transform:',
                                    start-ms:'900',
                                    transition-props:'[opacity,transform]',
                                    transition-duration:'0.8s'">
                        <span class="sub-tit">
                            세부적인 면에서 면밀한 주의가 필요하거나,<br>
                            외부 자극으로 쉽게 산만해지나요?
                        </span>
            </div>
            <div id="swiper-container" class="swiper-container opacity-0 fact-check"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100%);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-banner-wrapper first-slide">
                            <img src="../../../resources/v1/img/13C_031-img-01.gif" width="315px">
                            <div class="title" >
                                <div class="half-line bg-black"></div>
                                <div class="title-msg bg-white">
                                    <h3 class="fw-700 fc-2">
                                        유난히 산만하고<br>
                                        집중력이 떨어지는 아이,<br>
                                        ADHD인가요?
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_01.png" width="100" class="mt-10"
                                alt="팩트체크">
                            <p class="fs-18 fc-21 fw-700 mt-10">ADHD란?</p>
                            <p class="fs-15 fc-2 mt-5">
                                지속적으로 주의력이 부족하여 산만하고<br>
                                과잉행동, 충동성 등이 나타나는 만성적인<br>
                                신경발달장애 질환입니다.<br>
                                특히 소아 정신과 영역에서 가장 흔한 질환 중<br>
                                하나여서 아동 ADHD로도 많이 언급합니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_02.png" width="160px" alt="산만하고 주의력이 부족 대표 이미지">
                            <h3 class="mt-20 mb-0 section-no fw-700">01</h3>
                            <h3 class="fw-700 fc-2">
                                산만하고 주의력이 부족한 게<br>
                                ADHD인가요?
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_03.png" width="315"
                                alt="환자 수, 2018년 59,275 / 2019년 71.362 / 2020년 78,958 / 2021년 99,488">
                            <p class="fs-15 fc-21 fw-700 mt-10">
                                산만하고 주의력이 부족해도 자극에<br>
                                선택적으로 주의 집중하기도 하고,<br>
                                부모의 지적에 개선이 되는 경우도 있습니다.
                            </p>
                            <p class="fs-13 fc-2 mt-5">
                                하지만 지속적으로 산만하고 개선되지<br>
                                않는다면 ADHD 일 수 있습니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_04.png" width="160px" alt="부모 양육이 ADHD에 영향을 준다? 대표 이미지">
                            <h3 class="mt-20 mb-0 section-no fw-700">02</h3>
                            <h3 class="fw-700 fc-2">
                                부모 양육이 ADHD에<br>
                                영향을 준다?
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_05.png" width="160"
                                alt="유전자에 의한 뇌 기능 차이 대표 이미지">
                            <p class="fs-15 fc-21 fw-700 mt-10">
                                많은 연구 결과에 의하면 ADHD는 대부분(80%)<br>
                                유전자에 의한 뇌 기능 차이로 발생한다고 합니다.
                            </p>
                            <p class="fs-13 fc-2 mt-5">
                                우리 뇌에서 관제탑 역할을 하는 전두엽이 다소<br>
                                늦게 발달하면서 다양한 ADHD 증상이 나타납니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_06.png" width="160px" alt="ADHD는 성인으로 성장하면 없어진다? 대표 이미지">
                            <h3 class="mt-20 mb-0 section-no fw-700">03</h3>
                            <h3 class="fw-700 fc-2">
                                ADHD는 성인으로<br>
                                성장하면 없어진다?
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_07.png" width="160"
                                alt="아동기의 ADHD의 약 90%는 성인이 된 이후에도 잔존 증상이 계속됩니다. 대표 이미지">
                            <p class="fs-15 fc-21 fw-700 mt-10">
                                아동기의 ADHD의 약 90%는 성인이 된<br>
                                이후에도 잔존 증상이 계속됩니다.
                            </p>
                            <p class="fc-3 fs-12 mt-5">[출처: 미국 정신의학협회]</p>
                            <p class="fs-13 fc-2 mt-5">
                                제때 치료하지 못하고 성인이 되면 우울·불안 등의 질환을 겪거나 중독, 자살 등 더 큰 문제로 이어질 수 있습니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_08.png" width="160px" alt="ADHD 치료제는 마약이다? 대표 이미지">
                            <h3 class="mt-20 mb-0 section-no fw-700">04</h3>
                            <h3 class="fw-700 fc-2">
                                ADHD 치료제는<br>
                                마약이다?
                            </h3>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                            <img src="../../../resources/v1/img/1C_104/1C_104_09.png" width="160"
                                alt="마약류로 관리되는 것이지 마약이 아닙니다. 대표 이미지">
                            <p class="fs-15 fc-21 fw-700 mt-10">
                                마약류로 관리되는 것이지 마약이 아닙니다.
                            </p>
                            <p class="fs-13 fc-2 mt-5">
                                또한 약물치료 시 전문의의 모니터링을 통해<br>
                                적합한 약물의 용량과 용법이 처방되기 때문에<br>
                                중독과 오남용 등의 위험은 거의 없습니다.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-banner-wrapper">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination mt-10"></div> 
            </div>

            <div data-is-not-result-page="false" id="nextDiv">
                <div class="mb-30">
                    <img class="mt-30" src="../../../resources/v1/img/check-bg-white.svg" width="50px" id="animation01"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani:'transform:scale(3.3); opacity:0;',
                                            style-af-ani:'transform:scale(1); opacity:1;',
                                            start-ms:'100'">
                    <p class="mt-5 mb-5" id="animation02"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani:'transform:translateY(-40px); opacity:0;',
                                            style-af-ani:'transform:translateY(0px); opacity:1;',
                                            start-ms:'300'">
                                            혹시 우리 아이도 ADHD가<br>
                                            아닌지 걱정된다면,
                    </p> 
                    <div class="fw-700 fs-22" id="animation03"
                        data-animation-type="onresult"
                        data-animation-infos="style-bf-ani:'transform:translateY(-80px); opacity:0;',
                                            style-af-ani:'transform:translateY(0px); opacity:1;',
                                            start-ms:'500'">
                                            아래의 항목들을<br>
                                            살펴보시기 바랍니다.
                    </div>
                </div>

                <div class="animation-vertical-box"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                        style-af-ani: 'height: 150px',
                                        scroll-duration: 100',
                                        trigger-hook: '0.7'">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-is-not-result-page="false"
            data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color:#6a50c2;', style-af-ani: 'background-color:#5043A0;'">
        <article class="fc-white text-align-left pb-0">
            <p class="fs-3 mt-25"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'transform:translateX(40px); opacity:0',
                                    style-af-ani: 'transform:translateX(0px); opacity:1'">
                                    [운동중독 자가진단]
            </p>
            <div class="mt-20">
                <div class="bull-list-chk fs-15"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    학업이나 과제 활동을 할 때 집중하지 못해 실수가 잦다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    물건을 자주 잃어버린다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    수업이나 놀이를 할 때 집중을 유지하지 못한다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    정당한 지시에 잘 따르지 않고, 과제 등 해야 할 일을 제시간에 끝내지 못한다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    과제나 활동을 체계적으로 해내는 데 어려움이 있다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    지속적인 정신적 노력을 요하는 활동을 피하고 저항 하는 경우가 있다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    타인이 이야기할 때 듣지 않는 것처럼 보인다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    외부 자극에 의해 쉽게 산만해진다.
                </div>
                <div class="bull-list-chk fs-15 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    일상 활동을 잘 잊어버린다.
                </div>
                <p class="text-align-right mt-5 fs-12"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    [출처: 한국판 SNAP-IV 설문지]
                </p>
            </div>
            <div class="text-align-center mt-30">
                <img
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform:translateX(40px); opacity:0',
                                            style-af-ani: 'transform:translateX(0px); opacity:1'"
                    src="../../../resources/v1/img/1C_104/1C_104_10.png" width="200">
            </div>
            <div class="mt-30 text-align-center">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50px"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                        style-af-ani: 'opacity:1'">
                    6개 이상 해당될 경우<br>
                    ADHD 의심이 됩니다.
                </div>
                <p class="mt-5 fs-15"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0',
                                    style-af-ani: 'opacity:1'">
                    정확한 진단은 정신과 전문의의 상담이 필요합니다.
                </p>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <section id="feedback-area" class="bg-54409b">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="feedback-radio-01">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/icon/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/icon/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- 상품영역 -->
        <div id="output"></div>

        <!-- 동의 영역 -->
        <div class="agree-area">
            <div class="all-agree-box">
                <label for="chk-all" class="check-style-all">
                    <input type="checkbox" name="" id="chk-all" onclick="chkall();"><i></i><span>전체동의</span>
                </label>
            </div>
            <div class="agree-box mt-10">
                <label for="chk-agr1" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr1"><i></i><span>개인정보 제3자 제공 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('personalPop');">보기</a>
            </div>
            <div class="agree-box">
                <label for="chk-agr2" class="check-style-agr">
                    <input type="checkbox" name="typ-all" id="chk-agr2"><i></i><span>마케팅 수신 동의(선택)</span>
                </label>
                <a href="javascript:void(0);" onclick="popOpen('marketPop');">보기</a>
            </div>
        </div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- [S] footer -->
<footer class="footer_wrapper">
    <div class="footer_body">
        <div class="logo_box">
            <a id="link_home" class="logo_link">
                    <img src="../../../resources/v1/img/icon/logo-foorer.png" alt="KYOBO 교보문고" />
            </a>
            <button type="button" class="btn_more_body"><span class="text">사업자정보</span><span class="ico_arw"></span></button>
        </div>
        
        <address class="footer_info_box">
            <div class="info_text_multi">
                <span class="info_text">교보문고</span>
                <span class="gap">|</span>
                <span class="info_text">대표이사 : 안병현</span>
            </div>
            <span class="info_text">서울특별시 종로구 종로 1</span>
            <span class="info_text">사업자등록번호 : 102-81-11670</span>
            <span class="info_text"><b>대표전화 : 1544-9000</b></span>
            <span class="info_text">FAX : 0502-987-5711(지역번호 공통)</span>
            <span class="info_text"><span class="text_inner">서울특별시 통신판매업신고번호 : 제 653호</span></span>
            <a id="link_companyChk" class="btn_footer_link">사업자정보확인</a>
            <a id="link_paychk" class="btn_footer_link">구매안전서비스</a>
        </address>
        
        <div class="footer_menu_box">
            <ul class="footer_menu_list">
                <li class="footer_menu_item"><a id="link_login" class="footer_menu_link">로그인</a></li>
                <li class="footer_menu_item"><a id="link_join" class="footer_menu_link">회원가입</a></li>
            </ul>
            <ul class="footer_menu_list sub">
                <li class="footer_menu_item"><a id="link_provision" class="footer_menu_link">이용약관</a></li>
                <li class="footer_menu_item privacy"><a id="link_privacy" class="footer_menu_link">개인정보처리방침</a></li>
                <li class="footer_menu_item"><a id="link_youth" class="footer_menu_link">청소년보호정책</a></li>
                <li class="footer_menu_item"><a id="link_chargeperson" class="footer_menu_link">협력사여러분</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- [E] footer -->

<!-- dim -->
<div class="dim"></div>

<!-- [S] 공유하기 팝업 -->
<div id="popShare" class="dialog_wrap">
	<button type="button" class="btn_dialog_close" data-dialog-close>
        <span class="ico_dialog_close"></span><span class="blind">닫기</span>
    </button>
	<!-- dialog_header -->
	<div class="dialog_header">
		<h2 class="dialog_title">공유하기</h2>
	</div>
	<!-- //dialog_header -->
	<!-- dialog_contents -->
	<div class="dialog_contents">
		<ul class="sns_share_list">
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="ka-share-btn">
					<span class="ico_sns kakao"></span>
					<span class="sns_text">카카오톡</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="fb-share-btn">
					<span class="ico_sns facebook"></span>
					<span class="sns_text">페이스북</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="msg-share-btn">
					<span class="ico_sns message"></span>
					<span class="sns_text">메세지</span>
				</a>
			</li>
			<li class="list_item">
				<a href="javascript:void(0)" class="btn_sns_share" id="more-share-btn">
					<span class="ico_sns more"></span>
					<span class="sns_text">더보기</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //dialog_contents -->
	<!-- dialog_footer -->
	<div class="dialog_footer">
		<div class="sns_share_link_box">
			<span class="sns_share_link" id="url-copy-span"></span>
			<button type="button" class="btn_share_link" id="url-copy-btn">URL 복사</button>
		</div>
	</div>
	<!-- //dialog_footer -->
</div>
<!-- URL공유 토스트 팝업 -->
<div class="toast_wrap_share">
    <span class="toast_message">URL이 복사되었습니다.</span>
</div>
<!-- [E] 공유하기 팝업 -->

<!-- [S] pop -->
<!-- s: 개인정보 제3자 제공동의 팝업 -->
<div id="personalPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            개인정보 제3자 제공 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('personalPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1">교보생명 보험 상품 서비스 이용을 위한</p>
                <p class="fs-20 fc-1 fw-700">제3자 정보제공 동의 안내</p>
            </div>
            <div class="dl-box mt-20">
                <dl>
                    <dt>제공 받는 자</dt>
                    <dd>교보생명보험(주)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 목적</dt>
                    <dd>교보문고 이용 고객 행태 자료 분석 및 보험 상품·서비스 소개</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>제공 항목</dt>
                    <dd>교보문고ID, 이름, 휴대전화번호, 성별, 생년월일, 본인확인(CI), 이메일, 교보문고 회원번호, 최근 2년 월별 통합포인트(적립, 차감, 잔여), 최근 2년 월별 구매도서 데이터(인터넷 중분류, 도서명, 구입권수, 구입액) , 교보문고 이용행동(입력 검색어, 퍼널 별 최종 단계, 교보생명 배너 클릭 여부, 노출 콘텐츠 ID, 콘텐츠 평가)</dd>
                </dl>
            </div>
            <div class="dl-box mt-10">
                <dl>
                    <dt>보유 및 이용 기간</dt>
                    <dd>동의 철회 시까지 (단, 관계법령에 따름)</dd>
                </dl>
            </div>
            <div class="gray-box mt-40">
                <dl>
                    <dt>동의를 거부하는 경우에 대한 안내</dt>
                    <dd>본 동의를 거부하실 수 있으나, 거부하는 경우에는 교보생명보험(주) 보험·서비스 소개 제공이 제한될 수 있습니다.</dd>
                </dl>
            </div>
            <div class="gray-box mt-5">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">      
                <a href="javascript:void(0);" class="btn" onclick="popClose('personalPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 개인정보 제3자 제공동의 팝업 -->

<!-- s: 마케팅 수신 동의 팝업 -->
<div id="marketPop" class="pop-area" style="display: none;">
    <div class="pop-inner">
        <div class="pop-header">
            마케팅 수신 동의 (선택)
            <a href="javascript:void(0);" class="btn-close" onclick="popClose('marketPop');">
                <img src="../../../resources/v1/img/icon/ico-close-pop.png" alt="닫기">
            </a>
        </div>
        <div class="pop-cont">
            <div>
                <p class="fs-15 fc-1 fw-500">교보생명보험(주) 보험 상품·서비스 소개 등 다양한 정보를 제공합니다.</p>
                <p class="fs-15 fc-1 fw-500 mt-5">고객은 수신 동의 철회를 통하여 언제든지 수신을 거부할 수 있습니다.</p>
            </div>
            <div class="fs-15 fc-1 fw-700 mt-15">
                이에 동의하시겠습니까?
            </div>
            <div class="chk-area mt-15">
                <div class="agree-box">
                    <label for="chk-sms">
                        <input type="checkbox" name="" id="chk-sms"><i></i><span>SMS(메신저 등)</span>
                    </label>
                </div>
                <div class="agree-box">
                    <label for="chk-mail">
                        <input type="checkbox" name="" id="chk-mail"><i></i><span>이메일</span>
                    </label>
                </div>
            </div>
            <div class="gray-box mt-50">
                <dl>
                    <dt>동의 철회를 위한 안내</dt>
                    <dd>본 동의를 하시더라도 당사 고객센터(1544-1900)를 통해 동의를 철회하실 수 있습니다.</dd>
                </dl>
            </div>
        </div>
        <div class="pop-footer">
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn" onclick="popClose('marketPop');">동의안함</a>
                <a href="javascript:void(0);" class="btn agree">동의</a>
            </div>
        </div>
    </div>
</div>
<!-- e: 마케팅 수신 동의 팝업 -->
<!-- [E] pop -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="../../../resources/v1/js/open_Customer-Journey.js"></script>
<script type="module">
    import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
    import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

    try {
        window.onload = function() {
            // animation setting
            AnimationManager.loadElementsToAnimate();
        }
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>