<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/customerJourney.css">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/swiper-bundle.min.css">
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <title>출산 후, 왜 이렇게 우울할까요?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_6B_019 information-type type-a bg-9 fc-white">
<!-- [S] header-->
<nav class="bg-white">
    <a href="javascript:history.back()" class="go-back-btn">
        <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg">
    </a>
    <div class="fc-1">
        출산 후, 왜 이렇게 우울할까요?
    </div>
    <div></div>
</nav>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div class="cont-wrap">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자녀</span>
                <div>
                    <h1 class="fw-400 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">금쪽같은 내 아이를 낳았는데,</h1>
                    <h1 class="fw-700 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">
                        나는 왜 이렇게 우울할까요?
                    </h1>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                    10달을 정성껏 품고 출산하면<br>
                    마냥 행복할 줄 알았는데...
                </div>
            </div>
            <div class="main-banner-wrapper cneter-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/6B_019_img-01.gif">
                    <div class="mt-10">
                        <h3 class="fw-700">아이를 낳고 이런 생각을 하는<br>
                            산모는 몇 명이나 될까요?</h3>
                    </div>
                </div>
            </div>

            <div class="mt-35">
                <h2 class="fw-700 mb-20">지금부터<br>
                    다른 엄마들은 어떻게 생각하는지<br>
                    함께 알아볼게요.</h2>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                        style-af-ani: 'height: 100px',
                                        scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #c34c4c',
                                scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'"
                >놀라지 마세요! 50% 이상입니다. </h1>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">보건복지부 2021 조사에 따르면 산후 우울감을 느끼는<br>산모는 50.3%라고 합니다.</p>
                <p class="mt-5 mb-0 fs-5">2명 중 1명이 이런 마음을 경험합니다.</p>
            </div>

            <div class="text-align-right mt-20">
                <img src="../../../resources/v1/img/6B_019_img-02.gif" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                    style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
            <div class="mt-30">
                <h5 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    대부분의 산모는 출산 후 2주 정도 우울감을 겪습니다.
                </h5>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    그러나 그 후에도 이러한 증상이 지속되거나 더 심각해지는 분들이 계시죠.</p>
                <div class="cards-box mt-20">
                    <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0; transform: translateX(getOffsetFromLeftEdge(px, *-1.5))',
                                                style-af-ani: 'opacity:1; transform: translateX(0px)'">
                        <div>
                            <img src="../../../resources/v1/img/6B_019_img-03.svg">
                        </div>
                        <span>
                            자살충동을<br>
                            느끼는 사람
                        </span>
                    </div>
                    <div data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                        <div>
                            <img src="../../../resources/v1/img/6B_019_img-04.svg">
                        </div>
                        <span>산후 우울증</span>
                    </div>
                    <div data-animation-type="onscroll"
                            data-animation-infos="style-bf-ani: 'opacity:0; transform: translateX(getOffsetFromRightEdge(px, *1.5))',
                                            style-af-ani: 'opacity:1; transform: translateX(0px)'">
                        <div>
                            <img src="../../../resources/v1/img/6B_019_img-05.svg">
                        </div>
                        <span>정신질환을<br>앓으시는 분</span>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                style-af-ani: 'background-color: #ad4444',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">죄책감을 느끼지 마세요.<br>나 때문이 아니라, 호르몬 때문이에요!</h1>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <h5 class="mt-5 mb-0 fw-700">산후우울증은 생물학적, 심리적, 사회적 요소들이 서로 얽혀져서 일어납니다.</h5>
                <p class="mt-5 mb-0 fs-5"> 특히 여성호르몬인 에스트로겐이 임신기간 동안 아주 많이 증가했다가 출산과 동시에 급감하게 되는데, 이러한 호르몬 변화가 산후우울증에 관여한다는 의견이 제시되고 있습니다.</p>
            </div>
            <div class="mt-20">
                <img src="../../../resources/v1/img/6B_019_img-06.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                style-af-ani: 'background-color: #983b3b',
                                scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        호르몬 문제는 혼자 해결하기<br>어렵습니다.
                </h1>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">나의 의지나 정신력으로 참다간 마음의 병을 더 키울 수도 있습니다.</p>
            </div>
            <div class="text-align-right mt-25">
                <img src="../../../resources/v1/img/6B_019_img-07.svg" width="200"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
            <div class="mt-55">
                <h5 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    산후우울증은 전문가의 상담이 반드시 필요한 질병입니다.
                </h5>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    일시적인 현상이 아니라 지속적으로 다양한 우울 증상을 동반하면서 나타나게 됩니다.</p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    특히 산후 우울증을 앓았던 사람의 약 85%가 향후 우울증으로 발전할 가능성이 있다고 합니다.</p>
                <div class="mt-25">
                    <img src="../../../resources/v1/img/6B_019_img-08.svg" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                    style-af-ani: 'background-color: #823333',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                <h1 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'"
                >산후 우울증 체크 리스트</h1>
            </div>
            <div class="mt-30">
                <p class="mt-5 mb-0 fs-5 checklist" id="test"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    감정 기복이 심하고 작은 일에 쉽게 동요한다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    다른 사람과 얘기하고 싶지 않다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    어떤 일에도 의욕이 생기지 않는다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    평소 좋아하던 일도 하고 싶지 않다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    특별한 이유 없이 몸 상태가 좋지 않다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    사소한 일에도 울적해져 눈물이 자주 난다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    누구도 나를 알아주지 않는 것 같은 기분이 든다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    마음이 뒤숭숭하고 안정되지 않는다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    막연한 불안감 때문에 초조하다.</p>
                <p class="mt-5 mb-0 fs-5 checklist"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1', scroll-duration: '100', trigger-hook: '0.8'">
                    <img src="../../../resources/v1/img/6B_019_img-09.svg" width="24px" height="24px" class="pd-r-5">
                    안 좋은 일이 계속 일어날 것 같은 생각이 든다.</p>
            </div>
            <div class="mt-20">
                <h5 class="fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    산후우울증 체크결과
                </h5>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    위 증상이 있다면 전문상담을 권하며, 적극적인 치료로 건강한 마음을 찾을 수 있습니다.</p>
                <div class="text-align-right mt-20">
                    <img src="../../../resources/v1/img/6B_019_img-10.svg" width="200"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0', style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
            </div>
            <div class="mt-30 pd-bt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">

                <h1 class="fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    엄마의 마음을 튼튼하게!<br>
                    아이의 성장도 건강하게!
                </h1>
                <p class="fs-4 mt-5 mb-0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    우리 아이를 위한 보장도 든든하게 챙겨보세요.
                </p>
            </div>
        </article>
    </section>
    <!--콘텐츠 평가영역-->
    <section id="feedback-area">
        <article class="text-align-center fc-white">
            <h3 class="fw-700 text-align-left fc-white">콘텐츠에 대해 평가해주세요.</h3>
            <div class="feedback-btn-box mt-10 text-align-center">
                <div class="feedback-btn-box">
                    <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                    <label class="feedback-btn" for="feedback-radio-01">
                        <img src="../../../resources/v1/img/ico-60-feedback-good-active.svg" width="60">
                        <div class="feedback-msg mt-10 fw-700">완전 좋았어요!</div>
                    </label>
                </div>
                <div class="vertical-line mb-15"></div>
                <div class="feedback-btn-box">
                    <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                    <label class="feedback-btn" for="feedback-radio-02">
                        <img src="../../../resources/v1/img/ico-60-feedback-bad-active.svg" width="60">
                        <div class="feedback-msg mt-10 fw-700">그저 그랬어요...</div>
                    </label>
                </div>
            </div>
        </article>
    </section>
</div>
<!-- [E] cont -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<script src="../../../resources/v1/js/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script></body>
<script src="../../../resources/v1/js/Customer-Journey.js"></script>
<script>
    try {
        //애니메이션 설정 로딩
        AnimationManager.loadElementsToAnimate();

        //컴포넌트 이벤트 및 기본설정
        EventProcessor.initSetting({
            contentsId: '6B_019',  //콘텐츠id
            linkInfoForInsurance: {
                //상품 링크 url
                url: 'https://www.kyobo.com/dgt/web/dtp/insurance-detail?isPdtCd=1000948&evcode=DCJ_MO',
                //상품명
                name: '(무)교보금쪽같은내아이보험(갱신형)Ⅱ[DM]',
                //상품 이미지 url
                imgUrl: '../../../resources/v1/img/img-product-svg-child-care.svg',
                //상품 설명
                explain: '내 아이를 위한 금쪽같은 어린이보험',
                //심의필
                certificationMsg: '생명보험협회 심의필 제 2022-05464호 (2022-12-27 ~ 2023-12-26)'
            },
            linkInfoForService: {
                //부가서비스 링크 url
                url: 'https://www.kyobo.com/dgt/web/product/healthChild-service',
                //부가서비스명
                name: '교보어린이헬스케어서비스',
                //부가서비스 이미지 url
                imgUrl: '../../../resources/v1/img/img-service-svg-child-healthcare.svg',
                //부가서비스 설명
                explain: '임신부터 출산, 육아까지 알찬 서비스'
            }
        });
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>