<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#fff">

  <!-- SNS 공유하기 (카카오, 페이스북, 메세지) -->
  <meta property="og:url" content="https://kyobobook.co.kr/"/>
  <meta property="og:title" content="어떤 고등학교가 잘 맞을까요?"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_logo_kyobo@2x.png"/>
  <meta property="og:description" content="교보문고 사이트에서 현재 진행하고 있는 자산관리, 자녀, 질병, 건강관리, 일상생활, 자기개발의 꿀팁을 한눈에 확인해보세요."/>
  
  <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
  <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
  <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import2.css">

  <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
  <script src="../../../resources/v1/js/common.js"></script>
  <script src="../../../resources/v1/js/link.js"></script>

  <script src="../../../resources/v1/js/jquery-1.8.2.js"></script>
  <script src="../../../resources/v1/js/ga-utils.js"></script>

  <title>"너는 착한 아이잖아"</title>
</head>
<script>
  document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_1B_067 information-type type-b">
<!--GA 파라미터-->
<input type="hidden" id="event_name" value="DBS_캠페인_MO" />
<input type="hidden" id="ep_button_area" value="자녀_초중등_가스라이팅_상세" />
<!-- [S] skip-nav -->
<div class="skip-nav">
  <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
  <nav class="bg-white">
    <div class="link_back">
      <a href="javascript:history.back()" class="go-back-btn">
        <span class="blind">뒤로가기</span>
        <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
      </a>
    </div>
    <h1>
      "너는 착한 아이잖아"
    </h1>
    <div>
      <a id="link_home">
        <span class="blind">홈으로</span>
        <img src="../../../resources/v1/img/ico-home.png" alt="홈으로 버튼">
      </a>
    </div>
  </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
  <div class="top-area">
    <article class="text-align-center">
      <div>
                <span class="tag mb-10 opacity-0 fc-13"
                      data-animation-type="onload"
                      data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">자녀</span>
        <div>
          <div class="fw-400 fs-22 opacity-0"
               data-animation-type="onload"
               data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">“너는 원래 착한 아이잖아”</div>
          <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
               data-animation-type="onload"
               data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">어릴 때 이런 말 들어 보셨나요?</div>
        </div>
        <div class="opacity-0"
             data-animation-type="onload"
             data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
          ‘사랑’으로 포장된 ‘가스라이팅’<br>
          자녀는 점점 병든다.
        </div>
      </div>
      <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
           data-animation-type="onload"
           data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
        <div class="banner-inner">
          <img src="../../../resources/v1/img/1B_067_01.gif" class="width-100" alt="너는 착한 아이잖아 대표 이미지">
          <div class="mt-10">
            <h3 class="fw-700">
              혹시 내 아이에게 내 부모처럼<br>
              말하고 있는 모습에 놀라지 않으셨어요?<br>
              그렇다면 정독해주세요!
            </h3>
          </div>
        </div>
      </div>

      <div class="mt-40">
        <div class="fs-20 fw-700 mb-20"
             data-animation-type="onload"
             data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
          지금부터<br>
          가스라이팅에 대해<br>
          알아볼게요.
        </div>
        <div class="animation-vertical-box"
             style="height: 0"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
          <div class="animation-vertical"></div>
        </div>
      </div>
    </article>
  </div>
  <section data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
    <article class="text-align-left">
      <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
        <div class="fw-700 fs-22"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          가스라이팅이란 무엇일까요? 🤔
        </div>
      </div>
      <div>
        <p class="mt-5 fs-5"
           data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          타인을 교묘하게 세뇌하는 행위로, 판단력을 잃게 만들어 정신적으로 학대하는 행위입니다.
        </p>
        <p class="mt-5 fs-5"
           data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          이에 따라 피해자는 자존감이 낮아지며 가해자의 생각에 동조하는 상태가 됩니다.
        </p>
        <p class="mt-5 fs-5"
           data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          주로 가족이나 연인 사이 등 친밀도가 높게 형성된 관계에서 자주 발생합니다.
        </p>
        <p class="mt-5 fs-5"
           data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          지속적이고 반복적인 것이 가스라이팅의 특징이기 때문입니다.
        </p>
        <div class="text-align-right mt-20">
          <img src="../../../resources/v1/img/1B_067_02.gif" width="200"
               alt="가스라이팅이란 무엇일까요? 대표 이미지"
               data-animation-type="onscroll"
               data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                            style-af-ani: 'margin-right: 0px; opacity:1'">
        </div>
      </div>
    </article>
  </section>
  <section data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
    <article class="text-align-left">
      <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
        <div class="fw-700 fs-22"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">내가 받았던 가스라이팅 😱</div>
      </div>
      <div data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
        <p class="mt-5 mb-0 fs-5">특히 어릴 적 부모의 가스라이팅으로 인한 상처는 어른이 되어서도 마음속에 남아 삶에 다양한 영향을 줍니다.</p>
      </div>
      <div data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
        <p class="mt-5 mb-0 fs-5">어릴 때 부모에게 들었던 말로 힘들었던 기억과 상처를 곱씹으며 속상해하고 있으신가요?</p>
      </div>
      <div data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
        <p class="mt-5 mb-0 fs-5">이제 우리 아이에게는 그러지 않겠다고 다짐하고 상처를 끊어 내야 합니다.</p>
      </div>
      <div class="text-align-left mt-20">
        <img src="../../../resources/v1/img/1B_067_03.png" width="200"
             alt="내가 받았던 가스라이팅 대표 이미지"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
      </div>
    </article>
  </section>
  <section data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
    <article class="text-align-left">
      <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
        <div class="fs-22 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          가스라이팅,<br>
          어떻게 일어나는 걸까요? 😥
        </div>
      </div>
      <div class="mt-20 list-num">
        <div data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
             class="list-item num-01">
          <p class="fs-18 fw-700">아이 탓을 합니다.</p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            아이를 통제하기 위해 온갖 이유로 아이에게 죄책감을 심어 줍니다.
          </p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            본인의 감정을 아이 탓으로 말하는 때가 있습니다.
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “다 네가 좋아지라고 하는 말이야.”
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “너 시험 못 봐서 엄마가 너무 속상해.”
          </p>
        </div>
        <div class="text-align-center mt-30">
          <img src="../../../resources/v1/img/1B_067_04.png" width="200"
               alt="아이 탓을 합니다. 대표 이미지"
               data-animation-type="onscroll"
               data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                            style-af-ani: 'margin-left: 0px; opacity:1'">
        </div>

        <div data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
             class="list-item num-02 mt-30">
          <p class="mt-5 fs-18 fw-700">아이를 과소평가합니다.</p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            아이가 하는 모든 행동, 말, 선택을 무시하고 비난합니다.
          </p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            아이의 재능이나 취미를 과소평가하고 안 좋은 것으로만 바라봅니다.
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “소설책 읽는 게 공부하는 데 무슨 도움이 된다고 매일 소설책만 읽고 있니!”
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “넌 이것 말고는 할 줄 아는 게 없니?”
          </p>
        </div>
        <div class="text-align-center mt-30">
          <img src="../../../resources/v1/img/1B_067_05.png" width="200"
               alt="아이를 과소평가합니다. 대표 이미지"
               data-animation-type="onscroll"
               data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                            style-af-ani: 'margin-right: 0px; opacity:1'">
        </div>

        <div data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
             class="list-item num-03 mt-30">
          <p class="mt-5 fs-18 fw-700">아이의 감정을 중요시하지 않습니다.</p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            아이가 원하는 반응을 보이지 않을 때 ‘민감한 아이’라고 치부하며 자녀의 감정을 차단하거나 무시하는 경우가 많습니다.
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “넌 지나치게 감정적이야.”
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “뭐가 무서워~ 다른 애들도 다 하는데.”
          </p>
        </div>
        <div class="text-align-center mt-30">
          <img src="../../../resources/v1/img/1B_067_06.png" width="200"
               alt="아이의 감정을 중요시하지 않습니다. 대표 이미지"
               data-animation-type="onscroll"
               data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                            style-af-ani: 'margin-left: 0px; opacity:1'">
        </div>

        <div data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
             class="list-item num-04 mt-30">
          <p class="mt-5 fs-18 fw-700">자녀를 통제하고 고립시킵니다.</p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            가스라이팅을 하는 부모는 자녀를 통제하고 자기가 시키는 대로 따르기를 바랍니다.
          </p>
          <p class="mt-5 fs-15"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            자녀를 사회적으로 고립시키고 타인과의 관계를 제한하려고 합니다.
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “엄마는 너 없으면 죽는다.”
          </p>
          <p class="mt-5 fs-15 fw-700"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                            style-af-ani: 'opacity:1'">
            “엄마 말을 들어야 해, 세상은 위험해”
          </p>
        </div>
        <div class="text-align-center mt-30">
          <img src="../../../resources/v1/img/1B_067_07.png" width="200"
               alt="자녀를 통제하고 고립시킵니다. 대표 이미지"
               data-animation-type="onscroll"
               data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                            style-af-ani: 'margin-right: 0px; opacity:1'">
        </div>
      </div>
    </article>
  </section>
  <section data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                style-af-ani: 'background-color: #823333',
                                scroll-duration: 300;">
    <article class="text-align-left pb-0">
      <div class="title-msg mt-10">
                <span class="section-no fw-700"
                      data-animation-type="onscroll"
                      data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
        <div class="fw-700 fs-22"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
          그렇다면 아이와<br>
          어떻게 대화해야 할까요? 📣
        </div>
      </div>
      <!-- 230626 data-animation-infos 수정 -->
      <p class="mt-5 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
        가스라이팅을 하는 부모는 아이가 자신의 소유물이라고 생각하는 경향이 있습니다.
      </p>
      <p class="mt-5 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
        부모의 말에 동조하고 수용해 주기를 바라는 마음이 전제되어 있습니다.
      </p>
      <p class="mt-5 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
        그러나 아이는 부모의 소유물이 아닙니다.
      </p>
      <!-- // 230626 data-animation-infos 수정 -->
      <div class="text-align-center mt-30">
        <img src="../../../resources/v1/img/1B_067_08.png" width="200"
             alt="아이와 대화 대표 이미지"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
      </div>
      <p class="mt-30 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
        칭찬하고 인정하는 말로 아이를 존중하고, 아이의 생각과 감정을 동등하게 받아들이고 대화하는 수용의 자세가 필요합니다.
      </p>
      <p class="mt-5 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
        부모의 감정은 부모의 것이고, 아이의 감정은 아이의 것이라는 것을 인정해야 합니다.
      </p>
      <p class="mt-5 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
        호기심이나 반항 욕구를 자극하기보다 ‘~해 줄래’ 같은 권유형이 적합합니다.
      </p>
      <p class="mt-5 fs-5 fw-700"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
        특히 비난하는 말은 금물입니다.
      </p>
      <p class="mt-5 fs-5"
         data-animation-type="onscroll"
         data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
        “엄마도 생각해 볼게, 함께 노력하자”, 혹은 “이런 점은 알아서 잘하리라 믿어” 같은 순화된 표현을 사용할 수 있습니다.
      </p>
      <div class="text-align-center mt-30">
        <img src="../../../resources/v1/img/1B_067_09.gif" width="200"
             alt="아이와의 대화 대표 이미지"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
      </div>

      <div class="mt-30 text-align-center fc-white">
        <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
        <p class="mt-5 fs-16"
           data-animation-type="onscroll"
           data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
          우리 아이가 주체적으로<br>
          성장할 수 있는 환경을 제공하고,
        </p>
        <div class="fs-22 fw-700 mt-5"
             data-animation-type="onscroll"
             data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
          아이와 나의 행복한 미래를<br>
          그려 보는 것은 어떨까요?
        </div>
      </div>
    </article>
  </section>
  <!-- s: 컨텐츠 하단 영역-->
  <div class="bg-btm-gray btm-wrap">
    <!-- 평가영역 -->
    <section id="feedback-area" class="bg-6c2a2a">
      <div class="feedback-inner">
        <div class="feedback-txt">콘텐츠가 유익했어요!</div>
        <div class="feedback-btn-box">
          <div class="feedback-btn-box-inner">
            <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001"
                   onclick="ga360.GA_Event('DBS_캠페인_MO', '자녀_초중등_가스라이팅_상세', '콘텐츠평가', '버튼명_좋아요');">
            <label class="feedback-btn" for="feedback-radio-01">
              <img src="../../../resources/v1/img/ico-feedback-good.png" width="50">
            </label>
          </div>
          <div class="feedback-btn-box-inner">
            <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002"
                   onclick="ga360.GA_Event('DBS_캠페인_MO', '자녀_초중등_가스라이팅_상세', '콘텐츠평가', '버튼명_싫어요');">
            <label class="feedback-btn" for="feedback-radio-02">
              <img src="../../../resources/v1/img/ico-feedback-bad.png" width="50">
            </label>
          </div>
        </div>
      </div>
    </section>

    <!-- 상품영역 -->
    <div id="output"></div>
  </div>
  <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!-- dim -->
<!-- <div class="dim"></div> -->

<!-- [S]top버튼 -->
<div class="btn-top-wrap">
    <button type="top" class="btn-fixed-top">top</button>
</div>
<!-- [E]top버튼 -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
  <lottie-player src="../../../resources/v1/img/loading-animation.json"
                 background="transparent"
                 style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
  </lottie-player>
  <div class="fc-2 fs-6 fw-500">
    고객님에게 맞는 <b>교보생명</b> 상품으로<br>
    이동중이에요!
  </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module">
  import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
  import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

  try {
    // animation setting
    AnimationManager.loadElementsToAnimate();
  }
  catch(error){
    alert(error);
    alert(error.stack);
  }
</script>
</body>
</html>

<!-- [컨텐츠 오픈 히스토리] -->
<!-- 230518 확대오픈 -->
<!-- [ // 컨텐츠 오픈 히스토리] -->