<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <link href="../../../resources/v1/img/favicon.ico" rel="shrtcut icon">
    <link href="../../../resources/v1/img/favicon.ico" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" type="text/css" href="../../../resources/v1/css/import2.css">

    <script src="../../../resources/v1/js/jquery-3.4.1.min.js"></script>
    <script src="../../../resources/v1/js/common.js"></script>
    <script src="../../../resources/v1/js/link.js"></script>

    <title>볼록한 내 목덜미는?</title>
</head>
<script>
    document.documentElement.style.setProperty('--100vh-inner', `${document.documentElement.clientHeight}px`);
</script>
<body class="_4B_043 information-type type-b">
<!-- [S] skip-nav -->
<div class="skip-nav">
    <a href="#cont-wrap">본문 바로가기</a>
</div>
<!-- [E] skip-nav -->

<!-- [S] header-->
<header id="header">
    <nav class="bg-white">
        <div class="link_back">
            <a href="javascript:history.back()" class="go-back-btn">
                <span class="blind">뒤로가기</span>
                <img src="../../../resources/v1/img/ico-kyobobook-gnb-back.svg" alt="뒤로가기">
            </a>
        </div>
        <h1>
            볼록한 내 목덜미는?
        </h1>
        <div>
            <a id="link_home">
                <span class="blind">홈으로</span>
                <img src="../../../resources/v1/img/ico-home.png" alt="홈으로 버튼">
            </a>
        </div> 
    </nav>
</header>
<!-- [E] header-->

<!--서버로부터 전달받는 변수영역-->
<input type="hidden" id="srch_kywr_name" class="srch_kywr_name" th:value="${srch_kywr_name}" />
<input type="hidden" id="csjr_ctts_num" class="csjr_ctts_num" th:value="${csjr_ctts_num}" />

<!-- [S] cont -->
<div id="cont-wrap" class="bg-9 fc-white">
    <div class="top-area">
        <article class="text-align-center">
            <div>
                <span class="tag mb-10 opacity-0 fc-13"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        start-ms:'300',
                                        transition-props:'[opacity]',
                                        transition-duration:'0.7s'">질병</span>
                <div>
                    <div class="fw-400 fs-22 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-100%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'500',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">사무직의 직업병,</div>
                    <div class="fw-700 fs-22 strong-underline mb-10 opacity-0"
                        data-animation-type="onload"
                        data-animation-infos="remove-class-nm: 'opacity-0',
                                            style-bf-ani: 'transform:translateY(-250%);',
                                            style-af-ani: 'transform:',
                                            start-ms:'700',
                                            transition-props:'[opacity,transform]',
                                            transition-duration:'0.8s'">거북목 증후군 말고 또 있다?!</div>
                </div>
                <div class="opacity-0"
                    data-animation-type="onload"
                    data-animation-infos="remove-class-nm: 'opacity-0',
                                        style-bf-ani: 'transform:translateY(-400%);',
                                        style-af-ani: 'transform:',
                                        start-ms:'900',
                                        transition-props:'[opacity,transform]',
                                        transition-duration:'0.8s'">
                                        사무업무를 하는 A 씨는 최근 병원에서<br>
                                        ◯◯◯ 증후군 진단을 받았습니다.
                </div>
            </div>
            <div class="main-banner-wrapper center-type mt-25 mb-5 opacity-0"
                data-animation-type="onload"
                data-animation-infos="remove-class-nm: 'opacity-0',
                                    style-bf-ani: 'transform:translateX(100vw);',
                                    style-af-ani: 'transform:',
                                    start-ms:'300',
                                    transition-duration:'0.7s',
                                    transition-props:'[transform]'">
                <div class="banner-inner">
                    <img src="../../../resources/v1/img/4B_043_01.gif" class="width-100" alt="버섯목증후군이란? 대표 이미지">
                    <div class="mt-10">
                        <h3 class="fw-700">
                            버섯목증후군이란?
                        </h3>
                        <p class="mt-9 fs-14">
                            일자목이나 거북목에서<br>
                            더 심해진 목뼈의 변형 형태를 말합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-40">
                <div class="fs-20 fw-700 mb-20" data-animation-type="onload"
                                        data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1', start-ms: '1000', transition-duration: '1s';">
                                        거북목은 들어 봤는데,<br>
                                        버섯목 증후군은 처음 들어보신다고요?<br>
                                        함께 알아볼게요.
                </div>
                <div class="animation-vertical-box"
                    style="height: 0"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'height: 0px',
                                    style-af-ani: 'height: 100px',
                                    scroll-duration: 100">
                    <div class="animation-vertical"></div>
                </div>
            </div>
        </article>
    </div>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #c34c4c',
                                    scroll-duration: 300,
                                onscroll-declared-animation-types:'adjust-bg-color-brightness:[1, 0.82]'">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                            style-af-ani: 'margin-left:0px; opacity:0.2'">1</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                    최근 사무실에서 고개를 쭉 빼고<br>
                    앉아 있는 모습을 보고 지나가는<br>
                    동료가 한마디했습니다. 🤔
                </div>
            </div>
            <div>
                <p class="mt-20 fs-5 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        “대리님~ 옆에서 보니 목만 쭉 나와 있는 게 거북이 같아요.”
                </p>
                <p class="mt-5 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        가끔 건강정보지에서 거북목 조심하라는 말은 들었지만 대수롭지 않게 생각했던 A 씨.
                </p>
                <p class="mt-5 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        하루는 선배가 A 씨의 목을 만져 보더니 “자네 왜 목덜미가 불룩 튀어나와 있어? 알고 있었어?”라고 합니다.
                </p>
                <div class="text-align-right mt-20">
                    <img src="../../../resources/v1/img/4B_043_02.gif" width="200"
                        alt="거북목 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                            style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>
            </div>

            <div class="mt-30">
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    깜짝 놀란 A 씨도 거울로 살펴보니 혹처럼 목 뼈가 튀어나와 있었습니다.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    생각해 보니 최근에 목덜미가 아픈 날이 꽤 많았습니다.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    점심시간을 이용해 회사 근처 병원을 방문한 A 씨.
                </p>
                <div class="mt-20">
                    <img src="../../../resources/v1/img/4B_043_03.png" width="200"
                        alt="목뼈가 튀어나온 직장인 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                    style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #c34c4c',
                                    style-af-ani: 'background-color: #ad4444',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">2</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">'버섯목 증후군'입니다. 🤯</div>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">목덜미 아래 경추 7번 뼈가 돌출돼 버섯이나 혹처럼 툭 튀어나와 있는 증상으로 마치 버섯처럼 툭 튀어나온 것 같이 보여 붙여진 이름인데요.</p>
            </div>
            <div data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                <p class="mt-5 mb-0 fs-5">일자목과 거북목을 제대로 교정하지 않고 방치하면 발생됩니다.</p>
            </div>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/4B_043_04.gif" width="200"
                    alt="뼈사진 일러스트 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
            <p class="mt-30 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                우리 몸은 잘못된 자세가 반복되면 경추를 보호하기 위해 일자목이 된 부위에 계속해서 지방을 쌓기 때문에 경추 6번부터 흉추 1번 부위가 두툼하게 불룩 튀어나올 수 있습니다.
            </p>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                그러면 목덜미와 어깨 부근이 자주 결리고 근육통이 생길 뿐 아니라, 뇌 쪽으로 혈액 공급이 원활하지 않아 두통이 동반됩니다.
            </p>
            <div class="text-align-center mt-20">
                <img src="../../../resources/v1/img/4B_043_05.png" width="200"
                    alt="두통이 온 직장인 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #ad4444',
                                    style-af-ani: 'background-color: #983b3b',
                                    scroll-duration: 300;">
        <article class="text-align-left">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">3</span>
                <div class="fs-22 fw-700"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        일자목, 거북목, 버섯목!<br>
                                        이렇게 예방하세요.😊</div>
            </div>
            <div class="mt-20 list-num">
                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-01">
                    <p class="mt-0 mb-0 fs-18 fw-700">바른 자세 유지</p>
                </div>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        앉을 땐 엉덩이를 의자 깊숙이 넣어 허리를 굳게 폅니다.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        모니터는 시선보다 살짝 높게 위치하게 합니다.
                </p>
                <div class="text-align-left mt-20">
                    <img src="../../../resources/v1/img/4B_043_06.gif" width="200"
                        alt="바른자세 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                            style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-02 mt-30">
                    <p class="mt-5 mb-0 fs-18 fw-700">스트레칭</p>
                </div>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        한 시간에 한 번 정도는 자리에서 일어나 가볍게 목 스트레칭을 하여 긴장된 근육을 자주 풀어 줍니다.
                </p>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        또, 벽에 발끝, 엉덩이, 등, 양쪽 어깨 끝, 뒤통수를 댄 자세를 매일 5~10분 동안 유지해 주는 동작도 좋습니다.
                </p>
                <div class="text-align-right mt-20">
                    <img src="../../../resources/v1/img/4B_043_07.gif" width="200"
                        alt="스트레칭 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                            style-af-ani: 'margin-right: 0px; opacity:1'">
                </div>

                <div data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0;', style-af-ani: 'opacity:1';"
                    class="list-item num-03 mt-30">
                    <p class="mt-5 mb-0 fs-18 fw-700">올바른 베개 사용</p>
                </div>
                <p class="mt-5 mb-0 fs-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%;opacity:0',
                                        style-af-ani: 'opacity:1'">
                                        누웠을 때 목과 머리 높이가 6~8cm 정도인 베개가 좋 습니다.
                </p>
                <div class="text-align-left mt-30">
                    <img src="../../../resources/v1/img/4B_043_08.png" width="200"
                        alt="올바른 베개 사용 대표 이미지"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                            style-af-ani: 'margin-left: 0px; opacity:1'">
                </div>
            </div>
        </article>
    </section>
    <section data-animation-type="onscroll"
            data-animation-infos="style-bf-ani: 'background-color: #983b3b',
                                style-af-ani: 'background-color: #823333',
                                scroll-duration: 300;">
        <article class="text-align-left pb-0">
            <div class="title-msg mt-10">
                <span class="section-no fw-700"
                        data-animation-type="onscroll"
                        data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:80px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:0.2'">4</span>
                <div class="fw-700 fs-22"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                        style-af-ani: 'margin-left:0px; opacity:1'">
                                        버섯목 증후군은 방치하면<br>
                                        경추 질환으로 이어질 수 있어요. 😧
                </div>
            </div>
            <p class="mt-5 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'display:inline-block; width:100%; margin-left:100px; opacity:0',
                                    style-af-ani: 'margin-left:0px; opacity:1'">
                목이 좀 뻐근해도, 어깨가 결려도 그러려니 하고 가볍게 생각하는 경우가 많습니다.
            </p>
            <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/4B_043_09.png" width="200"
                    alt="어깨 결림 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-left: 50px; opacity:0',
                                        style-af-ani: 'margin-left: 0px; opacity:1'">
            </div>
            <p class="mt-30 mb-0 fs-5"
                data-animation-type="onscroll"
                data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                경추 질환인 목 디스크로 악화될 경우, 팔의 운동신경 마비와 영구적인 장애도 발생할 수 있기 때문에 조기에 적극적인 치료가 중요한 질병입니다.
            </p>
            <div class="text-align-center mt-30">
                <img src="../../../resources/v1/img/4B_043_10.gif" width="200"
                    alt="치료 대표 이미지"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'margin-right: 50px; opacity:0',
                                        style-af-ani: 'margin-right: 0px; opacity:1'">
            </div>

            <div class="mt-30 text-align-center fc-white">
                <img src="../../../resources/v1/img/check-bg-white.svg" width="50"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'transform: scale(3.3); opacity:0',
                                        style-af-ani: 'transform: scale(1); opacity:1'">
                <p class="mt-5 fs-16"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    약물치료, 수술, 신경 손상의 후유증 치료 과정별
                </p>
                <div class="fs-22 fw-700 mt-5"
                    data-animation-type="onscroll"
                    data-animation-infos="style-bf-ani: 'opacity:0', style-af-ani: 'opacity:1'">
                    필요한 치료비에 대한 준비도<br>
                    잘 갖춰 놓으시기를 바랍니다
                </div>
            </div>
        </article>
    </section>
    <!-- s: 컨텐츠 하단 영역-->
    <div class="bg-btm-gray btm-wrap">
        <!-- 평가영역 -->
        <section id="feedback-area" class="bg-6c2a2a">
            <div class="feedback-inner">
                <div class="feedback-txt">콘텐츠가 유익했어요!</div>
                <div class="feedback-btn-box">
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-01" value="001">
                        <label class="feedback-btn" for="feedback-radio-01">
                            <img src="../../../resources/v1/img/ico-feedback-good.png" width="50">
                        </label>
                    </div>
                    <div class="feedback-btn-box-inner">
                        <input type="radio" name="feedback-radio" id="feedback-radio-02" value="002">
                        <label class="feedback-btn" for="feedback-radio-02">
                            <img src="../../../resources/v1/img/ico-feedback-bad.png" width="50">
                        </label>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 상품영역 -->
        <div id="output"></div>
    </div>
    <!-- e: 컨텐츠 하단 영역-->
</div>
<!-- [E] cont -->

<!--로딩스크린-->
<div class="text-align-center loading-screen" data-is-playing-loading="false">
    <lottie-player src="../../../resources/v1/img/loading-animation.json"
                    background="transparent"
                    style="width: 100px; height: 100px; display:inline-block" speed="1" loop autoplay>
    </lottie-player>
    <div class="fc-2 fs-6 fw-500">
        고객님에게 맞는 <b>교보생명</b> 상품으로<br>
        이동중이에요!
    </div>
</div>

<!-- <script src="../../../resources/v1/js/swiper-bundle.min.js"></script> -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="../../../resources/v1/js/open_Customer-Journey.js"></script>
<script type="module">
    import { AnimationManager } from "../../../resources/v1/js/open_AnimationManager.js";
    import { EventProcessor } from "../../../resources/v1/js/open_EventProcessor.js";

    try {
        window.onload = function() {
            // animation setting
            AnimationManager.loadElementsToAnimate();
        }
    }
    catch(error){
        alert(error);
        alert(error.stack);
    }
</script>
</body>
</html>