@charset "utf-8";

/* skip-nav */
.skip_nav a{z-index: 100;position:fixed; top:-30px; left:0; background:#000; height:30px; line-height:30px; color:#fff; font-size:16px; padding:0 6px;width: 100%;text-align: center;}
.skip_nav a:focus,
.skip_nav a:active{top:0;}

body{min-width: 100%;min-height: 100%;}

/* ============== pc common ============== */
a{cursor: pointer;display: inline-block;font-size: inherit;}

/* ============== css 속성 ============== */
.opacity-0{opacity: 0;}

/* fleat */
.fl{float: left;}
.fr{float: right;}
.clear::after{content: "";display: block;clear: both;}

/* font-size */
h1{font-size: 22px;}
h2{font-size: 20px;}
.fs_22{font-size: 22px !important;}
.fs_20{font-size: 20px !important;}
.fs_18{font-size: 18px !important;}
.fs_15{font-size: 15px !important;}
.fs_13{font-size: 13px !important;}

/* font-weight */
.fw_700{font-weight: 700 !important;}
.fw_500{font-weight: 500 !important;}
.fw_400{font-weight: 400 !important;}

/* font-color */
.fc_fff{color: #fff !important;}
.fc_000{color: #000 !important;}
.fc_222{color: #222 !important;}
.fc_555{color: #555 !important;}
.fc_777{color: #777 !important;}
.fc_ccc{color: #ccc !important;}
.fc_eee{color: #eee !important;}
.fc_f7f7f7{color: #f7f7f7 !important;}

/* ============== #header ============== */
#header{width: 100%; height: 101px;}
#header .header_inner{width: 1200px;height: 100%;margin: 0 auto;padding-top: 33px;}
#header .header_inner::after{content: "";display: block;clear: both;}
#header .header_inner .logo{float: left;width: 148px;height: 42px;background: url(../img_pc/icon/logo.png) 0 0 no-repeat;background-size: contain;}
#header .header_inner .logo a{width: 100%;height: 100%;font-size: 0;}

#header .header_inner .company_snb{float: right;}
#header .header_inner .company_snb li{padding: 0 18px 0 20px;background: url(../img_pc/icon/bul_snb.gif) left 15px no-repeat;}
#header .header_inner .company_snb li:first-child{background: none;}
#header .header_inner .company_snb li a{display: inline-block;padding: 0 0 0 0;height: 33px;font-size: 20px;line-height: 33px;font-weight: 400;color: #646464;letter-spacing: -2px;}

/* ============== #footer ============== */
#footer{width: 100%; height: 224px;background: #f5f5f5;background: url(../img_pc/icon/bg_footer.gif) 0 0 repeat-x;}
#footer .footer_inner{width: 1200px;height: 100%;margin: 0 auto;}
#footer .footer_inner ul.footer_top{height: 44px;}
#footer .footer_inner ul.footer_top::after{content: "";display: block;clear: both;}
#footer .footer_inner ul.footer_top li{float: left;height: 100%;padding: 0 13px 0 14px;text-align: center;background: url(../img_pc/icon/bg_line_footer.gif) no-repeat left center;line-height: 44px;}
#footer .footer_inner ul.footer_top li:first-child{padding-left: 14px;background: none;}
#footer .footer_inner ul.footer_top li a{display: block;text-decoration: none;color: #f1f0f0;font-size: 12px;font-family: 'Dotum', Sans-serif;}
#footer .footer_inner ul.footer_top li a strong{vertical-align: top;text-decoration: underline;}

#footer .footer_btm{color: #666;}
#footer .footer_btm .logo_area{padding-top: 21px;}
#footer .footer_btm .logo_area img{width: 104px;}
#footer .footer_btm .info_area{margin:18px 0 0 0;}
#footer .footer_btm .info_area address{font-size:11px;line-height:18px;}
#footer .footer_btm .info_area address a{text-decoration:underline;color:#666;}
#footer .footer_btm .info_area address a:hover {text-decoration:underline;color:#3c5fe1;}
#footer .footer_btm .info_area address .copy {margin-top:10px;}
#footer .footer_btm .info_area address .copy strong{vertical-align: top;}
#footer .footer_btm .info_area address .big {font-size:12px;}

/* ============== .content ============== */
.content{min-height: calc(100vh - 101px);margin: 0 auto;overflow: hidden;}
.content li{}
.content li .section{width: 1200px;height: 100%;margin: auto;position: relative;background: url(../img_pc/bg/bg_top_01.png) right 140px top -104px no-repeat;background-size: 300px;}
.content li .section::before{content: "";position: absolute;top:60px;left: 10px;width: 400px;height: 461px;background: url(../img_pc/bg/bg_top_02.png) 0 0 no-repeat;background-size: contain;}
.content li .section::after{content: "";position: absolute;top: 320px;right: 0;width: 520px;height: 565px;background: url(../img_pc/bg/bg_top_03.png) 0 0 no-repeat;background-size: contain;}
.content li .section .con{width: 700px;margin: 0 auto;}

.content li .section .con .frag{padding-top: 50px;text-align: center;}
.content li .section .con .frag span{padding: 0 19px;border-radius: 2px;background-color: #fff;font-size: 13px;font-weight: 700;}

.type_a .content li{min-height: 100px;}

/* type_a */
.type_a .content li.first{height: 742px;background: #27809E;}
.type_a .content li:nth-child(2){background: #23738E;}
.type_a .content li:nth-child(3){background: #1F667E;}
.type_a .content li:nth-child(4){background: #1B596E;}
.type_a .content li:nth-child(5){background: #174C5E;}
.type_a .content li:nth-child(6){background: #154656;}
.type_a .content li:nth-child(7){background: #133F4E;}
.type_a .content li:nth-child(8){background: #0F333F;}

.content li .section .con .frag span{color: #166c78;}












