@charset "utf-8";

/* swiper */
.full-slide.swiper-container{position: absolute;left: 0;right: 0;overflow: hidden;}
.swiper-wrapper{width: 100%;}
.swiper-slide{display: flex;justify-content: center;}
.swiper-container.last-slide{position: absolute;left: 15px;right: 15px;}
.swiper-container .swiper-pagination{display: block;position: initial;}
.swiper-my-bullet{display: inline-block;background: white;opacity: 0.2;width: 6px;height: 6px;margin: 0 5px 0 0;border-radius: 50%;}
.swiper-my-bullet.active{opacity: 1;}
.swiper-wrapper .swiper-slide:last-child .main-banner-wrapper{background: none no-repeat;box-shadow: none;background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0));background-size: 13% 100%;}


.survey-type .top-area article{padding-top: 25px;padding-bottom: 30px;flex: 0;}
.survey-type .top-area article.inner{padding-top: 0;padding-bottom: 10px;}
.survey-type .top-area article.inner .inner-cont{padding: 55px 20px 30px;border-radius: 5px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);border: solid 1px #eee;background-color: #fff;}
.survey-type .main-wrapper{position: absolute;left: 50%;width: 100%;z-index: 2;transform: translateX(-50%);overflow-x: hidden;}
.survey-type #survey-area{min-height: calc(var(--100vh-inner) - 60px);display: flex;flex-direction: column;}
.survey-type #survey-area.shrink-height{min-height: initial;}

.survey-type #result-area{padding-bottom: 50px;}
.survey-type #survey-area.display-none{display: none;}
.survey-type .top-bg-panel-wrapper{position: relative;z-index: 1;width: 100%;height: calc(100vh - 60px);}
.survey-type .top-bg-panel{position: absolute;left: 50%;top: 0;height: 450px;width: 450px;transform: translateX(-50%) translateY(-206px);border-radius: 50%;}
.balance-type #survey-area{overflow-x: hidden;}
.balance-type .top-bg-panel{background: #33b4c7;}
.survey-type section article{padding-top: 50px;}
.survey-type .survey-form{font-size: 15px;flex: 1;padding-bottom: 40px;overflow: hidden;}
.survey-type .survey-form small{font-size: 13px;}
.survey-type .survey-form li{white-space: nowrap;display: flex;width: 200%;transition: transform 0.4s;}
._7E_006 .survey-form li{width: 100%;}
.survey-type .survey-form li .li-item, .survey-type .survey-form li .li-item-result-wrapper {padding: 0 20px 5px;display: inline-block;width: 100%;box-sizing: border-box;}
.survey-type .survey-form li label, .survey-type .survey-form li .li-item-result{display: flex;border-radius: 10px;background-color: rgba(255, 255, 255, 0.95);padding: 10px 25px 15px 20px;cursor: pointer;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);align-items: center;max-width: 480px;margin: auto;color: #222;min-height: 80px;box-sizing: border-box;}
.survey-type .survey-form.survey-form2 li{width: 100%;}
.survey-type .survey-form.survey-form2 li label{display: flex;border-radius: 0;background-color: initial;padding: 0 0 10px;cursor: pointer;box-shadow: none;margin: auto;color: #222;}
.survey-type .survey-form.survey-form2 .horizontal-box ul li .inner label .box{width: 100%;}
.survey-type .survey-form li .li-item-result{font-size: 13px;}
.survey-type .survey-form li .li-item-result small{font-size: 11px;}
.survey-type .survey-form li .li-item-result.active{font-weight: 700;color: #fff;background-color: #2254c0;padding-left: 20px;}
.survey-type .survey-form li .li-item-result.active small{font-weight: 400;}
.survey-type .survey-form li .li-item-result > div > div{letter-spacing: -0.5px;}
.survey-type .survey-form li label{padding: 10px;padding-left: 15px;}

.survey-type .survey-form input[type='radio']
,.balance-type input[type='radio']{appearance: none;width: 0;height: 0;margin: 0;box-sizing: border-box;}
.balance-type .card-box{padding: 20px;color: #555;border-radius: 5px;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);border: solid 1px #eee;}
.balance-type .card-box dt{color: #00798b;}
.radio-btn{width: 24px;height: 24px;border: 7px solid #e6e6e6;border-radius: 50%;transition: border-color 0.3s;}
.vertical-ul .radio-btn{margin: 10px;}
.survey-type .survey-form .vertical-ul li label>*:nth-child(2){flex: 1;padding-left: 5px;}

.balance-type .speech-box{background-image: url('../img/6F_007_img-04.svg');background-repeat: round;background-size: contain;font-size: 12px;position: absolute;left: 50%;transform: translateX(-50%);padding: 3px 10px 10px;letter-spacing: normal;}
.survey-type .survey-form li .speech-box .contents>*:nth-child(2){flex: 1;}
.survey-type .survey-form li .speech-box .contents>*:nth-child(3){flex: 0 1 auto;}
.survey-type .survey-form input[type='radio']:checked+.speech-box>img:first-of-type{width: 0;}
.survey-type .survey-form input[type='radio']:checked+.speech-box>img:last-of-type{width: 110px;}
input[type='radio']:checked+.speech-box .radio-btn{border: 7px solid #d95584;}
input[type='radio']:checked+* .radio-btn.bdc-5{border: 7px solid #2f65b3;}
._7E_006 input[type='radio']:checked+* .radio-btn{border: 7px solid #d95584;}
.survey-type .survey-form li .li-item-result>*:first-child{flex: 1;}
.survey-type .survey-form li .li-item-result>*:last-child{flex: 0 1 90px;font-style: italic;color: #2f65b3;}
.survey-type .survey-form li .li-item-result.active>*:last-child{color: white;}
.survey-type .survey-form li .li-item-result .progress-bar{height: 4px;background-color: #eee;border-radius: 4px;}
.survey-type .survey-form li .li-item-result .progress-bar .painted-bar{background-color: #2f65b3;height: 100%;border-radius: 4px;}
.survey-type .survey-form li .li-item-result.active .progress-bar{background-color: rgba(255,255,255,0.2);}
.survey-type .survey-form li .li-item-result.active .progress-bar .painted-bar{background-color: rgba(255,255,255,1);}
.survey-type .survey-form li .li-item-result .result-ratio{font-size: 30px;font-weight: 500;color: #5c759d;}
.survey-type .survey-form li .li-item-result .result-ratio + span{display: inline-block;padding: 10px 0 0 4px;font-size: 14px;font-weight: 400;color: #5c759d;}
.survey-type .survey-form li .li-item-result.active .result-ratio{color: white;font-size: 40px;font-weight: 700;line-height: 1;}
.survey-type .survey-form li .li-item-result.active .result-ratio + span{display: inline-block;padding: 20px 0 0 4px;font-size: 14px;font-weight: 400;color: #fff;}
.survey-type .survey-form li .li-item-result .result{font-size: 30px;font-weight: 500;color: #5c759d;}
.survey-type .survey-form li .li-item-result.active .result{font-size: 40px;font-weight: 700;color: #fff;background-color: #2254c0;padding-left: 20px;}
.survey-type .survey-form .horizontal-ul{display: flex;flex-direction: row;justify-content: center;}
.survey-type .survey-form .horizontal-ul>li{width: initial;flex: 0 0 110px;filter: drop-shadow(0 5px 3px rgba(0,0,0,0.2));}
.survey-type .survey-form .horizontal-ul.col-2{display: block;max-width: 540px;width: 100%;background: red;padding: 0 20px;}
.survey-type .survey-form .horizontal-ul.col-2::after{content: "";display: block;clear: both;}
.survey-type .survey-form .horizontal-ul.col-2>li{width: calc(50% - 4px);filter: drop-shadow(0 5px 3px rgba(0,0,0,0.2));float: left;}
.survey-type .survey-form .horizontal-ul.col-2>li:first-child{margin-right: 4px;}
.survey-type .survey-form .horizontal-ul.col-2>li:last-child{margin-left: 4px;}
.survey-type .survey-form .horizontal-ul.col-2>li label{margin: 0;}
.survey-type .survey-form .horizontal-ul>li label.speech-box{position: relative;background: none;box-shadow: none;padding: 0;justify-content: center;overflow: hidden;}
.survey-type .survey-form .horizontal-ul>li .speech-box .contents{position: absolute;display: flex;flex-direction: column;top: 0;bottom: 0;padding: 20px 0;align-items: center;}

.horizontal-ul>li label.speech-box .image-box{display: flex;justify-items: center;align-items: center;}
.survey-type .survey-form label.speech-box input[type='radio']{margin: 0 0 10px;width: 25px;height: 25px;border: 8px solid #e6e6e6;}
.survey-type .cont-area{padding: 0 15px 30px;flex: 0;text-align: center;overflow: hidden;}
.survey-type .cont-area #goNextBtn{max-width: 540px;margin: 0 auto;}
/* 삭제예정 */
/* .survey-type .footer-area{
    padding: 0 15px 35px;
    flex: 0;
    text-align: center;
    overflow: hidden;
} */
/* // 삭제예정 */

.survey-type .survey-cont{padding: 0 15px 35px;flex: 0;text-align: center;overflow: hidden;}
.balance-type .footer-area{padding: 0;flex: 1 0 100px;background: url('../img/6F_007_img-05.svg');background-repeat: no-repeat;background-size: contain;background-position: center;margin-bottom: 15px;max-height: 180px;}
.balance-type .footer-area img{height: 100%;}
.survey-type .per{padding-left: 5px;}
.survey-type .footer-area{padding: 0 15px 35px;flex: 0;text-align: center;overflow: hidden;}
.survey-type .footer-area.after{padding: 0 15px 40px;flex: 0;}
.survey-type .footer-area button{border-radius: 5px;height: 50px;max-width: calc(480px + 50px);margin: auto;}
.survey-type .survey-form button:disabled{color: #fff;background-color: #999;cursor: initial;}
.survey-type .explanation-box{background-color: white;padding: 20px;text-align: left;border-radius: 5px;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);}
.card-section-wrap{padding: 0 15px;}
.card-section{border-radius: 5px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);background: white;padding: 30px 20px;margin: auto;max-width: 540px;}

section article{padding-top: 75px;overflow: hidden;}
section article.inner{padding: 0 15px;}

.card-section article{padding: 0;}
.card-section article:nth-of-type(1){padding-top: 0;}
.card-section article+article{padding-top: 30px;}
section:last-of-type{padding-bottom: 50px;}
/* section:last-of-type article{
    padding-top: 30px;
} */
.statistic .head-section{text-align: center;line-height: 1.3;min-height: 100vh;padding-bottom: 220px;box-sizing: border-box;position: relative;}
.head-section .title-area{padding: 20px 0px 30px;}

.type-a .tag{color: #166c78;}
.type-d .tag{color: #194078;}
.balance-type .tag{color: #166c78;}
.fact-chk .tag{color: #412990;}

/* 삭제 예정 */
.balance-type .tag,
._3A_024 .tag{
    color: #166c78;
}
._3A_004 .tag,
._3A_024 .tag{
    color: #166c78;
}
/* 삭제 예정 */

.head-msg{font-size: 1.375em;padding: 15px 0;line-height: 1.5;}
.statistic .head-msg strong{background: linear-gradient(0deg,#02649a 50%,transparent 50%);padding: 0 10px 2px;}
.main-banner-wrapper {background: white;border-radius: 15px;color: #222;padding: 15px 25px 20px;max-width: 540px;flex: 1;font-size: 14px;box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);margin-left: 2.5px;margin-right: 2.5px;}

/* information-type */
.information-type .main-banner-wrapper{padding: 32px 15px;}
.information-type .main-banner-wrapper img{width: 100%;max-width: 320px;}

.information-type .main-banner-wrapper.center-type{height: 340px;padding: 0 15px;display: flex;align-items: center;justify-content: center;}

._3A_024 .main-banner-wrapper{padding: 50px 10px;}
._6B_019 .main-banner-wrapper{padding: 38px 10px 44px;}

/* balance-game */
.balance-game .main-banner-wrapper{color: #777;flex-direction: row;background: initial;box-shadow: none;border-radius: 0;padding: 0 20px;margin: 0;font-size: 0;max-width: initial;}
.balance-game .main-banner-wrapper .radio-btn-box{position: relative;max-width: 540px;margin: auto;display: flex;flex-direction: row;padding-bottom: 10px;}
.balance-game .radio-btn-box h3,
.balance-game .radio-btn-box h4{color: #105e69;}
.balance-game .radio-btn-box>*:first-child
,.balance-game .radio-btn-box>*:last-child{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    flex: 1;
    transition: flex 0.4s;
}
.balance-game .radio-btn-box>*:first-child{padding-right: 4px;position: relative;}
.balance-game .radio-btn-box>*:last-child{padding-left: 4px;}
.balance-game .radio-btn-box>*:first-child .center-img{position: absolute;top: 50%;right: 0;transform: translate(50%, -50%);}
.balance-game .radio-btn-box>div.text-align-center .center-img img{width: 50px;}
.balance-game .radio-btn-box>div.text-align-center .center-img img.ico-left{display: none;}
.balance-game .radio-btn-box>div.text-align-center .center-img img.ico-right{display: none;}

.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box div.text-align-center .center-img img.ico-center{display: none;}
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box div.text-align-center .center-img img.ico-left{display: none;}
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box div.text-align-center .center-img img.ico-right{display: block;}

.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box div.text-align-center .center-img img.ico-center{display: none;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box div.text-align-center .center-img img.ico-left{display: block;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box div.text-align-center .center-img img.ico-right{display: none;}

.balance-game .radio-btn-box label{padding: 30px 12px 27px;border-radius: 10px;box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);background-color: #fff;display: block;box-sizing: border-box;height: 100%;cursor: pointer;overflow: hidden;white-space: nowrap;}
.balance-game .radio-btn-box label .after{display: none;}

.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box>*:first-child{flex: 0 0 50px;}
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box>*:first-child label>*{display: none;}
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box>*:last-child .before{display: none;}
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box>*:last-child .after{display: block;}
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box>*:nth-child(2){left: 50px;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box>*:last-child{flex: 0 0 50px;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box>*:last-child label>*{display: none;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box>*:first-child .before{display: none;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box>*:first-child .after{display: block;}
.balance-game #answer-01:checked~.main-banner-wrapper .radio-btn-box label,
.balance-game #answer-02:checked~.main-banner-wrapper .radio-btn-box label{padding-top: 15px;}

/* fact-chk */
.fact-chk .main-banner-wrapper{padding: 30px 10px 23px;height: 340px;}
.fact-chk h3{color: #b13e7d;}
.fact-chk .main-banner-wrapper .section-no{font-style: italic;font-size: 30px;line-height: 1.2;}
.fact-chk .swiper-slide .first-slide.main-banner-wrapper img{display: inline-block;margin: 0 auto;}
.type-c .swiper-slide .main-banner-wrapper img{max-width: 305px;margin: 0 auto;}
.type-c .swiper-slide .main-banner-wrapper h1{font-size: 40px;font-style: italic;color: #6a50c2;}

.type-b .swiper-slide .main-banner-wrapper img{max-width: 305px;margin: 0 auto;}
.type-b .swiper-slide .main-banner-wrapper h1{font-size: 40px;font-style: italic;color: #6a50c2;}
.swiper-slide .first-slide{display: flex;flex-direction: column;}
.swiper-slide .first-slide .title{flex: 1;position: relative;display: flex;flex-direction: row;align-items: center;justify-content: center;}
.swiper-slide .first-slide .title .half-line{position: absolute;top:50%;left: 15px;right: 15px;height:2px;transform: translateY(-50%);z-index: 0;}
.swiper-slide .first-slide .title .title-msg{z-index: 1;position: relative;display: inline-block;padding: 0 15px;}
.main-banner-wrapper .bg-image{position: absolute;left: 0;top: 10px;}
.bar-chart-area {padding: 5px 20px;margin: auto;color: #777;}
.red-box{background: #fef5f4;border: 1px dashed #f5998c;}
.bar-chart-area.red-box.empty-box{height: 222px;display: flex;flex-direction: column;justify-content: center;}

.bar-chart-area.red-box.empty-box>*{margin: 0;}
.bar-chart-area .remark{text-align: right;font-size: 11px;}
.bar-chart{height: 190px;font-size: 12px;padding-bottom: 20px;}
.bar-chart.with-index {display: flex;}
.bar-chart > div {display: flex;flex-direction: column;}
.bar-chart .bar-chart-index{flex: 0 0 0;padding-right: 5px;align-items: end;}
.bar-chart.with-index .bar-chart-grid{flex: 5 1 0;}
.bar-chart .bar-chart-grid{min-width: 150px;border-bottom: 1px solid #ebebeb;position: relative;height: 100%;}
.bar-chart .bar-chart-grid.gradient{border-image: linear-gradient(to right, #00b19a 0%, #ffc302 100%);border-image-slice: 1;border-bottom: 2px solid transparent;}
.bar-chart-index>.has-multi-index{flex-direction: column;justify-content: space-between;}
.bar-chart-index>*, .bar-chart-grid>*{flex: 1;display: flex;align-items: end;}
.bar-chart-index .top-index{font-size: 11px;transform: translateY(-50%);}
.bar-chart-index .bottom-index{font-size: 11px;transform: translateY(50%);}
.bar-chart-grid>.grid-row {border-top: 1px solid #ebebeb;border-left: 1px solid #ebebeb;}
.bar-chart-grid.gradient>.grid-row:first-child{border-top: none;border-left: none;}
.bar-chart-grid.gradient>.grid-row:nth-child(n+2) {border-image: linear-gradient(to right, #fff 0%, #e4e4e4 60%, #eee);border-image-slice: 1;border-top: 1px solid transparent;}
.bar-chart-grid>.bar-area{position: absolute;height: 100%;bottom: 0px;width: 100%;display: flex;align-items: flex-end;justify-content: space-evenly;}
.bar-chart-grid>.bar-area>.bar{height: 50%;width: 13%;min-width: 27px;max-width: 40px;display: flex;flex-direction: column;align-items: center;justify-content: space-between;position: relative;}
.bar-chart-grid>.bar-area>.bar>.bar-label{margin-top: -17px;}
.bar-chart-grid>.bar-area>.bar.green-bar{background: linear-gradient(to top, #00ae9e, #00c791);}
.bar-chart-grid>.bar-area>.bar.green-bar>.bar-label{color: #0b636e;font-weight: 700;}
.bar-chart-grid>.bar-area>.bar.yellow-bar{background: linear-gradient(to top, #ffd303, #fff005);transition: height 0.5s;}
.bar-chart-grid>.bar-area>.bar.yellow-bar>.bar-label{color: #e3a328;font-weight: 700;}
.bar-chart-grid>.bar-area>.bar>.bar-nm{position: absolute;bottom: -3px;transform: translateY(100%);white-space: nowrap;line-height: 1.2;}
.bar-chart-grid>.bar-area>.bar>.bar-nm.strong{color: #ba8000;}

.animation-vertical-box{height: 150px;position: absolute;left: 50%;transform: translateX(-50%);padding: 0;box-sizing: border-box;font-size: 0;}
.animation-vertical{height: 100%;width: 2px;background: white;display: inline-block;}
.survey-type .animation-vertical{background: #2f65b3;}
.animation-vertical.hide{height: 0;opacity: 0;}

/* cards-box-wrap */
.cards-box-wrap{width: 300px;margin: 0 auto;font-size: 13px;}
.cards-box-wrap img{width: 100%;}
.cards-box-wrap .cards-box{display: flex;flex-direction: row;}
.cards-box-wrap  .cards-box>div{flex: 1 0 85px;display: flex;flex-direction: column;align-items: center;padding: 0 7px;}
/* // cards-box-wrap */

.footer-banner-zone{background: white;color: #222;padding: 15px 20px;border-radius: 10px;box-shadow: 1px 10px 7px rgba(8,8,8,0.3);font-size: 16px;}
.footer-banner-zone small{font-size: 13px}
.footer-banner-zone .banner-box{background: #f4f4f4;display: flex;border-radius: 5px;font-size: 14px;padding: 10px 15px;}
.footer-banner-zone .banner-box .img-content{background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="rgb(241,157,146)" /><line x1="0" y1="100%" x2="100%" y2="0" stroke="white" stroke-width="1" stroke-dasharray="3,4"/><line x1="0" y1="0" x2="100%" y2="100%" stroke="white" stroke-width="1" stroke-dasharray="3,4"/></svg>');flex: 80px 0 0;border-radius: 0px;height: 80px;font-size: 14px;}
.footer-banner-zone .banner-box>*:last-child{color: #4b4b4b;padding: 5px 0px 5px 10px;font-size: 14px;}
.footer-banner-link{font-size: 13px;display: flex;justify-content: center;align-items: center;padding: 15px 0 5px;border-top: 1px solid rgba(0,0,0,0.1);}
.footer-banner-link>.link-img{display: inline-block;margin-left: 5px;width: 6px;height: 12px;background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="50.5%" stroke="rgb(108,108,108)" stroke-width="1.5" /><line x1="0" y1="100%" x2="100%" y2="49.5%" stroke="rgb(108,108,108)" stroke-width="1.5" /></svg>');}

.type-a .cards-box-wrap.col-4{width: calc(100% + 60px);margin-left: -30px;}
.type-a .col-4 .cards-box>div, .type-b .col-4 .cards-box>div{padding: 0;}

.second-section{padding-top: 85px;}
section .title-msg{position: relative;}

section .title-msg .section-no{opacity: 0.2;font-size: 50px;font-style: italic;position: absolute;top: -35px;left: -2px;line-height: 1;font-family: system-ui;}
section .title-msg .section-no.center-style{font-size: 50px;font-style: italic;text-align: center;position: initial;}

.img-content{background-position: 50% 50%;background-size: cover;display: inline-block;border-radius: 15%;}
.img-content.circle{border-radius: 50%;}
.img-content.ani {height: 200px;width: 200px;}
.img-content.small {height: 100px;width: 100px;}
.img-content.smaller {height: 45px;width: 45px;}
.img-content.testing-box{
    border: dashed 1px white;
    color: white;
    width: 180px;
    height: 180px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="rgba(255,255,255,0.1)" /><line x1="0" y1="100%" x2="100%" y2="0" stroke="white" stroke-width="1" stroke-dasharray="3,4"/><line x1="0" y1="0" x2="100%" y2="100%" stroke="white" stroke-width="1" stroke-dasharray="3,4"/></svg>');

}
.img-content.testing-box.medium-box{width: 160px;height: 160px;}
.img-content.testing-box.small-box{width: 100%;height: 23.68vw;max-width: 120px;max-height: 120px;margin: 5px;}
.img-content.testing-box span{font-size: 14px;}
.img-content.testing-box.small-box span{font-size: 12px;font-weight: 100;}
.banner-box .img-content span{font-size: 11px;}
.img-content.white-bg{background-color: white;}

#ani-start-tag{position: absolute;bottom: 80px;left: 50%;transform: translateX(-50%);white-space: nowrap;}
.img-content-box{display: inline-block;width: 110px;font-size: small;word-break: keep-all;}
#image09-float-container{position: absolute;bottom: 0;left: 0;transform: translateY(50%);white-space: nowrap;overflow: hidden;}

.empty-star, .painted-star, .half-filled-star, .filled-star{padding:2px;cursor: pointer;}
.box-space-around{display: flex;justify-content: space-around;}
.pounding{animation: 0.25s pounding infinite alternate;}

@keyframes pounding {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.scroll-indicator{
    display: inline-flex;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 40px;
    background: rgba(255,255,255,.5);
    color: #666;
    z-index: 999;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#image-slide-zone{
    overflow: hidden;
}
.bottom-fixed-area{
    position: fixed;
    z-index: 3;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
#goFirstBtn{
    height: 50px;
    margin-bottom: 35px;
    box-shadow: 1px 2px 2px #00000033;
}
#goFirstBtn.hide{
    display: none;
}
.fact-chk #feedback-area{background: #514096;}
.balance-type #feedback-area{background: #33b4c7;}

/* 삭제 예정 */
._6B_019 #feedback-area{background: #6c2a2a;}
._3A_004 #feedback-area{background: #174c5e;}
._3A_024 #feedback-area{background: #133f4e;}
/* ._7D_003 #feedback-area{background: #2f65b3;} */
._7E_006 #feedback-area{background: #d95584;}
._2B_061 #feedback-area{background: #823333;}
._5B_041 #feedback-area{background: #823333;}
/* 삭제 예정 */


/* .dimmed{display: none !important;}
.bottom-sheet-wrapper{display: none !important;} */

/* bottom-sheet 관련 삭제 예정 */
/* .bottom-sheet-wrapper{
    -webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.4s;
}          
.bottom-sheet-close-btn-area{
    text-align: center;
    padding-bottom: 10px;
}
.close-btn{
    width: 36px;
    height: 36px;
    padding: 6px;
    background: rgba(0,0,0,.35);
    border-radius: 50%;
}
.close-btn img{
    vertical-align: middle;
    transform: translateY(-2px);
}
.bottom-sheet{
    background: white;
    padding: 25px 25px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bottom-sheet-wrapper.hide{
    transform: translateY(calc(100% + 10px));
}
.bottom-sheet .headline{
    display: flex;
    align-items: center;
}
.bottom-sheet .headline>*:first-child{
    flex: 1;
}
.bottom-sheet .headline>*:last-child{
    flex: 0 1 80px;
}
.recommend-product{
    border-bottom: 1px solid #eee;
}
.recommend-product .banner-box{
    height: 85px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommend-product .banner-box .bg-circle {
    width: 70px;
    height: 70px;
    background: #ffc047;
    opacity: 0.3;
    display: inline-block;
    border-radius: 50%;
    transition-property: width,height;
    transition-duration: 0.5s;
    transform: translateY(-10px);
}
.recommend-product .banner-box .bg-circle.hide{
    width: 0;
    height: 0;
}
.recommend-product .banner-box img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.bottom-sheet a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-sheet a img{
    margin-left: 5px;
}
.bottom-sheet .certification{
    font-size: 10px;
    color: #999;
    letter-spacing: -0.5px;
}
 */
.checkbox{
    transform: translateY(4px);
    margin-right: 4px;
}
.loading-screen{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 25;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-screen[data-is-playing-loading=false]{
    display: none;
}
.loading-screen b{
    color: #003887;
    font-weight: 700;
}
.checklist img{
    margin-right: 6px;
    /* transform: translateY(6px); */
}

/* 퀴즈형 */
.horizontal-box{padding: 0 16.5px;max-width: 540px;margin: 0 auto;}
.horizontal-box ul{display: flex;}
.horizontal-box ul li{padding: 0 3.5px;flex: 1;filter: drop-shadow(0 5px 3px rgba(0,0,0,0.2));}
.horizontal-box ul li .inner{position: relative;}
.horizontal-box ul li .inner input{width: 0;height: 0;visibility: hidden;font-size: 0;position: absolute;top: 0;left: 0;text-indent: -9999px;}
.horizontal-box ul li .inner{overflow: hidden;}
.horizontal-box ul li .inner label {display: block;padding-bottom: 10px;}
.horizontal-box ul li .inner label .box{position: relative;background: #fff;border-radius: 15px;padding: 20px 0;height: 230px;box-sizing: border-box;text-align: center;}
.horizontal-box ul li .inner label .box::after{content: "";display: block;position: absolute;bottom: -10px;left: 50%;transform: translate(-50%);width: 20px;height: 12px;background: url(../img/ico_bg_q_off.png) 0 0 no-repeat;background-size: contain;}
.horizontal-box ul li .inner label .box .img-box{display: flex;justify-content: center;margin-top: 25px;}
.horizontal-box ul li .inner label .box .img-box img{width: 80px;justify-content: center;}
.horizontal-box ul li .inner label .box .radio-btn{margin: 20px auto 0;}

.horizontal-box ul li .inner input:checked+label .box{border: 2px solid #cc3e70;padding: 18px 12px;}
.horizontal-box ul li .inner input:checked+label .box::after{width: 20px;height: 12px;bottom: -12px;background: url(../img/ico_bg_q_on.png) 0 0 no-repeat;background-size: contain;}
.horizontal-box ul li .inner input:checked+label .box .radio-btn{border: 7px solid #d95584;}


/* 해상도 대응 */
@media (max-width: 375px) {
    .fact-chk .main-banner-wrapper{height: 360px;}
    .information-type .main-banner-wrapper.center-type{height: 360px;}
}

