@charset "utf-8";
html.lock{overflow: hidden;height: 100vh;}

/* 공유하기 팝업 */
.dim{z-index: 20;display: none;position: fixed;top: 0;left: 0;min-width: 100%;min-height: 100%;width: 100vw;height: 100vh;background: #000;opacity: 0.5;}
.dim.active{display: block;}

/* URL공유 토스트 팝업 */
.toast_wrap_share{z-index: 60;height: 0;opacity: 0;overflow: hidden;position: fixed;left: 50%;top: 50%;width: 300px;transform: translate(-50%);transition: all 0.4s;font-size: 0;}
.toast_wrap_share.on{height: 60px;opacity: 1;}
.toast_wrap_share .toast_message{display: -ms-inline-flexbox;display: inline-flex;display: -webkit-inline-flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-justify-content: center;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;box-sizing: border-box;width: 100%;height: 60px;padding: 2px 30px 0;border-radius: 10px;background: rgba(80, 85, 177, 0.9);border: 1px solid #5055b1;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);color: #fff;font-size: 15px;line-height: 23px;letter-spacing: -0.01em;font-weight: 500;text-align: center;}

/* 약관 팝업 */
.pop_area{z-index: 40;position: fixed;top: 50%;left: 50%;margin: -300px 0 0 -300px;width: 600px;height: 600px;background: #fff;overflow: hidden;color: #222; border-radius: 10px;box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);}
.pop_area .pop_inner{overflow: hidden;}
.pop_area .pop_inner .pop_header{width: 100%;height: 71px;padding: 30px 30px 0; color: #000;font-size: 20px;font-weight: 500;}
.pop_area .pop_inner .pop_header .pop_header_inner{padding-bottom: 10px;border-bottom: 1px solid #eee;}
.pop_area .pop_inner .pop_header .btn-close{position: absolute;top: 25px;right: 30px;width: 40px;height: 40px;}
.pop_area .pop_inner .pop_header .btn-close img{width: 100%;height: 100%;}
.pop_area .pop_inner .pop_cont{font-size: 20px;height: 439px;overflow-y: scroll; padding: 20px 10px 18px 30px;margin-right: 20px;}
.pop_area .pop_inner .pop_cont::-webkit-scrollbar{width: 4px;}
.pop_area .pop_inner .pop_cont::-webkit-scrollbar-thumb{background: rgba(0, 0, 0, 0.1);border-radius: 2px;}
.pop_area .pop_inner .pop_cont::-webkit-scrollbar-track{background: #fff;}

.pop_area .pop_footer{width: 100%;height: 90px;position: absolute;bottom: 0;left: 0;padding: 20px 132.5px 30px;}
.pop_area .pop_footer.shadow{box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05);}
.pop_area .pop_footer .btn-box{padding-bottom: 20px;background: #fff;}

.pop_area .pop_footer .btn-box{width: 100%;display: flex;justify-content: space-between;}
.pop_area .pop_footer .btn-box .btn{width: calc(50% - 2.5px);height: 40px;background: #767676;border-radius: 5px;line-height: 40px;color: #fff;text-align: center;font-size: 15px;font-weight: 700;}
.type_a .pop_area .pop_footer .btn-box .btn.agree{background: #27809e;}
.type_b .pop_area .pop_footer .btn-box .btn.agree{background: #d95555;}
.type_c .pop_area .pop_footer .btn-box .btn.agree{background: #7659d8;}
.type_d .pop_area .pop_footer .btn-box .btn.agree{background: #2254c0;}
.type_e .pop_area .pop_footer .btn-box .btn.agree{background: #d95584;}
.type_f .pop_area .pop_footer .btn-box .btn.agree{background: #33b4c7;}
.type_g .pop_area .pop_footer .btn-box .btn.agree{background: #d95584;}

.type-2 .pop_area .pop_footer .btn-box .btn{border: solid 1px #444;background-color: #fff;color: #444;}
.type-2 .pop_area .pop_footer .btn-box .btn.agree{background: #444;border: none;color: #fff}

.pop_area .dl_box{font-size: 14px;}
.pop_area .dl_box dl{padding-left: 7px;position: relative;}
.pop_area .dl_box dl::before{content: "";position: absolute;top: 9px;left: 0;width: 2px;height: 2px;border-radius: 50%;background-color: #777;}
.pop_area .dl_box dt{color: #555;}
.pop_area .dl_box dd{color: #222;font-weight: 500;}

.pop_area .gray_box{padding: 15px 20px;border-radius: 5px;border: solid 1px #eee;background-color: #f7f7f7;}
.pop_area .gray_box dt{font-size: 13px;font-weight: 700;}
.pop_area .gray_box dd{margin-top: 4px;font-size: 12px;color: #555;}

.pop_area .chk_area{}
.pop_area .chk_area::after{content: "";display: block;clear: both;}
.pop_area .chk_area .agree_box{float: left;}
.pop_area .chk_area .agree_box + .agree_box{margin-left: 45px;}
.pop_area .chk_area label{display: inline-block;font-size: 0;height: 40px;position: relative;padding-left: 35px;}
.pop_area .chk_area label input{width: 0;height: 0;opacity: 0;}
.pop_area .chk_area label span{color: #222;font-size: 15px;line-height: 40px;}
.pop_area .chk_area label input:checked + i + span{color: #222;font-weight: 500;}

.pop_area .chk_area .agree_box label input + i{display: inline-block;font-size: 0;position: absolute;top: 5px;left: 0;width: 30px;height: 30px;background: url(../img/icon/ico-chk-all.png) 0 0 no-repeat;background-size: contain;}
.pop_area .chk_area .agree_box label input:checked + i{background: url(../img/icon/ico-chk-all-on.png) 0 0 no-repeat;background-size: contain;}
.pop_area .chk_area .agree_box label span{font-size: 16px;}

/* 마케팅 수신 항복 미선택시 토스트 메세지 */
.toast_wrap_agree{z-index: 60;height: 0;opacity: 0;overflow: hidden;position: fixed;left: 50%;top: 50%;width: auto;transform: translate(-50%);transition: all 0.4s;font-size: 0;}
.toast_wrap_agree.on{height: 60px;opacity: 1;}
.toast_wrap_agree .toast_message{display: -ms-inline-flexbox;display: inline-flex;display: -webkit-inline-flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-justify-content: center;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;box-sizing: border-box;width: 100%;height: 60px;padding: 2px 30px 0;border-radius: 10px;background: rgba(80, 85, 177, 0.9);border: 1px solid #5055b1;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);color: #fff;font-size: 15px;line-height: 23px;letter-spacing: -0.01em;font-weight: 500;text-align: center;}

/* 제3자 제공 동의 유도 토스트 메세지 */
.toast_wrap_re{z-index: 60;height: 0;opacity: 0;overflow: hidden;position: fixed;left: 50%;top: 50%;width: auto;transform: translate(-50%);transition: all 0.4s;font-size: 0;}
.toast_wrap_re.on{height: 60px;opacity: 1;}
.toast_wrap_re .toast_message{display: -ms-inline-flexbox;display: inline-flex;display: -webkit-inline-flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-justify-content: center;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;box-sizing: border-box;width: 100%;height: 60px;padding: 2px 30px 0;border-radius: 10px;background: rgba(80, 85, 177, 0.9);border: 1px solid #5055b1;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);color: #fff;font-size: 15px;line-height: 23px;letter-spacing: -0.01em;font-weight: 500;text-align: center;}
/* // 약관 팝업 */

/* 확인하기 버튼 로그인 컨펌 link_login */
#poplogin{z-index: 40;display: none;position: fixed;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);max-width: 335px;width: calc(100vw - 40px);}
#poplogin.active{display: block;}
#poplogin .poplogin-inner{border-radius: 16px;overflow: hidden;}
#poplogin .poplogin-inner .dialog-contents{background: #fff;padding: 30px;display: flex;justify-content: center;color: #000;text-align: center;font-size: 15px;font-weight: 500;}
#poplogin .poplogin-inner .dialog-btn{display: flex;}
#poplogin .poplogin-inner .dialog-btn button{flex: 1;cursor: pointer;color: #fff;padding: 5px 0;height: 50px;font-size: 15px;font-weight: 700;}
#poplogin .poplogin-inner .dialog-btn .btn-next{background: #767676;}
#poplogin .poplogin-inner .dialog-btn .btn-login{background: #5055b1;}

/* 공통 팝업 스타일1 - 얼럿 */
.com-pop01{z-index: 40;display: none;position: fixed;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);max-width: 335px;width: calc(100vw - 40px);}
.com-pop01.active{display: block;}
.com-pop01 .com-pop01-inner{border-radius: 16px;overflow: hidden;}
.com-pop01 .com-pop01-inner .dialog-contents{background: #fff;padding: 30px;display: flex;justify-content: center;color: #000;text-align: center;font-size: 15px;font-weight: 500;}
.com-pop01 .com-pop01-inner .dialog-btn{display: flex;}
.com-pop01 .com-pop01-inner .dialog-btn button{flex: 1;cursor: pointer;color: #fff;padding: 5px 0;height: 50px;font-size: 15px;font-weight: 700;}
.com-pop01 .com-pop01-inner .dialog-btn .btn-next{background: #767676;}
.com-pop01 .com-pop01-inner .dialog-btn .btn-login{background: #5055b1;}